[2018-11-02 18:32] gurabli commented on #188
I also get this error, using vpn container and network_mode
Any ideas?

[2018-11-03 06:45] gurabli commented on #188
Have the same error, and don't know if this has been fixed or any way to get around?

[2018-11-06 18:48] darknode commented on #239
Hi!
As for me it's relevant feature, but keep in mind that watchtower used to work inside docker container, so in this case docker argument `--hostname` should be added: `docker .... --hostname watchtower1 ....` to set some useful value. Also I would add and enable this feature with flag like  `WATCHTOWER_NOTIFICATIONS_USE_HOSTNAME`. If it's ok, I'll try to implement it.

[2018-11-07 05:58] Jacobh2 commented on #239
The ability to set hostname and for watchtower to also send that would completely solve my use case! Either that we can set the hostname using the flag you name, or that it uses the hostname of the docker container (which can be customized with `--hostname`)

Today I'm using the "use log" flag, which is still nice, just not verbose enough since it lacks the hostname. If these flags could be used t

[2018-11-07 06:51] Jacobh2 commented on #239
Another version of this is if there should be a flag to also include the hostname in all the logs as a prefix. That way it will also show in the logs where it's from! And since the logs are already being sent to msteams, all the nessecary information will be there!

[2018-11-14 14:51] MartijnHols commented on #19
I just tested this, this doesn't look to be the case (anymore?) and both containers get updated;
![image](https://user-images.githubusercontent.com/4565223/48490202-3119ab80-e825-11e8-895c-191641b73b24.png)

[2018-11-15 10:19] c-m-hunt commented on #19
Ah nice. I'll try and revisit at some point. Thanks

[2018-11-15 18:13] diamondsw commented on #238
Agreed that running on boot should be all that is required (I have similar links created at boot). To add to this, the task should run as root and omit the sudo, as sudo will request a password.

[2018-11-16 21:56] mariotacke commented on #240
Until we merge #241, I released a version with those three options enabled: https://hub.docker.com/r/mariotacke/watchtower/

Documentation here:
https://github.com/mariotacke/watchtower/tree/feat/240-implement-other-slack-options#notifications-through-slack-webhook

[2018-11-21 14:05] hazcod commented on #190
I am having the same issue for a bind mount.

[2018-11-23 08:05] SuperXFan opened #243 "add DOCKER_HOST can not run"
mine run:
```docker run -d --name watchtower --rm -v /var/run/docker.sock:/var/run/docker.sock --env DOCKER_HOST="tcp://192.168.3.13:5000"  --env REPO_USER="pi" --env REPO_PASS="123456" v2tec/watchtower:armhf-latest --interval 30```

docker ps  &&  docker ps -a     can not  show  watchtower. i have to remove --env DOCKER_HOST="tcp://192.168.3.13:5000"?

[2018-11-24 19:54] Aerya commented on #192
Hi, same here. Any update/ETA ?

[2018-11-24 22:55] xbmcnut opened #244 "Synology error: Invalid Character 'p'"
In the last 10 days or so, without any Docker mods from me, I've started to get constant errors emailed through and I don't know where to start. Could be a Synology update that has killed things?

[code]

Any clues?

[2018-11-24 22:58] xbmcnut commented on #244
Here is my Docker file that's been running sweet for the last two months.

[code]

[2018-11-25 01:16] zenofile commented on #244
Same here, not only on a Synology NAS but on Archlinux aswell:

`Docker version 18.09.0-ce, build 4d60db472b`
[code]

The watchtower container is started through docker-compose.

docker-compose.yml:
[code]

[2018-11-25 04:06] iyerusad commented on #244
Seeing same from similar WatchTower docker set up.

Shutting off container in meantime - possibly retrying efforts may have contributed to blowing through a bandwidth cap.

[2018-11-25 06:19] circa10a commented on #244
Did you add auth to your registry and not update the watchtower config?

[2018-11-25 06:34] samara8609 commented on #244
seeing the same issue.  Nothing in the setup has changed.

section of my compose for watchtower:

  #Watchtower
  watchtower:
    container_name: watchtower
    image: v2tec/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup
    networks:
      - bridgeRestrictIP

[2018-11-25 09:06] Ezwen commented on #244
Same problem here on Debian, possibly after updating docker itself. Maybe a change was made in the default configuration of docker? Or maybe does the default docker registry now requires authentication...?

Also I am not using any private registry.

[2018-11-25 09:31] a10kiloham commented on #244
Same here on Ubuntu 18

[2018-11-25 09:58] zenofile commented on #244
I tried a 10 second interval with debug mode enabled and the error shows only sporadically this way, about every five minutes, if at all.

[code]
The fact that the rest of the requests are fine does rather not indicate some kind of rate limiting I suppose.
Maybe a specific registry server is having issues and only gets hit every now and then?

Edit: This also happens when specifying `REPO_USER` an

[2018-11-25 11:02] waja commented on #244
This issue started on 23rd November on several systems here (Debian 9 systems). No docker, docker-compose or watchtower updates was deployed since then. It seems not to happen not every time and I would bet it's related to issues at docker hub.

[2018-11-25 15:17] circa10a commented on #244
https://github.com/docker/hub-feedback/issues/1693

[2018-11-25 17:05] niXta1 commented on #238
Some other (qnap?) NAS can't/have a problem with start on boot. Synology does not have that problem, and there is no need to run it at an interval.
It is more of a general NAS solution.

[2018-11-25 17:17] Aerya commented on #244
Same in here...
[code]

[2018-11-26 00:56] mariotacke commented on #244
Same here, probably related to https://github.com/docker/hub-feedback/issues/1693 as @circa10a already mentioned.

[2018-11-26 06:58] ovizii commented on #192
I'm getting new (similar) errors with all containers for the last 2 days:

`2018-11-25 22:57:38 (info): Unable to update container /unifi, err='Error response from daemon: error parsing HTTP 404 response body: invalid character 'p' after top-level value: "404 page not found\n"'. Proceeding to next.`

`2018-11-25 23:27:41 (info): Unable to update container /portainer, err='Error response from daemo

[2018-11-26 08:19] waja commented on #192
This is related to #244 or better https://github.com/docker/hub-feedback/issues/1693.

[2018-11-26 10:35] ovizii commented on #192
Thanks for pointing me in the right direction. I have now subscribed to those issues.

[2018-11-29 07:49] jeremiahkjones commented on #185
+1
Would love to be able to notify jenkins that an update was completed

[2018-11-29 07:53] jeremiahkjones opened #245 "Slack notifications not working with error: Failed to fire hook: Post : unsupported protocol scheme """
Watchtower is working great, minus Slack notifications.

I've already reviewed Issue #177 but the resolution of not including quotes is not solving the problem for me.  Here is the compose section:
[code]
I've already verified (and triple-checked) that the WATCHTOWER_NOTIFICATIONS_SLACK_HOOK_URL is being passed through to the compose file correctly (via docker-compose config).  I've also confirmed

[2018-12-01 11:31] nightah commented on #244
This issue has been resolved as far as I can tell, haven't had it occur for several days.

Probably best to close this and track the upstream issue for a post-mortem.

[2018-12-01 11:38] nightah opened #246 "Repo Status?"
@stffabi just wondering on an official word regarding status of this repository.

Firstly I would like to say that I appreciate all you've done for us so far, so please don't take this the wrong way.

I haven't seen any commits since March and not much involvement around merging PRs. I understand that things can get very busy in real life and sometimes we don't get as much chance as we would like

[2018-12-01 12:41] niXta1 commented on #246
The last sign of movement: https://github.com/v2tec/watchtower/issues/169

This container is way too good and useful to die :(

[2018-12-03 06:10] xbmcnut commented on #244
Yep, seems fixed. No more errors since Docker Hub made some tweaks.

[2018-12-03 06:10] #244 closed, assigned to nobody

[2018-12-04 02:50] mpatton125 commented on #225
Labels work fine - however you don't appear to be passing "--label-enable" to watchtower on the command line.

[2018-12-04 02:51] mpatton125 commented on #222
You have to make sure you set "--label-enable" on the watchtower command line, or label functionality won't work.

[2018-12-06 00:21] circa10a commented on #246
Not bashing watchtower at all. It's great, but for anybody looking for another solution, I've recreated most of watchtower's functionality, but in python. https://github.com/circa10a/ouroboros

[2018-12-06 00:46] nightah commented on #246
It's likely at this rate that we might need to start looking for alternatives, I hope @stffabi is okay.

Thanks @circa10a for the alternative, some nice additional features in Ouroboros, will track to try out once you're at feature parity.

[2018-12-06 11:07] niXta1 commented on #246
Ouroboros seems great except for email/notifications.
Another alternative is this fork with all good commits included: https://hub.docker.com/r/svengo/watchtower/

[2018-12-17 13:48] samizdis opened #247 "`glide up` fails, since docker/distribution/digest no longer exists"
`glide up` no longer works, since docker have moved from their own digest to opencontainers/go-digest: docker/distribution@532ec9f and removed https://github.com/docker/distribution/digest.

See https://github.com/tonistiigi/buildcache/issues/11 for a similar issue.

[2018-12-17 13:55] samizdis commented on #247
This isn't as important as I thought it was, I'd got confused between `glide up` and `glide install`.

[2018-12-17 13:55] #247 closed, assigned to nobody

[2018-12-18 19:14] Southclaws commented on #212
I've got another use-case for this, per-container schedule using labels.

Mainly because I have a couple of services that I want updates to propagate to instantly and others that I want to push updates to only in early hours.

[2018-12-20 09:15] niXta1 commented on #225
Incorrect.
From the Readme.md:
[code]
No "--label-enable" needs nor should be set.

`If you need to only include only some containers, pass the --label-enable flag on startup and set the com.centurylinklabs.watchtower.enable label with a value of true for the containers you want to watch.`

[2018-12-27 21:20] wikkixwikki opened #249 "Error response from daemon trying to update or reinstall"
getting error when trying to reinstall. While it was installed i was getting the same error when it would try to run and update other containers.

sudo docker run -d \

Unable to find image 'v2tec/watchtower:latest' locally
latest: Pulling from v2tec/watchtower
a5415f98d52c: Pull complete
c3f7208ad77c: Pull complete
169c1e589d74: Pull complete
docker: error pulling image configuration: Get https:/

[2018-12-28 01:18] AddoSolutions commented on #68
Same issue here

[2018-12-29 15:28] jvenezia commented on #188
Same pb here, I had to disable watchtower for all my containers using `network_mode`.

[2018-12-31 21:41] ghendrickson89 commented on #188
Also experiencing this.

[2019-01-01 02:56] Foebik opened #250 "Memory Leak?"
I just recently started using Watchtower a few days ago. Something I notice since installing it, within 24 hours it chews up all my available memory until the RPi becomes unresponsive. I have to power cycle the Pi and once back up, it runs just fine. But within 24 hours it will run out of memory again.

See the image below as an example. This was almost 20 hours of stats, but sometimes it happens

[2019-01-01 05:32] Foebik commented on #250
Hey, It's me again. Closing this. After further investigation, it appears to be a Mono issue with Jackett. I only notice it after I installed Watchtower, because Watchtower had just updated it.

[2019-01-01 05:32] #250 closed, assigned to nobody

[2019-01-02 12:17] jmbegley opened #251 "Watchtower not compatible with raspberry pi 3 B+"
Hi,

Would it be possible to add aarch64 support to watchtower? I have a raspberry pi 3B+ (running fedora), and unfortunately watchtower isnt compatible with this hardware :(

Many thanks,
James

[2019-01-03 20:05] jamieshaw commented on #225
Just discovered this – interesting there hasn’t been an update in 4 months…

[2019-01-04 19:39] mandreko commented on #175
From my understanding, wouldn't setting the log level to 'debug' be even more verbose, and also include all 'info' messages, such as the first-run email?

[2019-01-06 09:19] TRaSH- commented on #245
hmm i got the same issue now,
it used to work here.
then i disabled it but when i enabled it again not working anymore.
trued to restart watchtower several times to see if that solved the issue but that isn't working.

[2019-01-08 00:43] circa10a commented on #246
@niXta1 Webhook/Slack notifications were recently added

[2019-01-08 03:18] KopfKrieg commented on #246
Oh, that's nice.

Since nothing happened here for 10 months now, maybe we should fork the project (and include multiple maintainers)?

[2019-01-08 18:35] alysivji commented on #233
@darknode is there a workaround to get environment variables from docker-compose into the container that was created from the updated image?

[2019-01-12 14:50] alxwolf commented on #215
+1

[2019-01-12 20:17] alxwolf commented on #215
OK, was able to fix this by stopping all running containers, starting watchtower and then restarting all other containers.

[2019-01-15 17:16] AugustoGarcia commented on #215
That doesn't really solve anything, I think. Have you checked if it is updating the containers if you do that?

[2019-01-19 02:50] JasonSwindle commented on #251
Try `v2tec/watchtower:armhf-latest`

[2019-01-20 17:40] stepri commented on #99
Same issue here, I tried everything..

[2019-01-21 11:43] rfgamaral opened #252 "What are the specific requirements for Watchtower to run on Synology DSM?"
My question is relative to the need to symlink `/var/run/docker.sock` to `/volume1/docker/docker.sock` because per the Wiki:

However, this is not true for my Synology. I'm running the latest DSM 6.2 (at the time of writing) instead of 6.0/6.1 (as the Wiki states). In other words, I'm creating my container with the volume `/var/run/docker.sock:/var/run/docker.sock` without any issues. I can stop/s

[2019-01-24 07:26] pvaillant commented on #180
Any update on this? I'm also interested in msteams integration.

[2019-01-24 12:55] boexler commented on #252
Could you provide your docker-compose.yml file?

[code]

[code]

This is my output and the watchtower is not updating or doing anything..

[2019-01-24 18:08] rfgamaral commented on #252
I don't use `docker-compose.yml` I ran this directly through SSH:

[code]

[2019-01-25 17:40] MAGICCC commented on #181
@aaomidi Any updates on this?

[2019-01-25 18:24] aaomidi commented on #181
Ah I didn't start. I'll get to it on Monday!

[2019-01-26 01:19] FutureTense commented on #99
@Garcia1022 @stepri

Ok, I found a workaround.  And it's werid as hell!  Basically, you need a valid `config.json` file *before* you fire up your container.  And you probably don't want to use `/root/.docker`, instead you want to use `/home/XXX/.docker` where XXX=**your_username**.  In my examples below, I've taken care of this. But neither of these are going to work unless you have a valid `/home

[2019-01-26 18:35] niXta1 commented on #252
I do the same, -v /var/run/docker.sock:/var/run/docker.sock on DSM 6.2. No issues, been running like this for a long time.

[2019-01-27 14:05] circa10a commented on #246
@nightah
We've reached full feature parity with watchtower and then some!

[2019-01-27 14:08] KopfKrieg commented on #246
Just wanted to let you know I've forked the project and I'm currently trying to apply some of the pull requests. If anyone wants to join, feel free to create pull requests. Also, if anyone has more experience than me with docker hub, I'd be glad if someone could help me (even though autobuilds are now working).

Also, a co-maintainer would be nice, you know why.

Links:
 - https://github.com/kopfk

[2019-02-05 10:55] gnumoksha commented on #249
The same error here. This is happening since I've installed Watchtower.

[2019-02-06 10:37] lowrisk75 opened #254 "Everything down !"
So I installed watchover:

[code]

my other docker was removed, then back and start again, but nothing would work anymore.

PiHole is down, sonar/radar/jacket is down, Iperf is down.

[2019-02-07 02:57] mrmachine opened #255 "Customizable Verbosity, Duplicate "found new" and "removing" alerts."
We have many projects that run several services with the same images within their stacks. E.g. Django projects that run separate celery, celerybeat, celeryflower, gunicorn, etc. all from the same image.

When Watchtower detects a new image, it sends a duplicate "Found new ... image..." notification (we're using the slack integration, but Watchtower also sends to stdout logs) *for every service*, e

[2019-02-08 12:07] Tuumke commented on #226
this is my bash file i use to create watchtower:

[code]
The only thing i really mis, is an option to identify my different watchtowers in discord

[2019-02-10 13:45] obbardc commented on #188
Same problem here using `--net=container` argument.

[2019-02-12 10:46] JoyDistelbrink commented on #226
You can have different webhooks with different pictures to identify the watchtower that is sending notifications.

It seems that the name will always be 'watchtower',  but the picture is based on your discord weebhook configuration.

[2019-02-14 17:22] mlichstein commented on #220
`stmp-relay.gmail.com` <---typo

[2019-02-15 08:15] bendwyer commented on #220
Well this is embarrassing. Thanks @mlichstein for the catch.

[2019-02-15 08:15] #220 closed, assigned to nobody

[2019-02-17 10:54] davidlandais commented on #245
I got the same error when i use double quotes in docker-compose.yml like
[code]
**But removing quotes is working for me**.

[2019-02-17 20:15] jeremiahkjones commented on #245
Thanks for the comment @davidlandais As mentioned in my original post, I am already not using quotes around the URL and it does not work. You can see the compose file I am using and there are no quotes and I verified this as described in the issue description.

[2019-02-17 20:22] meme1337 commented on #245
I was having this issue and tried removing then, as it was referenced in another issue that the double quotes where the problem. I was using an environment variable for those interested and that were facing the problem.

But I switched to Ouroboros since then, and I'm happy with the new program. Notifications work flawlessly as well as the container automatic update.

[2019-02-18 08:43] shawly commented on #99
It has already been answered by phiberoptick. This is neither a bug nor does it need a workaround, this is the expected behavior of docker: https://docs.docker.com/storage/bind-mounts/#differences-between--v-and---mount-behavior

Creating the config.json on the host like this ````echo {} > ~/.docker/config```` is enough for watchtower to work on all my hosts.

[2019-02-21 10:05] jakob-stoeck commented on #38
If you are on EC2 you don’t need to login for ECR. Just attach an IAM policy to the EC2 instance and afterwards use ECR without a login:

Add an IAM role with access to ECR: https://docs.aws.amazon.com/AmazonECR/latest/userguide/ecr_managed_policies.html

Attach this new role to your EC2 instance: https://aws.amazon.com/blogs/security/easily-replace-or-attach-an-iam-role-to-an-existing-ec2-instanc

[2019-02-22 10:33] boexler commented on #138
I'm using a commercial docker container. The licence inside needs to be deactivated before updating the container. (Licence is bound to the container ID).
So this feature would be awesome if I get an notification for a specific container that theres a new version available, without updating it by watchtower! 😃

[2019-02-26 04:13] 1n5aN1aC opened #256 "Possible to add delay for sending the email?"
So I'm getting this error when it comples updating the containers and attempts to send the email:
`Failed to send notification email:  EOF`

This is similar to #166 but I'm pretty sure it's for a different reason.  (also I am using port 587)

The problem here is one of the containers that I'm updating.....  is the mailserver itself.

Would it be possible to add a delay to sending the email to wait

[2019-02-26 19:03] apveening commented on #251
I have talmai/rpi-watchtower running on a Pi 3B+ (running Armbian, it started as a NAS project). As an alternative, I can recommend pyouroboros/ouroboros.

Small caveat: Neither product retains the IP address of the container in the upgrade, something of a hazzle as two of the containers are Pi-Hole and and Unbound recursive DNS server, which both need to be available at specifice IP addresses.

E

[2019-02-27 22:28] nickelghost opened #257 "Access denied"
Hi, I just installed watchtower for the first time, but it does not want to update my private container from docker registry. I'm getting the following error:
[code]
multiple times when I want to see the logs. Everything works fine if I use docker from cli. This is the watchtower part of my docker-compose:
[code]

[2019-03-03 17:22] SuperSandro2000 commented on #251
@jmbegley build this on the pi https://github.com/v2tec/watchtower/blob/master/dockerfile/arm64v8/Dockerfile

[2019-03-04 08:17] grewhit25 commented on #251
@jmbegley that Dockerfile won't work on the pi because it just copy in watchtower source for a different platform.

Try the Dockerfile below, build the image on your Pi 3B+ or any platform you wish to run the image on.

[code]

[2019-03-04 08:35] SuperSandro2000 commented on #251
@grewhit25 I am going to save that for when I get my ubuntu arm64 to build.

[2019-03-04 11:30] grewhit25 commented on #251
@SuperSandro2000 OK, it appears that Watchtower is being actively maintained so you might be interested in this [python-based alternative to watchtower](https://hub.docker.com/r/pyouroboros/ouroboros) which has multi-arch support for arm32 and arm64 platforms.

[2019-03-04 12:26] apveening commented on #251
@grewhit25 Please see my post of six days ago, I (still) recommend ouroboros and the self-updating ability is very nice.

[2019-03-04 19:29] EriksonBahr commented on #105
Tried today the above attempt (but with `mcr.microsoft.com/windows/nanoserver:1809`) and it still does not work... will try run watchtower on linux MobyVM and the windows containers as native ones.

Also, it's an option to simply run watchtower as standalone executable for now...

[2019-03-04 20:22] grewhit25 commented on #251
@apveening thanks I’ve noted your post. I have actually already made the switch to that product.

[2019-03-06 10:55] fronbasal opened #258 "Watchtower tries to authenticate against Docker Hub but image is from GitLab"
Hello!
I am experiencing some issues with watchtower regarding authentication against Gitlab Registry.
I have Gitlab Registry set-up and image tags starting with `registry.gitlab.com`, yet the log states that it tries to authenticate against Docker Hub (using the credentials supplied with `REPO_USER` and `REPO_PASS`).
How do I make Watchtower authenticate against Gitlab?

[2019-03-07 00:43] EriksonBahr commented on #105
I realized I need to stick on ltsc2016 windows server, so I dropped the idea of running it on linux. To workaround this issue with the container I did:

- Build Watchtower.exe
- Install chocolatey (`Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))`);
- Install nssm (`choco install nssm -y`);
- Then run th

[2019-03-07 23:28] nairbspace commented on #252
My last Synology setup I haven't had to do anything either, but I have in the past. I've had some weird issues with Synology's version of Docker or how Synology handles users/groups since it is done by `synouser` and `synogroup` commands. I've had permission errors with the symbolic link too and was better off changing the group owner of the `docker.sock` to the `docker` group via `chown root:dock

[2019-03-08 22:38] dhruvit01 commented on #43
+1 https://github.com/djmaze/shepherd seem to be working fine. Just a concern that I see that logs talks about updating service all the time, regardless if the base image is changed or not...

[2019-03-11 07:24] boexler commented on #252
Here is my `docker-compose.yml`. I'm runing a `DS918+` with `DSM 6.2`

[code]

[2019-03-11 13:22] Dunky13 commented on #43
@dhruvit01 exactly, That's an issue I'm experiencing with shepherd... And would like watchtower to pick up where they slack off.

[2019-03-11 23:32] dhruvit01 commented on #43
@Dunky13 : Agree. At this point I am using both but would like to have watch tower to support swarm. Any news/timeline on if/when this should be coming in?

[2019-03-15 16:55] sebw commented on #225
I tried to exclude my Nextcloud instance from being updated, but it got updated still.

Now I find this bug report and it's really confusing.

Documentation talks about labelling containers with `com.centurylinklabs.watchtower.enable=false`.

But then in [watchtower's very own Dockerfile](https://github.com/v2tec/watchtower/blob/8197bb669d2f3c992a094572c455cc71f6b866a8/dockerfile/amd64/Dockerfile#

[2019-03-15 18:57] sebw opened #260 "Telegram, HTTP, etc. notifications"
I don't know anything about Go.

Would re-using the notifiers from the `statping` project an easy job?

https://github.com/hunterlong/statping/tree/master/notifiers

[2019-03-15 21:19] deten commented on #252
I get the following error in log.  DSM 6.2.1

`"Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"`

[2019-03-16 17:35] nairbspace commented on #252
@dojo90 I'm assuming you have labels correctly set on your containers? try adding `--debug` and setting the interval really short to something like `--interval 15` so you can see what's going on in your log.

@deten Just to verify, you are running as root?

[2019-03-16 22:38] matthewhaworth commented on #257
I'm also having this issue.

[2019-03-16 22:42] Grouen commented on #257
try start watchtower with those environment parameters  REPO_USER='username', REPO_PASS='password'.

[2019-03-16 22:44] matthewhaworth commented on #257
I'll give that a go, but it doesn't feel very secure :(

[2019-03-16 22:56] matthewhaworth commented on #257
It worked! Just a shame I have to have password details on the command line.

[2019-03-18 11:11] boexler commented on #252
actually everything is working as expected.

[2019-03-19 16:00] darinrogers commented on #112
Another use case is when your package manager fails silently and an app with a missing dependency gets deployed. Now the container is dead because its command won't run. Even after rebuilding and creating a new, healthy image, watchtower won't restart the stopped container with the new image.

If it instead pulled the newer image and restarted the container with it, the dead host would suddenly co

[2019-03-20 09:48] untergrundbiber commented on #225
It may not work because of a typo in the code

In container.go line 15, the name of the variable is "enableLabel"
`enableLabel = "com.centurylinklabs.watchtower.enable"`
https://github.com/v2tec/watchtower/blob/master/container/container.go#L15

but in the filter function (filters.go line 54) the variable "enabledLabel" is used
`enabledLabel, ok := c.Enabled()`
https://github.com/v2tec/watchtower/

[2019-03-22 22:02] freebo commented on #180
any update on teams please -I also have this issue

[2019-03-25 14:28] erseco opened #261 "Google Hangouts Chat notifications support"
Would be nice add support to Google Hangouts Chat room notification, can be really similar to Slack webhooks, here there is some documentation about:
https://developers.google.com/hangouts/chat/how-tos/webhooks

[2019-03-25 14:56] wifiuk commented on #252
so all the comments i am reading on reddit saying dont use watchtower as it destroys stuff isnt valid?

I want to use Watchtower for automated updates, but dont want to nuke anything like i am reading on reddit..

[2019-03-27 17:34] deten opened #262 "Manually triggering Watchtower to check for updates outside of normal interval?"
Hi Guys,

I am trying to figure out if there is a way to trigger watchtower outside of the normal interval I set up.  One of my containers was updated but its actually a flawed update and it isnt working right now.  The image was updated again but it waits about 10 days to recheck.  In the mean time I wanted to see if I could send a command to watchtower to check now instead of waiting another 9 d

[2019-04-01 11:05] simonaronsson commented on #262
The easiest solution would likely be to just restart the watchtower container.

[2019-04-01 11:12] simonaronsson commented on #16
@7imbrook
what you're asking for is best resolved using enable labels, as pointed out in previous responses.

@nderjung
That's a great feature request. Unsure whether it would fit within the scope for watchtower however.

Any suggestions on how we would go about doing this in practice? Maybe a two step solution where we first check the hash of the file and; in case it differs from the last seen; p

[2019-04-02 06:47] simskij opened #1 "Suggestion: Add an option to not start the container again"
https://github.com/v2tec/watchtower/issues/5#issue-115638333

@nightexcessive

@davidgardner11

[2019-04-02 06:49] simskij opened #2 "Trigger container restart via WebHook"
https://github.com/v2tec/watchtower/issues/7#issue-124455893

@andreo

@amcsi

@nafg

@amcsi

And yes my dockerhub project having 10k pulls even know no one knows or cares about the project seems evident. But that's the smaller issue. Currently it takes about 5 minutes per project to be built automaticaaly on Dockerhub, so with the 5 minute polling I have set up with watchtower, each push to maste

[2019-04-02 07:11] simskij opened #9 "Support for AWS's ECR"
https://github.com/v2tec/watchtower/issues/38

[2019-04-02 12:26] simonaronsson opened #263 "[Fork available] This project have been abandoned for quite a while now."
I've managed to get a hold of Brian DeHamer, who was one of the original developers. Unfortunately, he doesn't have any access to the repository. As I've been unable to get hold of anyone with write access to the repo I've continued per Brians suggestion and forked the repo.

So, until development is continued in this repo or I've been able to get access to the repo; a fork will be available on ht

[2019-04-02 12:27] simonaronsson commented on #263
Much love to the original developers for their great effort with creating such a great product.

[2019-04-02 13:07] stffabi commented on #263
My deepest apologize to the community for not being able to keep the project maintained and alive. I currently have very little spare time for keeping the project maintained.

I really like people are still very interested in the project. So if you @simskij are interested in keeping the development continued and the project alive, I could transfer the repo over to  https://github.com/containerized

[2019-04-02 13:26] simonaronsson commented on #263
Thanks! That would be great. I'll go ahead and kill off my repo so you'll be able to transfer it.

And thanks again for the awesome job you've done!

[2019-04-02 13:27] simonaronsson commented on #263
Could you please make sure I get any needed dockerhub and circleci credentials as well? You can reach me at simme<at>0x12b.com

[2019-04-02 13:44] stffabi commented on #263
Great thanks for keeping the project alive, that's really awesome. I'll transfer during about the next hour.

Regarding credentials, there aren't any npm credentials needed. For CircleCI is the easiest whe you are going to link your `containerized` organization to it as soon as the repo is transferred. Then you could also publish it to your docker hub account. Then in CircleCI you could add the fo

[2019-04-02 13:45] stffabi commented on #263
We can discuss the details via mail for setting up the build-process.

[2019-04-02 15:50] #263 closed, assigned to nobody

[2019-04-02 16:06] #18 closed, assigned to nobody

[2019-04-02 16:07] simonaronsson commented on #18
As this is very closely related to what is being asked for in #262, this ticket will now be closed. Discussions may be continued in the related issue.

[2019-04-02 16:16] simonaronsson opened #264 "Additional notification options"
Moving this discussion to a [issue in shoutrrr](https://github.com/containrrr/shoutrrr/issues/2).

Thanks for understanding! 🙏

[2019-04-02 16:17] simonaronsson commented on #108
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:17] #108 closed, assigned to nobody

[2019-04-02 16:19] simonaronsson commented on #146
This issue will be merged with #264, which focuses on notifications in general.

[2019-04-02 16:19] #146 closed, assigned to nobody

[2019-04-02 16:21] simonaronsson commented on #180
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:21] #180 closed, assigned to nobody

[2019-04-02 16:21] simonaronsson commented on #181
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:21] #181 closed, assigned to nobody

[2019-04-02 16:22] simonaronsson commented on #185
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:22] #185 closed, assigned to nobody

[2019-04-02 16:23] simonaronsson commented on #187
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:23] #187 closed, assigned to nobody

[2019-04-02 16:23] simonaronsson commented on #260
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:23] #260 closed, assigned to nobody

[2019-04-02 16:24] simonaronsson commented on #261
This issue will be merged with #264, which focuses on notifications in general.
However, as I do not have any experience of using pushover, all help possible would be appreciated.

[2019-04-02 16:24] #261 closed, assigned to nobody

[2019-04-02 16:26] simonaronsson commented on #7
This issue is very closely related to #262 and will as a result be closed.

[2019-04-02 16:26] #7 closed, assigned to nobody

[2019-04-02 16:29] simonaronsson commented on #64
This will be addressed in issue #262. Feel free to participate in that issue instead. 👍

[2019-04-02 16:29] #64 closed, assigned to nobody

[2019-04-02 16:31] simonaronsson commented on #239
This issue will be merged with #264

[2019-04-02 16:32] #239 closed, assigned to nobody

[2019-04-02 16:36] simonaronsson commented on #257
As stated in the readme, if you're using that setup; you also need to make sure that you use the full image name on your containers that are using private images.

Example from https://github.com/containrrr/watchtower#usage:
[code]

If you've already tried that and still are unable to get it to work; let me know.

[2019-04-02 16:36] #257 closed, assigned to nobody

[2019-04-02 16:40] simonaronsson commented on #127
Closing due to lack of replies.

[2019-04-02 16:40] #127 closed, assigned to nobody

[2019-04-02 16:45] simonaronsson commented on #246
The project is now actively maintained again. All help is appreciated. I hope @KopfKrieg would like to join us here as well. I'm not bashing at the progress of @circa10a and Ouroboros or anything, but this project wont be archived just yet 👍 😃

[2019-04-02 16:45] #246 closed, assigned to nobody

[2019-04-02 16:46] simonaronsson commented on #246
I'm currently in the process of going through all active issues and pull requests.

[2019-04-02 16:55] simonaronsson commented on #83
Closing due to lack of activity. One might think that @jnk5y 's suggestion fixed the issue.

[2019-04-02 16:55] #83 closed, assigned to nobody

[2019-04-02 16:57] simonaronsson commented on #251
This project is now actively maintained again. Closing this question however as you seem to have gotten the answers you needed. In case you need anything else, feel free to open a new issue.

[2019-04-02 16:57] #251 closed, assigned to nobody

[2019-04-02 17:40] simonaronsson commented on #223
That is currently not possible. Feel free to create a pull request with the change however! 👍

[2019-04-02 21:58] simonaronsson commented on #24
Would you mind either attaching debug output or, even better, a reproducable minimal repo?

[2019-04-02 22:07] simonaronsson commented on #254
What do the logs say? Please attached the log of the watchtower container, preferably using the —debug switch.

[2019-04-02 22:10] simonaronsson commented on #252
@wifiuk you should of course take proper caution, try it in a test environment first and make sure you have decent backup policies in place; as you probably would for all software.

Other than that, no it does not destroy things and yes it works great 👌🏻👍🏻

[2019-04-02 22:12] simonaronsson commented on #252
Addressed to the guys that got it working on your synology, I’d be happy to merge any documentation on how to get it to work. I can’t do it myself however as I don’t have access to any synology hardware.

Thanks in advance! 🙏🏻

[2019-04-02 22:16] simonaronsson commented on #233
This is currently outside of the scope of watchtower.

If you’d like to take a stab at implementing support for this in watchtower, then feel free to go ahead and create a pull request. I’d be happy to review it. 🙏🏻

Closing this issue.

[2019-04-02 22:21] simonaronsson commented on #218
Thanks for your question.

That's actually already the case. What watchtower is checking is whether the image on dockerhub with the tag you've specified (or latest; if you havent opted for something in particular) has a hash that differs from yours. If not; nothing will happen.

[2019-04-02 22:22] simonaronsson commented on #226
I believe this issue has been resolved for now. Closing. Feel free to get in touch if the suggested solution doesn’t solve your problem.

[2019-04-02 22:23] #226 closed, assigned to nobody

[2019-04-02 22:45] molten-firescar96 commented on #24
I used this project for a couple months with no problems, so I would call this resolved.

[2019-04-03 06:59] simonaronsson commented on #245
Thanks for your bug report. I’ll investigate this a bit further and let you know.

[2019-04-03 07:09] simonaronsson commented on #97
Sounds like a great addition! Feel free to create a pull request and I’ll be happy to review it.

[2019-04-03 07:13] #24 closed, assigned to nobody

[2019-04-04 20:11] icf20 opened #269 "cant update container jellyfin"
for some odd reason watchtower cant update  https://github.com/jellyfin/jellyfin container

i dont know if is your issue or theirs :face_with_head_bandage:

[2019-04-04 20:23] simonaronsson commented on #269
Hi!

Thanks for creating an issue!
Could you please provide some more details?

Please paste how you are currently launching both jellyfin and watchtower.
Additionally, please start watchtower with the --debug flag and paste any output in the issue in a code block.

Thanks,
Simon

[2019-04-04 21:36] icf20 commented on #269
is the default way

i cant send you any debug for this issue now because last update for watchtower results into dead state

[2019-04-04 22:22] simonaronsson opened #270 "watchtower crashed after pulling :latest"
it seems that the new ci workflow produced a faulty image which got published as `:latest` causing watchtower nodes to crash. to prevent this from continue breaking containers, the `:latest` tag has been removed until the issue has been resolved.

it should still be safe to run on the 0.3.1 tag however.

apologies for any trouble this may have caused you.  hope you might have some patience as we'r

[2019-04-04 23:31] simonaronsson commented on #269
this problem relates to issue #269

[2019-04-05 06:38] simonaronsson commented on #270
the latest tag has now been recreated from 0.3.1 and tests on multiple hosts confirm that it no longer causes crashes. investigations on why goreleaser produced faulty images will continue until the ci pipeline is fully stable.

[2019-04-06 10:06] icf20 commented on #269
my bad please ignore

[code]

[2019-04-06 10:31] #269 closed, assigned to nobody

[2019-04-06 10:33] simonaronsson commented on #269
No worries, thanks for letting us now!

[2019-04-06 10:54] simonaronsson commented on #254
In case this is still an issue for you and you'd like to collaborate on a solution, feel free to get in touch again. Otherwise, this issue will now be closed.

[2019-04-06 10:54] #254 closed, assigned to nobody

[2019-04-06 12:53] simonaronsson commented on #270
Solved in v0.3.2. The latest tag has now been reintroduced

[2019-04-06 12:53] #270 closed, assigned to nobody

[2019-04-06 12:58] simonaronsson opened #271 "Old bug: Dual instances of watchtower spawned on new watchtower image"
When a new watchtower image is detected, the old instance manages to spawn two new instances before being killed of by the new container(s).

[code]

The bug has been confirmed to be present in `v2tec/watchtower:0.2.1` and `v2tec/watchtower:0.3.0` as well, so nothing new here. Annoying however, especially if you have notifications enabled - due to heavy amount of spam at the moment of upgrade.

[c

[2019-04-06 12:59] simonaronsson commented on #271
If anyone has any input on what happens here and any great way to solve it, that would be kindly appreciated. Otherwise, I'm thinking of adding some kind of dormant/sleep mode that forces the old instance to stop polling for updates as soon as it has created the new watchtower instance.

[2019-04-06 13:00] simonaronsson commented on #222
What @mpatton125 said.
Closing this issue as solved.

[2019-04-06 13:00] #222 closed, assigned to nobody

[2019-04-06 13:01] #223 closed, assigned to nobody

[2019-04-06 17:55] bergernetch commented on #195
when` --stop-timeout 60s` is specified, this error message is printed: `time="2019-04-06T17:53:56Z" level=fatal msg="flag provided but not defined: -stop-timeout" `

VERSION:  0.3.0 - fbf6c0d620cd1c1c6a3b66cb6cd2280ffe073c43 - 2018-03-02T15:09:04Z

[2019-04-06 18:09] simonaronsson commented on #195
I’ll add this to the 0.4.0 roadmap

[2019-04-06 19:16] simonaronsson commented on #11
As far as I understand your question, this isnt something we plan to support.

The reasoning behind this is that named volumes have become the new standard for persisting data.

If this is something you really need; feel free to elaborate on your sugggestion and, if we can come to a working solution, also provide a pull request.

Thanks!
🙏🏻

[2019-04-07 02:20] Rush opened #272 "Long downtime during restart of multiple containers that are based on the same image"
Let's say we have 10 containers based on the same image. Upon update watchtower will:
- stop and remove all containers
- re-create all containers

This causes downtime of N * (time to stop and start a container) - where N is the number of containers.

It would be nice if watchtower had an algorithm to:
- For each contaienr:
  - stop and remove container
  - re-create container.

Is it possible? Is

[2019-04-07 09:55] SmallFriendlyKiwi commented on #272
I've noticed the same thing and if the above could be implemented, that would be awesome :-)

[2019-04-07 12:55] simonaronsson commented on #272
Thanks for your issue! This is definitely something we should take a look at. If you feel up for it, feel free to submit a pull request and I'll have a look. 👍

[2019-04-07 14:29] simonaronsson commented on #117
Closing due to lack of activity

[2019-04-07 14:29] #117 closed, assigned to nobody

[2019-04-07 15:09] #218 closed, assigned to nobody

[2019-04-07 15:12] simonaronsson commented on #232
Hi!

Thanks for creating an issue!

We need more information to be able to help you.

- What command are you using to launch  the container you want watchtower to update?
- What command are you using to launch watchtower itself?
- Are you using docker-compose? If so, please paste relevant parts of your config in a code block.

[2019-04-07 15:23] simonaronsson commented on #235
Is your homeassistant container behaving as it should? I've been running watchtower and homeassistant myself for quite some time now without running into any issues.

Also; could you please launch watchtower with debug logs enabled and paste it here?

[2019-04-07 15:26] simonaronsson commented on #230
Our dockerfiles are all the same at the moment, so it's not really an issue. However, we should probably slim it down into one single file sometime soon. Feel free to have a stab on it and send in a PR. Thanks!

[2019-04-07 15:26] #230 closed, assigned to nobody

[2019-04-07 15:39] #240 closed, assigned to nobody

[2019-04-07 15:53] simonaronsson commented on #225
just verified that this actually does work using `--label "com.centurylinklabs.watchtower.enable=false"` running the latest watchtower release.

the variable naming pointed out by @untergrundbiber is valid as it's scope local and as such; does not result in any error.

the label mentioned by @sebw is used to point out which container's the actual watchtower.

[2019-04-07 15:53] #225 closed, assigned to nobody

[2019-04-07 15:57] simonaronsson commented on #228
as a matter of fact, redis nowadays ships with tags.

[2019-04-07 15:57] #228 closed, assigned to nobody

[2019-04-07 15:59] simonaronsson commented on #216
Great idea! Feel free to provide a PR and i'll look it through. 🙏

[2019-04-07 16:04] simonaronsson commented on #161
Hi,

Thanks for creating an issue. We will not be bundling dependencies with the project in a vendor folder. However, we've recently migrated from glide to go modules, which means you'll be able to

1. Clone the repo outside of your gopath
2. Have all your dependencies automatically installed when running `go build`.

Hope this makes building the repository more convenient for you!

🙏

[2019-04-07 16:04] #161 closed, assigned to nobody

[2019-04-07 16:07] simonaronsson commented on #206
Hi!

We do, however to the containrrr/watchtower repo on dockerhub.

🙏

[2019-04-07 16:07] #206 closed, assigned to nobody

[2019-04-07 16:16] #19 closed, assigned to nobody

[2019-04-07 16:19] #29 closed, assigned to nobody

[2019-04-07 16:22] simonaronsson commented on #84
If this still is an issue for anyone, feel free to let me know. Until then, this issue is closed as I dont have any synology device to try to reproduce it on myself.

[2019-04-07 16:22] #84 closed, assigned to nobody

[2019-04-07 16:36] simonaronsson commented on #237
As far is I can tell, this is not a watchtower issue but rather something with how synology checks whether a stop was graceful or not. You could try experimenting with different kill signals, but other than that; id suggest you let synology know.

[2019-04-07 16:36] #237 closed, assigned to nobody

[2019-04-07 17:11] simonaronsson commented on #190
We could probably add a flag to allow for volume removal as well.
Feel free to create a PR. This is likely solved by flipping client.go:107

[2019-04-07 17:32] simonaronsson commented on #17
Closing due to lack of activity. As of right now, this is not supported. Feel free to come back with a PR if this is something you really want to have.

[2019-04-07 17:32] #17 closed, assigned to nobody

[2019-04-07 17:37] simonaronsson commented on #249
Cannot reproduce. Try again with containrrr/watchtower and let me know if the problem remains. My first thought is that this might be related to date/time sync issues on the docker host.

🙏

[2019-04-07 17:37] #249 closed, assigned to nobody

[2019-04-07 17:39] simonaronsson commented on #202
This. Closing issue. 🙏

[2019-04-07 17:39] #202 closed, assigned to nobody

[2019-04-07 17:40] simonaronsson commented on #227
I dont think this is within the scope of what watchtower is trying to solve.
If this is something you'd really need however, feel free to drop a PR and I'll have a look.

Thanks 🙏

[2019-04-07 17:40] #227 closed, assigned to nobody

[2019-04-07 17:41] woodpost commented on #84
it's been working for me.  it still populates containers with some weird env variables, but they don't seem to be doing any harm, and otherwise it works perfectly.  cheers!

[2019-04-07 17:42] simonaronsson commented on #205
This happens when watchtower tries to start another round of updates before the current one finished. One way of avoiding this is to use a longer interval than 10s. However, it wont do any harm other than polluting your logs 😅

🙏

[2019-04-07 17:42] #205 closed, assigned to nobody

[2019-04-07 17:46] simonaronsson commented on #210
This is because you're not mount the unix socket in the second command you display. `sudo docker run --rm -v /var/run/docker.sock:/var/run/docker.sock v2tec/watchtower --label-enable` would solve the issue.

🙏

[2019-04-07 17:46] #210 closed, assigned to nobody

[2019-04-07 17:50] #99 closed, assigned to nobody

[2019-04-07 17:51] simonaronsson commented on #96
Closing due to lack of response. If this is still an issue, feel free to let me know and I'll take a look.

[2019-04-07 17:51] #96 closed, assigned to nobody

[2019-04-07 17:54] simonaronsson commented on #85
@alexander255s suggestion is probably the least painful approach to this.
imho, this is not something that watchtower should even aspire to solve as it would require rebuilding the image. thanks for creating an issue however and feel free to get back in touch if you have any questions or suggestions.

🙏

[2019-04-07 17:54] #85 closed, assigned to nobody

[2019-04-07 17:56] simonaronsson commented on #93
Closing due to lack of activity.

[2019-04-07 17:56] #93 closed, assigned to nobody

[2019-04-07 18:07] simonaronsson commented on #184
Thanks for creating an issue!

Passing `--label=com.centurylinklabs.watchtower.enable=true` only makes a difference if you run watchtower with the flag `--label-enable`. Your other option is to omit the `--label-enable` flag and instead set `--label=com.centurylinklabs.watchtower.enable=false` on the ones you dont want to update.

🙏

[2019-04-07 18:07] #184 closed, assigned to nobody

[2019-04-07 18:09] simonaronsson commented on #90
That is not something watchtower currently aims to solve. I do like the idea however. Do you have any suggestions on how this would work?

[2019-04-07 18:13] simonaronsson commented on #48
Official images are images published by docker. As far as I can tell, there is no possibility for us to apply or get enrolled without docker approaching us. If I'm wrong, feel free to let me know what's what though! 😅

Closing this due to age.

🙏

[2019-04-07 18:13] #48 closed, assigned to nobody

[2019-04-07 18:39] simonaronsson commented on #243
Thanks for creating an issue!

You shouldn't have to specify both docker.sock and a docker host. Could you please try the command below? The watchtower container will still be created on the docker host you're currently running the command on, however it will connect and perform updates on the host you've specified in as your `--host` argument.

[code]

🙏

[2019-04-07 18:41] simonaronsson commented on #238
This seem more like a question regarding the Synology NAS than watchtower. Closing this issue as I'm afraid I can't help much here. Maybe https://stackoverflow.com would be a better arena for this question?

[2019-04-07 18:41] #238 closed, assigned to nobody

[2019-04-07 18:48] simonaronsson commented on #215
Can't really help you there as I dont have the device you're running it on. If anyone with a synology could either point me to exactly what's wrong or help with a PR, I'd be happy to assist.

[2019-04-07 18:51] simonaronsson commented on #211
Thanks for creating an issue!

It will only update the container if the tag you've started the container with changes. For example, if 2.0 were to change, you'd be getting an updated container running the *new* 2.0. If you want it to always use the latest image however, you'd most likely want to set it up against :latest.

🙏

[2019-04-07 18:51] #211 closed, assigned to nobody

[2019-04-07 18:53] simonaronsson commented on #209
Unsure whether this is still an issue. Could someone please confirm? Thanks! 🙏

[2019-04-07 18:57] simonaronsson commented on #199
Not currently I'm afraid. However, feel free to create a PR and I'd be happy to assist you in reviewing and integrating it! 👍

[2019-04-07 19:02] simonaronsson commented on #198
This is most likely due to a out of memory exception. Do you get the same behavior if you do it on a regular computer? Could you try it out having htop or similar running in parallel just to get a good look at the memory consumption?

[2019-04-07 19:05] simonaronsson commented on #112
I can see this having a lot of hidden odd corner cases that needs to be addressed for it to work properly, especially to not make it interfer with the normal happy path. As such, it would likely require some groundwork beforehand. If you got the time and would like to have a stab at it, feel free. I'm currently preoccupied with getting the backlog back to some kind of manageable state.

I also bel

[2019-04-07 19:07] #92 closed, assigned to nobody

[2019-04-07 19:10] simonaronsson commented on #110
Sorry, but no, that is not something we're gonna do at the moment.

I've just finished upgrading the client api version even further, and it is likely that it will continue down that road. However, older images will continue to exist on dockerhub - so feel free to try them, although they wont get any updates and your mileage may vary.

[2019-04-07 19:10] #110 closed, assigned to nobody

[2019-04-07 19:12] #38 closed, assigned to nobody

[2019-04-07 19:13] simonaronsson commented on #192
This is solved according to #244. Closing issue.

[2019-04-07 19:13] #192 closed, assigned to nobody

[2019-04-07 19:15] simonaronsson commented on #77
No response in over a year. Closing.

[2019-04-07 19:15] #77 closed, assigned to nobody

[2019-04-07 19:16] simonaronsson commented on #186
Thanks for the solution, @norpan ! Would you mind creating a PR updating the readme with your solution? 🙏

[2019-04-07 19:16] #186 closed, assigned to nobody

[2019-04-07 19:18] simonaronsson commented on #119
Closing due to lack of activity

[2019-04-07 19:20] #81 closed, assigned to nobody

[2019-04-07 19:21] simonaronsson commented on #176
Closing due to lack of response.

[2019-04-07 19:21] #176 closed, assigned to nobody

[2019-04-07 19:29] simonaronsson commented on #207
Closing due to lack of activity. As @cnrmck said, it should likely be entered as one string.

With that said, I can't see anything in either our code or in github.com/robfig/cron, doing a quick read through, suggesting that it shouldn't support larger numbers than 300.

[2019-04-07 19:29] #207 closed, assigned to nobody

[2019-04-07 20:26] simonk83 commented on #235
Yep it all seems to be working fine, but it always give this error just on
the main homeassistant container. I'll turn on debug and let you know,
thanks.

On Mon, 8 Apr 2019 at 1:23 am, Simon Aronsson <notifications@github.com>
wrote:

[2019-04-08 02:14] SoulInfernoDE commented on #215
I have a synology and im using your watchtower in it. However i need to check whats going on or if i did fix it in the past already and if yes how. Getting back to you if i could debug it.

[2019-04-08 04:53] kajmagnus commented on #199
@simskij  ok, thanks for the info :- )  In my case the Bash script I've written works okay, so I won't try to create a PR. (Maybe someone else will)

[2019-04-08 05:55] #199 closed, assigned to nobody

[2019-04-08 06:04] simonaronsson commented on #189
This should likely become the default behavior with the possibility of opting out (if thats even needed)

[2019-04-08 06:08] simonaronsson commented on #175
Yes, you are absolutely correct. I think you’re talking about different things though.

First run should likely be a debug message rather than info, which I think is what was suggested here.

[2019-04-08 06:42] simonaronsson commented on #14
This is extremely old. Closing this as a lot has happened since. Let me know if the issue persists.

[2019-04-08 06:42] #14 closed, assigned to nobody

[2019-04-08 06:43] simonaronsson commented on #27
Issue is too old to hold any relevance anymore. Feel free to open a new issue if any of the problems remain.

[2019-04-08 06:43] #27 closed, assigned to simonaronsson

[2019-04-08 07:34] simonaronsson commented on #236
This would be a fun project, although not in the scope of watchtower. I might start a separate project for this. If I do, I’ll let you know.

[2019-04-08 07:34] #236 closed, assigned to nobody

[2019-04-08 09:06] willpower232 commented on #225
I was still experiencing this until I realised I was using `v2tec/watchtower` and not `containrrr/watchtower` so now this feature is working nicely!

[2019-04-08 10:37] simonaronsson commented on #225
Great! Wohoo!

[2019-04-08 14:14] restalfep commented on #238
I asked here since it was in your wiki https://github.com/containrrr/watchtower/wiki/Synology-DSM-Installation-Guide.

Step IV

I changed it to on boot though and been working well. Thanks for the great program.

[2019-04-08 18:36] simonaronsson commented on #114
merged. closing

[2019-04-08 18:36] #114 closed, assigned to nobody

[2019-04-08 18:37] simonaronsson commented on #262
I've now merged the commit adding the ability to --run-once. See the readme for a suggested solution.

[2019-04-08 18:37] #262 closed, assigned to nobody

[2019-04-08 18:38] simonaronsson commented on #175
Switched log level for "First run" to debug. Closing issue.

[2019-04-08 18:38] #175 closed, assigned to simonaronsson

[2019-04-08 18:48] simonaronsson commented on #191
Sure! You could do that with `docker logs watchtower &> output.log`.

[2019-04-08 18:48] #191 closed, assigned to simonaronsson

[2019-04-09 15:58] zoispag commented on #214
Ideally allow us to provide a template file (using go template syntax, similar to Alert Manager for Prometheus), to be able to define our own format. That would be extremely useful!

[code]

And I would totally try to implement it and start a new PR, but my golang knowledge is not sufficient.

[2019-04-10 04:49] Codelica commented on #271
First off, thanks for the cleanup here -- it's appreciated. :)  This bug is actually one of a couple that finally drove me to roll my own (less flexible) update scripts for now.  I would be interested in getting it sorted out though, and I'm willing to help test.

After looking things over, here is what I see...

The `com.centurylinklabs.watchtower` label is used to ID actual Watchtower containers

[2019-04-10 16:58] Codelica commented on #258
Hello,

All of our images come from a private GitLab server with authentication, which as been working.

I assume by "tags" you mean mean your full image name begins with the `registry.gitlab.com` host?  For example if you do a `docker ps` on the host do you see images like `registry.gitlab.com/<something>/<something-else>/...` ?

One other thing to try is adding `--debug` to your command argument

[2019-04-10 17:04] Codelica commented on #264
I like it, just wish Pushover were higher.  😇 I can help test that and Webhooks when the time comes.

Also for Webhooks please consider header support if possible, for Bearer authentication.

[2019-04-10 17:27] simonaronsson commented on #264
Lets move it up a bit then :)

[2019-04-10 22:31] thelamer opened #274 "Multi Arch Builds"
I have the logic layed out in travis-ci for building and pushing armhf,arm64, and x86_64 builds of watchtower with a manifest so users can just use the :latest tag across different hardware.

https://github.com/Taisun-Docker/updater/blob/master/.travis.yml
https://github.com/Taisun-Docker/updater/blob/master/Dockerfile.amd64
https://github.com/Taisun-Docker/updater/blob/master/Dockerfile.armhf
htt

[2019-04-11 04:35] simonaronsson commented on #274
Hey!

Thanks for opening a ticket. Im not sure I understand what you are asking here, so feel free to elaborate in case I got it wrong. :D

Right now, we’re building arm64v8, armhf, amd64 and i386 images. This is done both for CI and CD. However, only pushed to dockerhub during CD.

Looking at our current available images I see the arm alternatives as well, though not taggad with a -latest suffix.

[2019-04-11 04:55] thelamer commented on #274
Ahh this new endpoint does not even show up in searches yet. I was basing off the v2tech that has not been updated in a year.

[2019-04-12 03:46] techknowlogick opened #275 "Fatal error about both interval and schedule being set, even though only interval is set"
**Describe the bug**
Unable to start watchtower due to error regarding both interval and schedule being set, however only interval is set.

**To Reproduce**
Compile watchtower based on latest commit in master, and run `watchtower --debug --cleanup --host=unix:///var/run/docker.sock --interval=300` this fails with error below. As you can see only interval is set, schedule is not.

**Expected behavi

[2019-04-12 07:30] simonaronsson commented on #275
Thanks for reporting,

I've tried the exact same command after building a clean checkout of master and could not reproduce the error.

Please check whether you have `WATCHTOWER_POLL_INTERVAL` or `WATCHTOWER_SCHEDULE` set in your environment variables, as these are read as well in case the flag is omitted during launch.

And please let me know whether it solves your issue or not.

🙏

[2019-04-12 11:12] ssbarnea commented on #48
Based on the documentation, official images do start with a PR.... see https://docs.docker.com/docker-hub/official_images/

[2019-04-12 14:25] techknowlogick commented on #275
`WATCHTOWER_SCHEDULE` is set however it is empty. Would you accept a PR to change the conditional to instead of checking if it is set, instead it additionally checks if `len(schedule) > 0`?

I would add the additional conditional to these if statements https://github.com/containrrr/watchtower/blob/master/main.go#L70

[2019-04-12 14:46] simonaronsson commented on #275
Sure! Go for it! Feel free to add some unit tests for it as well if you got the time and enough go experience! 👍🏻🙌🏻🙏🏻

[2019-04-12 22:31] ookla-ariel-ride opened #276 "Watchtower config file?"
Could a feature be added to Watchtower to allow it load runtime arguments from a config file?  I'd like this to be something we can put on the host filesystem so that it would be very easy to change runtime arguments (especially for new features being added, like additional notification agents, turning on debug, etc.) and simply restart the container to load the new config.

[2019-04-13 09:35] wzv5 opened #277 "--tlsverify not working"
[code]

**Environment**
 - Platform: Windows 10, VirtualBox driver
 - Architecture: x64
 - Docker version: 18.09.3

**Additional context**
When I using `-e DOCKER_CERT_PATH=/etc/ssl/docker`, it is working well.
[code]

[2019-04-13 11:51] simonaronsson commented on #277
Thanks for your report!

Seeing as the instruction in the readme specifically says to do as you've done in your "Additional context" example, I fail to see how this is a bug. Am I missing something? 😄

From the readme:

[code]

🙏

[2019-04-13 11:53] simonaronsson commented on #232
Closing due to lack of response.

[2019-04-13 11:53] #232 closed, assigned to nobody

[2019-04-13 11:53] simonaronsson commented on #11
Closing due to lack of response.

[2019-04-13 11:53] #11 closed, assigned to nobody

[2019-04-13 11:54] simonaronsson commented on #90
Closing due to lack of response.

[2019-04-13 11:54] #90 closed, assigned to nobody

[2019-04-13 11:55] simonaronsson commented on #198
Closing due to lack of response.

[2019-04-13 11:55] #198 closed, assigned to nobody

[2019-04-13 11:56] simonaronsson commented on #243
Closing due to lack of response.

[2019-04-13 11:56] #243 closed, assigned to nobody

[2019-04-13 11:57] simonaronsson commented on #209
Closing due to lack of response.

[2019-04-13 11:58] simonaronsson commented on #276
It could! If you want, feel free to create a pull request and I'll have a look at it and provide you with feedback. 👍

[2019-04-13 12:08] simonaronsson commented on #138
This has been implemented as a flag, `--monitor-only`, which will notify about new images, but not download and update containers.

[2019-04-13 12:08] #138 closed, assigned to nobody

[2019-04-13 12:10] simonaronsson commented on #151
You can run it with the flag `--run-once`, which will be made available in v0.4.0. Until then you can build watchtower from source, beware though that your mileage may vary as we're still in the middle of development here. 🙏

[2019-04-13 12:10] #151 closed, assigned to nobody

[2019-04-13 13:53] wzv5 commented on #277
First, in Windows, `$DOCKER_CERT_PATH` is `C:\Users\...\.docker\machine\machines\default`, it must be converted to `/c/Users/.../.docker/machine/machines/default`.

And as you said:
[code]
The problem remains.

So it's necessary to pass `-e DOCKER_CERT_PATH=/etc/ssl/docker`, and it is not included in the readme.

[2019-04-13 21:48] thelamer commented on #274
@simskij Re-opening this issue as it boils down to leveraging Docker Manifests, you have tags available for armhf and arm64v8 but when you pull latest or 0.3.1 you get the x86 variant.

Check out the difference of these commands:

[code]
[code]
As I say the logic for pushing a manifested endpoint is here:

https://github.com/Taisun-Docker/updater/blob/master/.travis.yml

I am not entirely sure how

[2019-04-13 22:21] simonaronsson commented on #274
Thanks! I see what you mean now. I've looked through your travis files and you should be able to do the same annotation shennanigans, ie:
[code]
with circleci as subsequent run commands [here](https://github.com/containrrr/watchtower/blob/1f9099770b25b26b66bef355f4d66dda492db06f/.circleci/config.yml#L96). Feel free to give it a try. I'd be happy to review your changes and help you in getting it to

[2019-04-14 16:08] svengo opened #279 "How to build"
How I can I build the project locally? The info on [CONTRIBUTING.md](https://github.com/containrrr/watchtower/blob/master/CONTRIBUTING.md) is outdated.

[2019-04-14 16:26] simonaronsson commented on #279
Thanks for creating an issue,

I've gone ahead and updated the instructions to reflect the changes that have been done the last couple of weeks.

https://github.com/containrrr/watchtower/blob/master/CONTRIBUTING.md

Hope this works better. 🙏

[2019-04-14 16:30] simonaronsson opened #280 "Switch from hound to codacy"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Automated, and highly configurable, code reviews that allow you to see detailed reports of the code base health.

**Describe alternatives you've considered**
* SonarCloud
* Codebeat
* Code climate
* Hound

**Additional context**
To me, none of the alternatives are as good, smooth and visual

[2019-04-14 16:35] #233 closed, assigned to nobody

[2019-04-14 16:37] simonaronsson commented on #154
If anyone would like to take a stab at it, I'd be happy to review it and provide feedback.

[2019-04-14 16:42] simonaronsson commented on #126
As docker links are considered deprecated, this isnt something I will prioritize. If someone would like to have a stab at providing a PR, I'd be happy to review it however.

[Docker official documentation deprecation notice](https://docs.docker.com/network/links/) added as reference.

[2019-04-14 16:42] #126 closed, assigned to nobody

[2019-04-14 16:44] simonaronsson commented on #25
As docker links are considered deprecated, this isnt something I will prioritize. If someone would like to have a stab at providing a PR, I'd be happy to review it however.

[Docker official documentation deprecation notice](https://docs.docker.com/network/links/) added as reference.

[2019-04-14 16:44] #25 closed, assigned to nobody

[2019-04-14 18:55] svengo commented on #279
Thanks for the quick response. I had to modify the commands slightly:

[code]

[2019-04-14 18:55] #279 closed, assigned to nobody

[2019-04-15 06:22] #274 closed, assigned to nobody

[2019-04-15 08:24] simonaronsson commented on #280
Done in fc739c5ca89decff70bbccf47389ee6ec8a8adee

[2019-04-15 08:24] #280 closed, assigned to simonaronsson

[2019-04-15 10:29] SmallFriendlyKiwi opened #281 "0.3.3 appears to break email notifications"
With version 0.3.3, I no longer get email notifications.

All versions of containrrr/watchtower up to 0.3.2 send me email notifications, as desired.
v2tec/watchtower sends emails notifications, as desired

**To Reproduce**
This is my Dockerfile that works and sends emails (0.3.2):

docker run -d \
  --name watchtower \
  --hostname=azure.dockerhost001 \
  -v /var/run/docker.sock:/var/run/docker.so

[2019-04-15 11:29] simonaronsson commented on #281
Thanks for your report! 🙏

I'll try to repro the error as soon as I get a chance. I'll also see if we may add some unit tests to make sure we wont get any regression in the future.

[2019-04-15 12:06] SmallFriendlyKiwi commented on #281
I'm looking into this a bit further by examining some of my other hosts- Please disregard for now

[2019-04-15 12:17] simonaronsson commented on #281
Alright, let me know if the problem persists!

[2019-04-15 19:22] #275 closed, assigned to nobody

[2019-04-15 20:22] #5 closed, assigned to nobody

[2019-04-15 20:24] simonaronsson commented on #28
If this is still something you'd like to have added, feel free to get back with a pull request and i'll make sure to review it as soon as possible. Until then, closing the issue due to lack of activity.

[2019-04-15 20:24] #28 closed, assigned to nobody

[2019-04-16 09:36] SmallFriendlyKiwi commented on #281
I'm happy, after further testing, that 0.3.3 appears to break email notifications for my configuration, at least.  More accurate details, below:

__Tested__ 0.3.1, 0.3.2 and 0.3.3 of containrrr/watchtower
__Tested__ v2tec/watchtower

__0.3.1__: Sends emails
__0.3.2__: Sends emails
__0.3.3__: __Does not send__ emails
__v2tec__: Sends emails

__Expected behavior__
Email notifications should continue

[2019-04-16 09:51] simonaronsson commented on #281
Extremely weird. I've dug through the diffs between 3.2 and 3.3 and cant really see any related changes. I'll dig a bit deeper and get back to you. Thanks again!

[2019-04-16 10:18] SmallFriendlyKiwi commented on #281
I think I can see the problem in the code - I'm just not suitably familiar with Go, git and github to do a pull request - Sorry :-(

It looks like there has been some refactoring and a line has been missed at the end.
notifier.SendNotification()

__Currently__
[code]

__Should be?__
[code]

[2019-04-16 10:29] simonaronsson commented on #281
Sounds reasonable! Thanks for your great work!

[2019-04-16 14:40] zoispag commented on #214
Bump up!?
Not a low priority for some of us! 😄

Not bugging though :)

[2019-04-16 16:08] simonaronsson commented on #281
Should be fixed with ccd746e9cc53f78f3c3ca5edb79df42fe4366855.
Would you mind building it from hash and see if it solves the problem for you?

I'm still working on getting OK test coverage for these things, and until then; things are a bit more
cumbersome. 😄

[2019-04-16 16:30] simonaronsson commented on #140
I'm not sure whether this has been solved without being referenced or if you're expecting some other behavior than the implemented one. Just tried this locally using:
[code]
and on my system it removes all images it substitutes. However, which is the bit im unsure whether you mean or not, it wont clean up OTHER images tagged as \<none\>.

Closibg as this has been dormant for more than six months.

[2019-04-16 16:37] #140 closed, assigned to nobody

[2019-04-16 19:53] simonaronsson commented on #214
I feel you, but I only have so many hours to put into open source each month.

It’s up for grabs though so if anyone want to take a stab at it; feel absolutely free. For now, however, I believe my time is better used elsewhere on the project.

🙏🏻

[2019-04-16 22:47] SmallFriendlyKiwi commented on #281
I'll give it a go :-)  I'll do some reading and see how I go.  It will be a voyage of discovery for me!

[2019-04-17 04:07] SmallFriendlyKiwi commented on #281
I was able to make the Go executable, watchtower.

However, I'm struggling to build a docker image that works and I've been unable to resolve it - sorry :-(.

The container always exits with:

[code]

More details, below, of how I approached it:

[code]

[code]

[code]

[code]

[2019-04-17 13:47] svengo commented on #281
I used [Dockerfile](https://gist.github.com/svengo/feb38f545ebbb63a689e1e937b30f2b7) to build watchtower. E-mails are working again :-)

[2019-04-17 13:59] simonaronsson commented on #281
Awesome @svengo!

@SmallFriendlyKiwi its crucial that you have the watchtower binary in the same folder as your building from, as well as having it built for the same arch and os as you're gonna run it on. Feel free to try out @svengo's dockerfile and let me know whether it works.

Otherwise, 0.3.4 will be released - containing the fix - sometime during this weekend.

Thanks again guys for helping

[2019-04-18 11:27] SmallFriendlyKiwi commented on #281
Yes - works for me.  Thanks for all of the help - I've learnt a lot :-)

Do you think it would be useful have a link to @svengo 's Dockerfile in the CONTRIBUTING.md file?
Also, perhaps, something more explicit in the CONTRIBUTING.md file than
[code]

From @svengo 's Dockerfile I was able to use the following command in my dev environment and then the Dockerfile in this repo worked fine for me.

[c

[2019-04-18 11:37] simonaronsson commented on #281
@SmallFriendlyKiwi Sure, feel free to open a pull request with the information you find useful!
I'll go ahead and close this issue now. Thanks again for all your collaboration guys! 🙏

[2019-04-18 11:37] #281 closed, assigned to nobody

[2019-04-18 14:48] simonaronsson commented on #277
I've been digging through the moby repo trying to find out what you might have encountered, as we only forward this param to the docker engine-api.

 [This part of client/options.go](https://github.com/moby/moby/blob/ad9362bb1567da92096ed3d74968bf3feb643fce/client/options.go#L27) as well as [this part of request.go](https://github.com/moby/moby/blob/5635c2a49870332b8d8a7ee912558fd64cece1a6/client/

[2019-04-18 15:06] #277 closed, assigned to nobody

[2019-04-20 13:30] simonaronsson commented on #189
I've been thinking a lot about this and if this could have any negative impact on any other use case. After careful consideration, I don't really think this should be added to watchtower. One (big) reason being how this would affect users running watchtower on a cron-like schedule rather than using interval.

Also, now that `--run-once` has been implemented, you actually already have the option of

[2019-04-20 13:30] #189 closed, assigned to simonaronsson

[2019-04-20 14:44] #271 closed, assigned to simonaronsson

[2019-04-20 18:39] simonaronsson commented on #264
These will be solved by replacing the current notification implementation with another project I'm working on; [containrrr/shoutrrrr](https://github.com/containrrr/shoutrrr). Whether or not this will be in 0.4.0 or in a later release is not yet written in stone and depends a lot on whether im doing it by myself or with help. 😄

[2019-04-21 12:09] simonaronsson commented on #264
Discord, telegram, slack and pushover are all implemented in shoutrrr as of [5314ee954ba8dbc1c6eb6cbde310af695c8ae1da](https://github.com/containrrr/shoutrrr/commit/5314ee954ba8dbc1c6eb6cbde310af695c8ae1da). Will implement a couple more before i'll even attempt integrating it.

[2019-04-21 16:02] kimpenhaus commented on #175
Hi,

might be nitpicking so please don't get me wrong - but I think this feature was deployed with v0.3.4 already and not with the upcoming v0.4.0. I just moved from v2tec to your docker container and was waiting for the startup email... none came. 🤣

I checked the logs which stated:

`time="2019-04-21T15:27:22Z" level=debug msg="Starting Watchtower and scheduling first run: 2019-04-21 16:27:22 +0

[2019-04-21 17:54] simonaronsson commented on #175
Yeah, im doing running releases each sunday (if there is anything to deploy). It was in the 0.4.0 milestone but got finished early. 😅

[2019-04-22 16:30] Codelica commented on #264
FWIW... I'm no Go expert, but I did made a little test run using a Pushover URL in Shoutrrr and it worked fine.  :)

[2019-04-22 19:00] simonaronsson opened #285 "Add health check command to report container status"
**Describe the solution you'd like**
Some kind of health check command used to report whether the watchtower instance is healthy or not. This information is displayed in `docker ps`.

[2019-04-23 07:36] simonaronsson commented on #213
@ovizii is this still an issue for you with `containrrr/watchtower:latest`. I've neveer seen it happen. If it is, would you mind turning on the debug flag and let me have a look at the watchtower logs the next time it occurs?

[2019-04-23 07:41] simonaronsson commented on #100
Wait time has since been replaced by a timeout, which can be overridden using the `--stop-timeout` flag.

[2019-04-23 07:41] #100 closed, assigned to nobody

[2019-04-23 07:46] #252 closed, assigned to nobody

[2019-04-23 07:46] simonaronsson commented on #252
Closing due to lack of activity.

[2019-04-23 07:48] wifiuk commented on #252
thats a shame, no one who has it working safely is happy to share the setup guide :(

[2019-04-23 07:55] waja commented on #252
@wifiuk stop blaming! This is a volunteer project.

[2019-04-23 08:02] wifiuk commented on #252
@waja i have not blamed, i just said it was a shame, which is my opinion and valid to say... blaming would be me calling someone out  for not doing something directly by name..
If i had a test environment and the time i would do it myself, but i dont..

dont take it personally ....

[2019-04-23 08:08] Bagu commented on #252
Search google, there already are some working setup guide. I have done one three month ago here : https://blog.bagu.biz/?post/2019/01/22/Automatiser-la-mise-%C3%A0-jour-des-images-Docker
But in french ;)

[2019-04-23 13:14] Hazy87 commented on #209
Yes this is still an issue,

[2019-04-23 13:15] mnl1121 commented on #209
Can confirm. Still an issue.
________________________________
From: Hazy <notifications@github.com>
Sent: Tuesday, April 23, 2019 9:14:11 AM
To: containrrr/watchtower
Cc: mnl1121; Author
Subject: Re: [containrrr/watchtower] Failed to send notification email - Unrecognized authentication type (#209)

Yes this is still an issue,

—
You are receiving this because you authored the thread.
Reply to thi

[2019-04-23 16:54] Nottt commented on #195
I'm using --stop-timeout 90s, but I feel dumb to ask, but I can't find any logs at all with `docker logs` or `docker inspect` or portainer.

Do I have to enable something to output logs or am I doing something wrong?

[2019-04-24 04:37] martinkoehler commented on #195
@Nottt
As far as I remember, you will only see it in the logs if the time-out occurs, but only indirectly, namely that the containers are forcefully stopped.

[2019-04-24 09:54] Redsandro opened #286 "Execute command inside container after update"
**Is your feature request related to a problem? Please describe.**

The GitLab CE docker container [does not include sendmail](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/2630#note_117675596). You can manually install it, but when watchtower updates `gitlab/gitlab-ce:latest`, it is gone again.

**Describe the solution you'd like**

It would be convenient if a configurable command or script

[2019-04-24 13:48] thomas-udalrik commented on #127
@simskij This seems to be the problem on my instance as well.

I enabled the slack notification and every 30 seconds I'm receiving the message "Unable to update container /watchtower. Proceeding to next."

Update of containers from the private registry work.

Watchtower version is 0.3.4

My configuration:
[code]

[2019-04-24 14:14] simonaronsson commented on #127
@kirladu Oh, when using private registrys you'll have to provide the watchtower instance the full path to the image, I.e. index.docker.io/containrrr/watchtower:latest. if the problem remains after trying that, feel free to open a new issue and i'll try to help you to the best of my abilities 🙏

[2019-04-24 18:14] thomas-udalrik commented on #127
@simskij Thanks for the hint! I switched to the full image address. Still the error message I receive every 30 seconds in Slack hasn't changed.

My adapted configuration:

[code]

I'm going to have a look at the source code. Maybe Watchtower is trying to login to Docker Hub with the credentials for the private registry?

[2019-04-24 18:22] thomas-udalrik commented on #127
@simskij Turned on debug mode and got the following message in Slack:

[code]

So Watchtower is in deed trying to login to Docker Hub with the credentials for the private registry.

Am I missing something in the configuration concept or should we improve Watchtower for that situation?

[2019-04-24 18:43] thomas-udalrik commented on #127
My current workaround is to maintain Watchtower in my private registry.

[2019-04-24 19:15] KopfKrieg commented on #286
I'm against this. The usual method is to build a container that already contains sendmail. Running apt within a container is, in general, a bad idea.

IMHO the same applies to issue #183. Updating databases is not what watchtower should do. We've got tags to make sure we pull only compatible images, everything else can be manually (and should! Someone should test it before rolling out major change

[2019-04-24 20:28] somq commented on #264
Just to say, HTTP webhook is a killer feature imo.

[2019-04-25 14:33] simonaronsson commented on #209
Email handling will be reimplemented as part of the notification overhaul (#264).
I'm not gonna put any effort into solving this bug until that work is completed.

[2019-04-25 14:33] #209 closed, assigned to nobody

[2019-04-25 14:34] simonaronsson commented on #195
@Nottt you could try adding `--debug` to your command for starting watchtower.
I'll see if I can recreate this as well.

[2019-04-25 17:04] Nottt commented on #195
Even with `--debug` there just is no logs at all... And I mean literally, no logs.

[2019-04-25 18:30] Redsandro commented on #286
Be that as it may, `gitlab-ce` builds containers _without_ `sendmail`. I'm not sure personal container building etiquette is relevant here.

[2019-04-25 18:45] simonaronsson commented on #286
@Redsandro it might be, if personal container building etiquette isn't aligned with the common practices of the community - as this project is meant to be useful for the majority of the user pool. i think what kopfkrieg is saying, is that you should wrap the gitlab-ce container with your own Dockerfile, adding sendmail using a `RUN` command.

@KopfKrieg I don't have that strong feelings in either

[2019-04-25 18:47] simonaronsson commented on #258
Closing due to lack of response.

[2019-04-25 18:47] #258 closed, assigned to nobody

[2019-04-25 18:49] simonaronsson commented on #195
That sounds fishy. Would you mind pasting the script/dockerfile part/command you use to launch your watchtower instance?

[2019-04-25 19:00] Redsandro commented on #286
@simskij said:

Doesn't this defeat the purpose of watchtower? `gitlab-ce` has daily updates. Or are you saying watchtower can build a specified Dockerfile when an upstream update was detected?

[2019-04-25 19:23] KopfKrieg commented on #286
@simskij Thanks, that's what I was trying to say. Building a custom container with sendmail is what I'd do, even if it's just adding a single argument to the Docker build file.

@Redsandro As far as I understand the philosophy behind Docker, containers shouldn't be used like virtual machines. We don't install packages in a container, we build containers that already include those packages (which c

[2019-04-25 19:36] simonaronsson commented on #286
@KopfKrieg thanks for weighing in. in that case, i'll continue going through that PR. 👍

[2019-04-25 19:55] simonaronsson commented on #195
this is not the case anymore. i just verified that it functions as it's supposed to using the following command:
[code]

closing this issue. @Nottt if your problem with showing logs remains, feel free to open a new issue on that instead. 🙏

[2019-04-25 19:55] #195 closed, assigned to simonaronsson

[2019-04-25 20:11] Redsandro commented on #286
Thank you for clarifying.

I understand your position. I think though that it is a bit too strict.

It is _"not ideal"_ at worst. The end result is the same, but the (minimal) layer is generated directly on the server while the updated image is already running/serving, in stead of having a polling infra watching upstream building a custom image to the cloud and downloading it to the server. I unde

[2019-04-25 20:11] #286 closed, assigned to nobody

[2019-04-25 20:35] KopfKrieg commented on #286
Yeah, it might be a bit strict.

Sure, but you have to do this on every single instance. That's what bothers me.

That depends on your update strategy. I only update once a day, some services only get updated once a week. So I'd have to build new images only a few minutes before the update on the server happens.

[2019-04-25 21:50] ovizii commented on #213
ok, this is probably very embarrassing but I've never not admitted when something was my fault and it looks like I had a few very, very blonde months, not moments.

I just noticed I had been using this docker image: https://hub.docker.com/r/v2tec/watchtower/

I will now immediately switch to using yours https://hub.docker.com/r/containrrr/watchtower and report back in a few days.

Apologies again

[2019-04-26 03:41] simonaronsson commented on #213
Dont worry mate! That’s not your fault as the v2tec repo was moved here just a month ago or so. :)

With that said, go ahead and try the new release and let us know. Thanks! 🙏🏻

[2019-04-27 10:45] Biepa opened #287 "Log Level Issue"
Hey,
I used v2tec Watchtower a longer time.
Was it renamed? Moved? Is there somewhere info about that?

With v2tec I always got a log entry for "First Run". And also got a mail for the "First Run" log level entry.
I changed to containrrr/watchtower and when i open the log there only is one line "Attaching to watchtower", no "First Run".

Using the environment variable "WATCHTOWER_NOFITICATIONS_LEV

[2019-04-27 11:31] simonaronsson commented on #287
Thank you for your report and your continued use of watchtower!

As the v2tec organisation no longer had enough resources to maintain the repo, it was taken over by containrrr. First run have recently been reclassified as a debug log due to user feedback classing it as too spammy. Notifications will be replaced by something (hopefully) a bit more sophisticated. Until then, no further changes will

[2019-04-27 11:31] #287 closed, assigned to nobody

[2019-04-27 18:13] fronbasal commented on #258
Hello!
I am sorry for the late response.
Yes, by tag I meant the full image name.
`--debug` attempts to auth against docker hub. I will try using an up-to-date version in a fresh environment.

[2019-04-27 21:12] simonaronsson commented on #258
If you want to utilize both private and public repos, my suggestion is that you mount `/home/<username>/.docker/config.json` in your watchtower instance rather than using `REPO_USER` and `REPO_PASS` as these env vars will be applied to all registries. However, by logging in to the repo on your docker host and then mounting the config json file, authentication will only happen for the repos that re

[2019-04-27 21:18] simonaronsson commented on #224
support for synology devices and their rather special implementation of docker is currently limited as I dont have access to any physical device. if anyone running synology has a solution for this, feel free to update the wiki FAQ with how to resolve it. otherwise; maybe the synology forum/stack overflow might be able to assist you further?

closing this as we wont be able to provide any further h

[2019-04-27 21:18] #224 closed, assigned to nobody

[2019-04-27 21:38] Nottt opened #288 "No logs and containers not being updated"
Hi, I use a ansible role to deploy watchtower to my server, however I notice there is no logs with `docker logs watchtower`, zero output.

And my containers are not also being updated... I know this because one of the dockers I use changed their dockerfile and it did not update.

[code]

What could be causing this?

[2019-04-28 07:26] Nottt commented on #288
I found the cause of this issue...

Ansible was passing the command including the `"`. Remove it and you'll see logs...but I still can't update any container because of messages like this:

[code]

I don't know what credentials are needed since this is public on docker hub. I think this is related to https://github.com/containrrr/watchtower/issues/117.. I don't use any private repo and there aren'

[2019-04-28 13:22] simonaronsson commented on #288
Thanks for your report. I'll check it out!

[2019-05-02 14:51] ianrossi opened #291 "Notifications for several different log levels"
Is there a way to have WT send notifications for multiple log level events, like `error`, `fatal` and `panic`? It would be helpful to have a notification when any of these things occur. I could not find any indication of how to do this after looking through this repo or also at the Logrus repo. It looks as though the README only shows how to notify for a single log level. Thanks!

[2019-05-02 18:31] ovizii commented on #213
I'm not sure much has changes with changing to containrrr/watchtower

all I see is this kind of messages (not enabled debugging yet) - shall I open a new ticket for that or enable debugging and post here?

[code]

[2019-05-02 20:35] simonaronsson commented on #213
Nah, we might as well take it here! If you're able to give me debug logs that would be great though. 👍

[2019-05-04 12:55] ovizii commented on #213
I checked the logs again. Seems to have now updated 1 container. I haven't touched anything meanwhile.

[code]

I have now edited my "config" file:
[code]
and this is my run script:
[code]

changed the interval to 1h (previously 6h) and will report if the debug flag outputs more details.

[2019-05-07 08:10] Nottt commented on #288
Is there any news on this? I still can't update anything, because it says that for all containers in my system :confused:

[2019-05-07 16:52] simonaronsson commented on #291
Thank you for creating an issue and thank you for using watchtower!

The notification level selected with `--notifications-level` is a threshold, not an exclusive selector. Basically, setting it to debug, will send notifications for the `debug` level and above. Setting it to `fatal` will only notify you on `fatal` or `panic` and so on.

I hope this answers your question. 🙏

[2019-05-07 16:52] #291 closed, assigned to nobody

[2019-05-07 17:07] simonaronsson commented on #288
I've never seen this behavior myself. Just to explain the logs you are getting:

`No authentication credentials found for jwilder/nginx-proxy:alpine` is supposed to occur if you're not using any special credentials and are running in debug mode. This by itself does not indicate an error.

if credentials where the reason, you'd also get a log line saying either `Error loading authentication credent

[2019-05-08 21:38] Nottt commented on #288
But if it's working as intended, why one of my dockers didn't update after a change in the dockerfile to add a healthcheck?

[2019-05-09 04:08] simonaronsson commented on #288
Which one? Has the change been built and released on dockerhub as well as github?

[2019-05-12 05:20] BakasuraRCE commented on #188
Same problem here using `docker run -d --net=container`

[2019-05-12 05:41] simonaronsson commented on #188
Thanks for your reports! 🙏 Any chance anyone would like to have a stab at creating a PR to fix this?

[2019-05-12 06:44] #276 closed, assigned to nobody

[2019-05-12 06:44] simonaronsson commented on #276
Closing due to lack of response

[2019-05-12 06:47] simonaronsson commented on #16
the main question has been answered by @nderjung. if a compose file change trigger is still wanted, feel free to open up a new issue about that and/or provide a pull request implementing said feature.

[2019-05-12 06:47] #16 closed, assigned to nobody

[2019-05-12 06:50] simonaronsson commented on #43
With that said; what are the actual functional requirements? Would someone even like to have a stab at implementing it? If so, feel free to - I'll make sure to review the PR. Thanks 🙏

[2019-05-12 06:56] simonaronsson commented on #72
yeah, that would likely be a fitting enhancement applicable to a couple of different scenarios. it would also be pretty simple to add. with that said, i'm not sure i'll have enough free time on my hands to do it any time soon.

if anyone would like to have a stab at it i'd be happy to review the pull request. my thought is that this should be implemented using a label on the target container, mayb

[2019-05-12 07:04] simonaronsson commented on #103
adding a credential helper for aws ecr would, in my opinion, mean we'd need to add credential helpers for other popular cloud providers as well. we've yet to decide whether that is actually within the scope of watchtower or if some version of @gabormay's approach should be the recommended way of doing it.

care to weigh in anyone? how do you suggest we solve this in a vendor generic manner?

[2019-05-12 07:29] #112 closed, assigned to nobody

[2019-05-12 07:31] simonaronsson commented on #76
with the next release, you'll be able to update these using `--include-stopped`

[2019-05-12 07:31] #76 closed, assigned to nobody

[2019-05-12 07:40] simonaronsson commented on #255
I'm not sure whether I think this would be an improvement or not compared to the current implementation. What would happen if watchtower finds an image, updates two of the containers and then crashes/panics? Wouldn't this mean we risk losing notifications that would actually be of relevance?

[2019-05-12 07:49] simonaronsson commented on #201
That's how docker hub works I'm afraid.
I've gone through the client api a bit as well and ImagePull currently seems to be our only option.

[2019-05-12 07:49] #201 closed, assigned to nobody

[2019-05-12 08:13] tuukka commented on #7
The solution from #262 makes it possible to trigger via an additional service, but I wish this could be re-opened to potentially have an integrated solution in the future.

[2019-05-12 09:02] mrmachine commented on #255
Not when we never even read the torrent of duplicate notifications because
it's way too noisy.

On Sun, 12 May 2019 at 5:40 pm, Simon Aronsson <notifications@github.com>
wrote:

[2019-05-12 09:23] simonaronsson commented on #255
Feel free to have a stab at it and submit a pull request, however this isn't something I'll prioritize atm, especially not until the new notification layer is in place.

You could also experiment with changing the notification log level from Info, which is the default, to only showing warnings and above.

Thanks 🙏

[2019-05-12 17:09] Ansem93 opened #292 "Update info on dockerhub and site with envrironment variable"
Hi,
I just wanted to ask if it would be possible to update the usage info adding the environment variable too.
I found them looking in the code, but it's not exactly something easy to do :/

[2019-05-12 17:13] simonaronsson commented on #292
Thank you for the report 🙏

Would you mind elaborating on which variable's missing?

[2019-05-12 18:21] Ansem93 commented on #292
For example: it's not written in the usage and option section the  that the environment variable of cleanup is WATCHTOWER_CLEANUP.
Also i can't find the environment variable of "debug"

[2019-05-13 04:32] ovizii commented on #213
Looks like a mixed bag of fun:

[code]

[2019-05-13 18:12] seupedro opened #293 "Github Package Registry Support"
is it going to be supported?

[2019-05-13 18:37] simonaronsson commented on #293
I havent even received a beta invite yet, so i'm not really sure about the details yet.

From what I've understood, however, it's supposed to be equivalent to any other private (or non-dockerhub) registry, and should therefor be supported out of the box.

Have anyone received an invite yet and would be open to confirming whether this is correct?

[2019-05-13 18:42] simonaronsson commented on #292
Would be awesome if you'd update the readme with your findings then! I'd be happy to review your pull request. Thanks. 🙏

[2019-05-13 19:49] Ansem93 commented on #292
Sure :) give me a while and I'll update it with all the information that I can take from app.go file :)

[2019-05-13 19:50] simonaronsson commented on #292
Awesome! Thanks!

[2019-05-13 20:05] Ansem93 commented on #292
Edited the file with new descriptions :) If you like it I'll update it with missing options.
A request since I can edit the app.go file: Can you add the line:
EnvVar: "WATCHTOWER_DEBUG",

please?

[2019-05-13 20:14] simonaronsson commented on #292
That would be great! Just submit a PR when you’re done and I’ll add the debug env var as well. :)

[2019-05-13 22:38] seupedro commented on #293
Yeah, you're right. Only waitlist until the moment. But you can [subscribe to waitlist here.](https://github.com/features/package-registry/signup)

![Captura de Tela 2019-05-13 às 19 35 18](https://user-images.githubusercontent.com/33115289/57658834-9ec94900-75b6-11e9-8bd0-ff35be7867d0.png)

[2019-05-15 11:20] lonix commented on #288
For the origial issue, a issue and pr has been submitted to Cloudbox/Cloudbox#299. The secondary issue, does not happen for me.

[2019-05-15 11:34] Nottt commented on #288
I think it's working now as expected after removing the ``"`` from my ansible command.

Now I see output like this:

[code]

I'm closing this issue and thanks so much for the attention!

[2019-05-15 11:34] #288 closed, assigned to nobody

[2019-05-17 20:51] ward0 opened #294 "failing to send mail to gmail over port25 where to specify port?"
Failed to send notification email:  dial tcp 108.177.126.109:25: getsockopt: no route to host

docker run -d --name watchtower --restart unless-stopped -v /var/run/docker.sock:/var/run/docker.sock -e WATCHTOWER_NOTIFICATIONS=email -e WATCHTOWER_NOTIFICATION_EMAIL_FROM=***@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_TO=***@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.gmail.com -e WATCHTOWE

[2019-05-18 12:46] michaelarnauts opened #295 "Add prometheus metrics"
**Is your feature request related to a problem? Please describe.**
I'm monitoring my containers trough cAdvisor with prometheus. This gives me nice metrics per container to see how they behave.

I'm also looking for a way to check if some containers are using an outdated image. I want to avoid running old software that might have security issues. **Important is that I can't have my containers upda

[2019-05-18 14:57] cipi1965 commented on #293
@simskij i confirm it is equivalent to any private registry

[2019-05-18 18:17] BakasuraRCE commented on #188
I do not know what has to be done, but I can be a tester

[2019-05-18 19:44] simonaronsson commented on #293
@cipi1965 awesome! I’ll go ahead and close this issue then. :)

[2019-05-18 19:45] #293 closed, assigned to nobody

[2019-05-18 19:51] simonaronsson commented on #294
Thanks for your report!
`WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=587` would likely solve your problem 😄 🙏

[2019-05-18 19:51] #294 closed, assigned to nobody

[2019-05-18 20:56] simonaronsson commented on #295
Yeah, prometheus support seems like a really reasonable feature request for watchtower.
Feel free to create a pull request with the needed changes and I'll make sure to review it 🙏

[2019-05-19 15:02] MAGICCC commented on #264
Neat, so we should wait until the shoutrrr code is in watchtower to use Telegram notifications?

[2019-05-19 16:16] simonaronsson commented on #264
Yeah. Feel free to help out though if you want it to happen sooner rather than later! :-)

[2019-05-20 02:01] khandelwalpiyush opened #296 "Failed to send notification email i/o timeout"
Hi

Trying the following setting on docker on my Synology NAS

`docker run --rm --name watchtower -v /var/run/docker.sock:/var/run/docker.sock -e WATCHTOWER_NOTIFICATIONS=email -e WATCHTOWER_NOTIFICATION_EMAIL_FROM=XXXXX@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_TO=XXXXX@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=XXXXX@gmail.com -

[2019-05-20 03:16] khandelwalpiyush commented on #296
Sorry.. Network config issue

[2019-05-20 03:16] #296 closed, assigned to nobody

[2019-05-20 03:57] khandelwalpiyush opened #297 "Ignore some containers - flag provided but not defined: -label"
Hi

I am trying to ignore a container watch pihole-1

I am running the following

`docker run --rm --network host --restart=unless-stopped --name watchtower -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --label="com.centurylinklabs.watchtower.enable=false" pihole-1 --monitor-only --debug
`
I get the error

What is missing here?

[2019-05-20 04:32] simonaronsson commented on #297
Thank you for your report 🙏🏻

Move the label parameter to the left of the image name and you should be good to go!

[2019-05-20 04:39] khandelwalpiyush commented on #297
Thanks @simskij

Did you mean

`docker run --rm --network host --name watchtower -v /var/run/docker.sock:/var/run/docker.sock  --label="com.centurylinklabs.watchtower.enable=false" pihole-1 containrrr/watchtower --monitor-only --debug`

Get the message

Then I realised that maybe it should be the image name (pihole/pihole) and not container name (pihole-1) ?

Get the same error on putting

`docker

[2019-05-20 04:54] simonaronsson commented on #297
My bad! Didn’t really read carefully enough I’m afraid. Labels are a docker feature used to annotate containers or images. In your case it looks like you are trying to exclude pihole from auto updates. If that is correct, then you’d want to start your pihole with that flag rather than setting it on your watchtower container.

It’s also important that a docker run command is written as `docker run

[2019-05-20 05:02] simonaronsson commented on #297
I.e

[code]

Then add the label to your pihole instance while launching it to exclude it from watchtower checks.

[2019-05-20 05:05] khandelwalpiyush commented on #297
Thanks @simskij

Will get back to you. Since I created the pihole container via the Synology Docker GUI, I will either need to figure out how to add label to my existing container. Or delete it and either run a docker CLI command or create a docker composer file.. If you have experience with the Synology GUI and label do let me know

[2019-05-20 10:44] remiyazigi opened #298 "how does watchtower handle tagged images"
hello,
i was wondering how watchtower handles tagged images for example
ubuntu:xenial-20190515 and ubuntu:xenial-20190414
are those considered the same image and watchtower will pull from the newer tag or 2 different images ?
PS: not using the "latest"  option

[2019-05-20 14:24] wired-R commented on #179
if you use debian based distr:
[code]

[2019-05-20 14:26] simonaronsson commented on #179
ca-certificates is provided with the build as is, so this should not be needed.

[2019-05-20 14:56] simonaronsson commented on #298
Thanks for creating a report! 🙏🏻

Watchtower monitors a certain label for differences and updates the container if it finds any changes.

As a lot of repos contain multiple “living” image versions I don’t really see how we’d be able to solve this in a reasonable way.

With that said however, if you have any cool suggestions on how to solve this; feel free to submit a pull request implementing it a

[2019-05-20 15:02] remiyazigi commented on #298
thank you for the reply, that is what i also thought, anyway if i manage to find a solution i will definitely submit a pull request.
until then keep up the awesome work
and you may close the issue, if you want to .

Regards,
Remi

[2019-05-20 15:31] #298 closed, assigned to nobody

[2019-05-21 03:57] khandelwalpiyush commented on #297
Thanks @simskij

I believe this issue is resolved.  I put the label on pihole container. Started watchtower and didn't see any reference to pihole in the debug log.

Thanks for your help

[2019-05-21 03:57] #297 closed, assigned to nobody

[2019-05-21 05:50] khandelwalpiyush opened #299 "Synology Docker GUI Restart Fatal Crash Issue"
Not sure if directly related to https://github.com/containrrr/watchtower/issues/252

I created the watchtower docker via CLI (as root)

Works fine. But when I stop it via Synology GUI and restart it via GUI - it keeps crashing with the following message

Something to do with root or privileges I believe? But no other container crashes as such. I think the /var/run/docker.sock is not read or detect

[2019-05-21 22:31] khandelwalpiyush opened #300 "Ability to notify about updates for false labeled containers"
**Is your feature request related to a problem? Please describe.**
Have some containers which I have labeled so that they are not updated. But would like to still know there is an update available.

**Describe the solution you'd like**
Another type of flag or value which can monitor some containers but not update. While still keeping ability to auto update others (not exactly --monitor-only flag)

[2019-05-22 16:35] simonaronsson commented on #216
Closing due to lack of activity.

[2019-05-22 16:35] #216 closed, assigned to nobody

[2019-05-22 16:40] simonaronsson commented on #203
Unable to reproduce. Closing due to issue age. If this is still a problem that needs to be fixed, feel free to open a new ticket. 🙏

[2019-05-22 16:40] #203 closed, assigned to nobody

[2019-05-22 16:45] simonaronsson commented on #245
I notice that you're not providing your environment variables as an array (no dash prefix). Is that just a formatting error in the issue or is that the actual case? If you are in fact not using any dashes, I'd recommend to add them and try again.

If this does not help however, i'd suggest waiting for #264 as that will replace the current notification implementation.

[2019-05-22 16:45] #245 closed, assigned to nobody

[2019-05-22 16:49] simonaronsson commented on #204
Sure, just launch it using `docker run` as described in the readme. 👍

[2019-05-22 16:52] simonaronsson commented on #154
Closing due to lack of activity. The offer to review any pull requests that solve this remain however. Just let me know in a PR. 👍

[2019-05-22 16:52] #154 closed, assigned to nobody

[2019-05-22 20:39] dazinator commented on #216
Yup sorry, I'd have to learn `go` language before I could begin to contribute, and at the moment it's taking all my reserves to stay afloat in dot net world.

[2019-05-22 22:19] paulfantom commented on #295
I would propose a minor modification to @michaelarnauts request to implement metrics as follows:
[code]

As for `last_checked` I would say it isn't very important. Watchtower checks everything every X seconds, so this metric would be max X seconds behind last scrape, which doesn't give much new information.

Also I started implementing it :)

[2019-05-23 05:32] simonaronsson commented on #295
Awesome!

[2019-05-24 08:58] koreno commented on #103
you don't need to add specific support for each helper. from what I understand a .docker/config.json tells you which helper to use for each repository, and the helper's API is supposed to be consistent. ultimately, if you're using a docker client all of that should be handled for you...

[2019-05-24 12:29] simonaronsson commented on #103
Awesome! Would you be interested in having a stab at implementing this?

[2019-05-24 15:14] simonaronsson opened #303 "Add all previous collaborators to the readme."
@all-contributors add @stffabi for code and maintenane
add @rosscado for code
add @bdehamer for code and maintenance
add @dolanor for code
add @cnrmck for documentation
add @rdamazio for code and documentation
add @haswalt for bugs
add @thelamer for infra
add @Robotex for documentation
add @ubergesundheit for documentation
add @fomk for code
add @svengo for infra
add @techknowlogick for bugs
add @

[2019-05-24 15:17] simonaronsson commented on #303
@all-contributors add @stffabi for code and maintenane

[2019-05-24 15:18] simonaronsson commented on #303
@all-contributors add @rosscado for code

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @bdehamer for code and maintenance

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @cnrmck for documentation

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @rdamazio for code and documentation

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @haswalt for bugs

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @thelamer for infra

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @Robotex for documentation

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @ubergesundheit for documentation

[2019-05-24 15:19] simonaronsson commented on #303
@all-contributors add @fomk for code

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @svengo for infra

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @techknowlogick for bugs

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @mariotacke for maintainance

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @waja for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @salbertson for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @huddlesj for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @napstr for code

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @darknode for code and documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @mxschmitt for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @cron410 for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @Cardoso222 for maintenance

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @belak for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @wmbutler for documentation

[2019-05-24 15:20] simonaronsson commented on #303
@all-contributors add @davidgardner11 for review and documentation

[2019-05-24 15:21] simonaronsson commented on #303
@all-contributors add @ATCUSA for content

[2019-05-24 15:57] simonaronsson commented on #303
And again, thanks for all your hard work! 🙏 ✨

[2019-05-24 15:57] #303 closed, assigned to nobody

[2019-05-25 04:19] #183 closed, assigned to nobody

[2019-05-25 04:19] #235 closed, assigned to nobody

[2019-05-25 19:01] crypticc1 commented on #221
I'd love to help but Linux and c isn't my strong point.  Happy to donate

[2019-05-26 14:33] koreno commented on #103
It seems like someone already gave it a shot - https://github.com/archetypesc/watchtower-ecr/blob/master/armhf/Dockerfile - however I couldn't get it to work either...

I've finally found pyouroboros/ouroboros which seems to cover this issue if you provide it with the creds helper and proper configuration:

[code]

[2019-05-27 10:26] ovizii commented on #213
Not sure what else except a few more logs I can add:

[code]

[2019-05-27 22:02] tomscholz commented on #190
Bump

[2019-05-31 07:57] kevindd992002 opened #331 "Testing notification function"
I have watchtower configured through docker compose and I want to test its core functionality and email notification feature. How do I force it to send an email to check if my email settings are correct? Will it only send a notification when there is a container image update? If so, then would I just need for a container to have an update for me to test my setup? Here's what I have basically:

  w

[2019-05-31 08:29] simonaronsson commented on #331
Looks OK to me.

You could always try pulling whatever image you like, for example:
`docker pull dockercloud/hello-world:staging`

Then tag it as latest using:
`docker tag dockercloud/hello-world:staging dockercloud/hello-world:latest`

Run it with `docker run -d dockercloud/hello-world:latest` and then wait for watchtower to notice that the image hashes differ.

Hope this helps 🙏

[2019-05-31 09:05] kevindd992002 commented on #331
I just did that, sorry I'm a Linux/Docker noob just trying to get by building a NAS Media Server :)

It looks like the update worked because the container ID changed but the email notification didn't. Let me try using port 465 instead.

[2019-05-31 09:10] kevindd992002 commented on #331
By default though, does it connect to the SMTP server securely (TLS/SSL) or not? Port 465 doesn't work too. For my other email notification services, 587 works without secure SMTP and 465 work with secure SMTP. So I'm not sure what's going on here.

[2019-05-31 12:25] simonaronsson commented on #299
I suggest you turn to a synology user forum for this. Maybe someone at https://serverfault.com might be able to help you? I'm afraid I neither have any synology devices or any knowledge of how they've implemented their docker support.

[2019-05-31 12:25] #299 closed, assigned to nobody

[2019-05-31 12:31] simonaronsson commented on #292
Thanks for your contribution! Merged after some layout changes.

[2019-05-31 12:31] #292 closed, assigned to simonaronsson

[2019-05-31 12:33] simonaronsson commented on #212
Duplicate of #97. Closing in favor of that issue.

[2019-05-31 12:33] #212 closed, assigned to nobody

[2019-05-31 12:36] simonaronsson commented on #285
As we run on a scratch image, there really isn't any good way to implement a meaningful health check. If watchtower were to crash, the whole container would simply stop/restart.

[2019-05-31 12:36] #285 closed, assigned to nobody

[2019-05-31 12:41] simonaronsson commented on #214
Closing this issue in favor of #255 which is aimed towards a more generic (ie. not only for slack) solution.

[2019-05-31 12:41] #214 closed, assigned to nobody

[2019-05-31 12:46] simonaronsson commented on #256
Thanks for your report 🙏

Sure! Feel free to create a pull request implementing the change. I'd be happy to review it. 👍

[2019-05-31 12:58] simonaronsson opened #332 "Improving Test Coverage"
Hello all contributors,

The test coverage of watchtower is currently very low.

To ensure future stability, as we continue to add features, all help with writing additional unit and integration tests to improve the coverage will be greatly appreciated.

Thanks in advance,
Simon

[2019-05-31 13:54] kevindd992002 commented on #331
Found out what the problem is. It doesn't want this as the FROM address:

"Watchtower" <{my Yahoo email address}>

So I thought it was just a matter of a character escape (because of the space. So I tried:

"Watchtower"\ <{my Yahoo email address}>

And it still doesn't work. Is "<" also a special character that I need to escape?

[2019-05-31 14:01] simonaronsson commented on #331
Yeah, both < and > will likely need to be escaped. Good catch!

[2019-05-31 14:10] kevindd992002 commented on #331
I actually realized that before you even replied but it still didn't work :( Specifying the email address alone is the workaround but I'd really like to make the original value to work.

[2019-05-31 15:27] kevindd992002 commented on #331
The correct syntax is:

\"Watchtower\"\ \<email@yahoo.com\>

But it still won't work. Any more ideas?

Also, when I try doing `docker logs watchtower`, there isn't really any output. Why is this?

[2019-05-31 19:00] simonaronsson commented on #331
What you're trying to do is currently not supported. This is because both [the header](https://github.com/containrrr/watchtower/blob/985a9220993d09f0bb0232a558447773ac6006dd/notifications/email.go#L65) and [the actual smtp command](https://github.com/containrrr/watchtower/blob/985a9220993d09f0bb0232a558447773ac6006dd/notifications/email.go#L95) use the same environment variable for population.

We

[2019-05-31 19:00] #331 closed, assigned to nobody

[2019-06-02 08:14] Rush commented on #272
Why would a real issue be closed due to inactivity?

[2019-06-02 09:05] simonaronsson commented on #272
Still trimming in stale-bot. Some false positives remain to be ironed out.

[2019-06-02 11:28] simonaronsson commented on #272
And just to elaborate a bit on why we do this; I think the [stale issues repo](https://github.com/probot/stale) explains it all in a very good way:

With that said, your issue is added to a milestone as this might become an actual problem, and as such - wont be marked as stale.

Thanks for understanding. 🙏

[2019-06-03 14:40] amarCosmospace opened #333 "When using docker-compose scale"
Hi, i got a litle question, does watchtower do a (http) request to the registry for each container image in the scaled service or it's grouped when having the same image ?

Like :
service 1 -> image A -> scaled 15
15 containers of service 1
So watch tower makes 15 http request of image A
or just 1 http request of image A

I'm asking that cause i'm having some quota issue with gcr. And i got 5 serv

[2019-06-04 16:25] enoch85 opened #334 "Replace watchtower with this new one?"
Hi,

First of all, thanks for a great tool, it's really amazing!

We use this in the [Nextcloud VM](https://github.com/nextcloud/vm) and it's integrated for everyone using any docker containers such as Collabora, OnlyOffice and so on.

The questions is; how do you replace `v2tec/watchtower` with `containrrr/watchtower` and keep the current settings (send an email when an update happens and so on)?

[2019-06-04 16:39] KopfKrieg commented on #334
Usually you just replace v2tec with containrrr in your docker-compose file. If you're not using docker-compose I recommend to take a look at it.

[2019-06-04 16:47] enoch85 commented on #334
@KopfKrieg No, I don't use that here, so question remains (with a bit of rephrasing); *how do I update to the new repo without loosing any settings when not using `docker-compose`?*

[2019-06-04 20:08] simonaronsson commented on #333
Thank you for the report! 🙏

Yes, that's currently how we do it I'm afraid.

We've still got some thinking to do on exactly how (or if) we'd change that.
Suggestions about aggregating the same type of images have been suggested, but that might have other implications that we haven't thought off.

[2019-06-05 06:51] simonaronsson commented on #334
Hey and thanks for the report! 🙏

Yeah, that script would definitely wipe all your settings.
You could probably use the following command to extract all environment variables however:

[code]

These could then be used when creating the new instance.

[2019-06-05 06:56] enoch85 commented on #334
@simskij Thanks for the extract command, but how would I then import the settings again? Sorry for my ignorance.

[2019-06-05 07:02] simonaronsson commented on #334
Just add them to the run command using `-e`. You could even reformat the output of the extract command to print it that way by replacing export with `-e`. :)

See https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file

[2019-06-05 07:39] enoch85 commented on #334
Aah got it, thanks! Will try later today. :)

[2019-06-05 07:39] #334 closed, assigned to nobody

[2019-06-05 12:04] rafael-h-ferreira commented on #96
Hi! It's happening to me to, I think.
I'm using a docker stack with this:
[code]
and then I run watchtower with this:

[code]

Here's the log:
[code]

And I know there's a new image because if I pull it manually, I get a new one. Watchtower seems to be pointing to a specific "sha" with the "@" symbol and not recognizing the new versions by image id.
Am I doing something wrong?
Thanks!

[2019-06-05 12:13] stffabi commented on #96
Watchtower currently isn't compatible with docker swarm and stacks. Docker swarm pins the version of the image used to the version which is available during the creation of the service and the tasks (containers) of the service will be created with the pinned version. This is especially needed if you have several nodes and all these nodes should have the same version of the image running. Therefore

[2019-06-05 12:25] simonaronsson commented on #96
There is already an issue for that though so I don’t think this one needs to be reopened.

[2019-06-05 19:06] enoch85 commented on #334
@simskij Sorry to disturb you again.

A very hacky soulution that is not yet working, but it's close:

[code]

What do you think?

[2019-06-05 19:51] enoch85 commented on #334
It seems like newlines are not supported: https://github.com/moby/moby/issues/12997

[2019-06-05 19:52] enoch85 commented on #334
In my test environment it complains about: `docker: poorly formatted environment: variable '-e WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD' has white spaces.`

[2019-06-06 14:25] carroarmato0 opened #335 "Execution hooks"
I'd like to be able to have scripts/actions be executed depending on which phase watchtower is in.

- Upon detection of an update
- After the old container is stopped
- After the new container is started

Ideally, some metadata could be exposed to the hook (name or id of the container)

**Additional context**
I run a backup script which iterates over all the volumes in use by containers right befo

[2019-06-06 16:57] enoch85 commented on #334
Sorry for the noise, the issue is now solved. Thanks for the pointers!

[2019-06-06 17:08] simonaronsson commented on #334
Awesome! Happy you solved it!

[2019-06-07 10:03] simonaronsson commented on #335
Thank you for your report 🙏

This is available in https://github.com/containrrr/watchtower/pull/197. However, I've not yet had time to go through that and merge it into master.

[2019-06-07 10:05] carroarmato0 commented on #335
Oh I missed that existing issue. In that case will close this one.

[2019-06-07 10:05] #335 closed, assigned to nobody

[2019-06-09 08:39] #72 closed, assigned to nobody

[2019-06-13 15:00] zoispag commented on #190
Bump

[2019-06-14 20:07] truncsphere opened #338 "Email via internal SMTP Server"
I have an internal SMTP server that I'm attempting to use for email, but it is failing to send. Are IP's as SMTP servers supported?
The error is: `Failed to send notification email:  dial tcp :25: connect: connection refused`

Config:

[code]

[2019-06-14 22:27] simonaronsson commented on #300
I like the idea. This could be implemented by looking for a tag, ie. `com.centurylinklabs.watchtower.monitor="true"` which basically choses the same path as `--monitor-only` for that specific container.

Feel free to have a stab at it. If anyone else is interested in implemented this, you're welcome as well. I'll make sure to review it and provide feedback. Thanks 🙏

[2019-06-14 22:30] simonaronsson commented on #204
At this point I don't really see parsing docker-compose files to check for depends_on to be part of the roadmap for watchtower. If someone would like to have a stab at this using some other method, feel free to create a PR and I'll make sure to review it.

Until then, this issue is closed. Thanks for your contributions 🙏

[2019-06-14 22:30] #204 closed, assigned to nobody

[2019-06-14 22:34] simonaronsson commented on #338
I notice a typo in your environment config. Does it work if you change to this?

[code]

[2019-06-14 22:35] simonaronsson commented on #256
@piksel, what are your thoughts? would this fit into the smtp service of shoutrrr or would watchtower be a better fit?

[2019-06-15 00:18] truncsphere commented on #338
Didn't even notice the discrepancy. Pushed out updated docker. Will have to wait and see if it triggers correctly.

[2019-06-16 08:52] kevindd992002 opened #339 "Watchtower working but running docker-compose up -d still rebuilds container"
So Watchtower is working just fine for me as it pulls the latest image for a container daily at 6AM and I get email notifications regarding that.  Here's one example of a notification I got today:

[code]

So based on those logs, the sonarr container got recreated/updated automatically. To confirm this, I checked the hash of the current image that is in my system and inspected the image used by th

[2019-06-17 14:00] truncsphere commented on #338
This worked by the way. Thanks for pointing out the typo.

[2019-06-17 14:00] #338 closed, assigned to nobody

[2019-06-18 07:30] MichelZ commented on #299
@khandelwalpiyush If you have found a solution to this, please add it here. I'm having the same issue. Thanks

[2019-06-18 09:38] khandelwalpiyush commented on #299
@MichelZ No unfortunately didn't get time to investigate as I am travelling

[2019-06-18 09:41] khandelwalpiyush commented on #300
Thanks.. don't have the capability.. hopefully someone more learned can do it :)

[2019-06-19 15:45] kevindd992002 commented on #339
Any ideas?

[2019-06-23 08:45] piksel commented on #256
It's a very specific problem, but it might be mitigated by the queueing API of shoutrrr. It would not attempt to send any mail until the container has been updated (I'm not sure exactly when that happens, since I'm not too familiar with the watchtower internals). That might be enough delay in itself.
Otherwise, I don't think it fits into the scope of shoutrrr as a general purpose notifier, but per

[2019-06-27 16:33] simonaronsson commented on #339
I'm not really sure why docker-compose choses to recreate it. If I understand you correctly you've verified that the container actually got updated?

Do you do anything out of the ordinary in your compose-file that might cause this behavior? If the config has changed in any way during docker-compose up it will recreate the container even if the image hasn't changed.

[2019-06-27 16:34] simonaronsson commented on #339
Two other things to try, just out of curiosity:

1. Do a docker inspect of the container, then implicitly recreate it using `docker-compose up -d` and do another docker inspect. Any difference?

2. If you do two consecutive `docker-compose up -d`, does the container get recreated both times?

[2019-06-27 16:38] simonaronsson commented on #333
Until (or if) something changes, a workaround would be to run watchtower with `--no-pull`.
Then schedule another instance that runs with the `--run-once` option at a fixed interval targeting only one instance of each container type.

[2019-06-27 16:38] #333 closed, assigned to nobody

[2019-06-27 16:41] simonaronsson commented on #103
I've been able to get it to work in a dev environment. As soon as I get around to it I'll try to integrate it into the image. However, that will likely not be until august.

[2019-06-27 16:57] kevindd992002 commented on #339
Correct, the container gets actually updated but docker-compose still chooses to recreate it. The updated image hash in the repository even has the same exact image has inside the container when I expect it. I believe Watchtower does not use docker-compose to actually recreate the container and docker-compose doesn't want that, not sure? When a container gets recreated by Watchtower, does it respe

[2019-07-02 08:24] brightdroid opened #341 "Failed to send notification email: dial tcp xxx:0: connect: connection refused"
**Describe the bug**

I try to send notification mails via an external / host postfix.

**To Reproduce**
`docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -e WATCHTOWER_NOTIFICATIONS=email -e WATCHTOWER_NOTIFICATION_EMAIL_FROM=me@example.com -e WATCHTOWER_NOTIFICATION_EMAIL_TO=me@example.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER=x.x.x.x -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=25

[2019-07-02 09:19] jankete opened #342 "Failed to send notification email"
Since 4 days no e-mail notification is sent. The log for the container says:
"Failed to send notification email:  dial tcp 173.194.76.109:0: connect: connection timed out"

**Environment**
 - Platform: Ubuntu 18.04.2 LTS (4.15.0-54-generic)
 - Architecture: linux x86_64
 - Docker version: 18.09.5 (API: 1.39)

**Logs from running watchtower with the `--debug` option**
[code]

[2019-07-02 09:25] simonaronsson commented on #342
Thank you for the report 🙏
From what I can tell, this is a duplicate of #341 so I'm gonna go ahead and close this in favor of that one.

[2019-07-02 09:25] #342 closed, assigned to nobody

[2019-07-02 10:20] simonaronsson commented on #341
Solved with release v0.3.7 which is available as of now.

[2019-07-02 10:20] #341 closed, assigned to nobody

[2019-07-02 12:49] brightdroid opened #343 "WATCHTOWER_SCHEDULE is ignored"
**Describe the bug**
The env var WATCHTOWER_SCHEDULE is ignored and the default interval of 300 sec. is used instead.

**To Reproduce**
Run:
`docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -e WATCHTOWER_SCHEDULE="$(date --date='now + 2 minute' +'0 %M %H * * *')" containrrr/watchtower --debug`

**Expected behavior**

[2019-07-02 17:10] simonaronsson commented on #343
Thank you for your report!

This is solved in v0.3.8, which is available on dockerhub.

[2019-07-02 17:10] #343 closed, assigned to nobody

[2019-07-03 02:46] cacheflux opened #344 "image pull might silently ignore errors"
I've been reading through the source and I'm wondering if I found an edgecase in which an image pull can silently fail. There's a chance I'm missing something here, please let me know if that's the case.

https://github.com/containrrr/watchtower/blob/9eca883f17669bc93e0f1dc4b9be95b7f3684656/container/client.go#L237-L251

The comment in line 244 notes that we need to stream the reply, which suggest

[2019-07-03 04:27] jankete opened #345 "Watchtower runs in infinite loop"
**Describe the bug**
Watchtower runs in an infinite loop for checking and updating my containers.

**To Reproduce**
[code]

**Expected behavior**
It should only run once and update the containers. Then it should self-exit.

**Environment**
 - Platform: Ubuntu 18.04.2 LTS
 - Architecture: linux x86_64
 - Docker version: 18.09.5 (API: 1.39)

**Logs from running watchtower with the `--debug` option**

[2019-07-03 16:01] simonaronsson commented on #345
Thank you for the report! 🙏

From what I can tell by the logs and your run command, you're actively telling watchtower to restart unless you've stopped it manually. Watchtower runs once, exits and then gets restarted by docker. That is also the reason for the lack of scheduling log rows and the one second interval between the exit and next run.

[2019-07-03 16:06] simonaronsson commented on #344
Thank you for the report!

I'm inclined to agree with you. I think this might require some testing though as we're not really interested in reading the response but rather do it to avoid aborting prematurely. Not really sure whether err in ReadAll only returns errors related to reading or if it also takes the pull status into account.

Feel free to investigate it further and if possible even provi

[2019-07-03 20:57] cacheflux commented on #344
Correct, checking err would only tell us if `ReadAll` errored (which shouldn't happen unless the docker daemon died or we're using a remote docker daemon). To make sure we log pull failures correctly we need to parse the stream we're discarding and check for errors. The response looks like this:
[code]

In case of an error:
[code]

[2019-07-04 05:20] jankete commented on #345
Oh no - I rally should have seen this. Sorry

[2019-07-04 05:20] #345 closed, assigned to nobody

[2019-07-04 05:44] simonaronsson commented on #345
Dont worry mate! Just happy I could help 👍🏻

[2019-07-04 10:38] richardholst commented on #215
hi there , just found this ..I have the same issue not on a synology ...on a HP micros server running ubuntu

time="2019-07-04T10:35:38Z" level=fatal msg="Error: No such image: sha256:85fe87b5a8911fa8de3d20917df6c0b6565b0d8b12e9b7dd043c64856e2c9fb3"

any idea on how to fix this ?

UPDATE: by starting watchtower container first then all the other containers it seems to work ...but everytime I reboo

[2019-07-04 11:56] danchal commented on #204
A possible solution would be to add some new labels to simulate docker-compose depends_on functionality.
[As an example, this has been implemented by Ouroboros.](https://github.com/pyouroboros/ouroboros/wiki/Usage#labels)

[2019-07-04 12:02] simonaronsson commented on #204
Sounds great! If you’d like to have a stab at it I’d be more than happy to review it.

[2019-07-04 15:42] SoulInfernoDE commented on #215
i still have this problem with the container redis.

Reproduceable...
...someone should tell watchtower to pull :latest image for containers throwing this error...

[2019-07-06 21:12] kerphi commented on #216
Why this issue is closed?
I think it's a very good idea to be able to follow semver standard. So that watchtower could be configured to only upgrade when the second or the tired numbers increase. The first one is related to none backward compatibilities so in this case an automatic upgrade would be not welcomed.

[2019-07-08 07:40] controlcde commented on #339
I could confirm - exactly the same happens on my system.

[2019-07-08 13:24] kevindd992002 commented on #339
Thank you for confirming. At least I know now that this isn't an isolated case.

[2019-07-09 16:50] unstephenk commented on #286
So are we able to run custom exec commands when the new container has been retrieved?

[2019-07-10 09:47] gpaterno opened #347 "watchtower run-once returning 1 in shell"
**Describe the bug**
When asked to run once, rc 1 is sent back to shell and CI/CD pipeline fails.

**To Reproduce**
docker run --rm -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --run-once --no-pull container1 container2
time="2019-07-10T09:16:33Z" level=info msg="Running a one time update."
echo $?

**Expected behavior**
Return 0 if no error.

**Environment**
Ubuntu 18.04 LTS

[2019-07-10 19:45] unstephenk opened #348 "No new images found"
**Describe the bug**
Watch Tower is reporting that there are no new images found when there actually are.

**To Reproduce**
Steps to reproduce the behavior:
The docker image is being built view webhook from github and always adding the latest tag. The image is hosted in a private docker hub repo.
1. Run the container
[code]
2. Run Watch Tower
[code]
3. Create a pull request in Github and trigger t

[2019-07-10 20:04] unstephenk commented on #348
To test the process, I was only committing commented lines. I think this was causing Docker Hub to fail to update. Only after I made a large change to the dockerfile did WatchTower trigger.

[2019-07-10 20:04] #348 closed, assigned to nobody

[2019-07-11 23:28] simonaronsson commented on #215
Watchtower defaults to the latest tag if no other tag has been supplied. And as I said, I cant really help you without access to a synology device or steps to reproduce the behavior on MacOS or Linux x86/64.

[2019-07-12 01:21] linuxd3v opened #349 "Email Notifications are not being sent"
I must be missing something - but I dont receive any email notifications.
What am i doing wrong?

[code]

Logs:
[code]

[2019-07-12 14:34] SoulInfernoDE commented on #215
hey,
you could try xpenology as this should imitate the dsm system if you are willing to :-)

Edit:
From what i've understood it defaults to the latest tag but does not advice the docker deamon to pull from the :latest tag. This seems to lead watchtower to try to pull tags only which are known or associated to the container its actually trying to update. So in our case a latest tag was not include

[2019-07-17 06:34] kevindd992002 commented on #339
@simskij , do you have any other ideas?

[2019-07-18 14:39] simonaronsson commented on #339
Sorry, Im currently on vacation. I'll have a look as soon as I get home.

[2019-07-21 16:00] #190 closed, assigned to nobody

[2019-07-22 19:21] simonaronsson commented on #349
Thank you for the report!

All messages you are receiving  in the logs are of the debug level. By now I guess you've received emails as your container images likely have been updated?

If that is not the case, and you still would like to make sure it actually works: try adding the environment variable `WATCHTOWER_NOTIFICATIONS_LEVEL=debug`.

[2019-07-22 19:22] simonaronsson commented on #344
Thanks! You seem to have both repro and a solution, so if you don't mind it would be awesome with a PR correcting the issue. I'll make sure to review it and merge it as soon as possible. 🙏

[2019-07-22 19:37] linuxd3v commented on #349
Thanks. Yes indeed im now receiving notifications just fine.
I was confused that I wasn't receiving notifications as it wasn't clear to me that I would only receive notifications if container was updated.

[2019-07-22 19:37] #349 closed, assigned to nobody

[2019-07-24 05:35] michaelarnauts commented on #295
@paulfantom do you have a merge request somewhere?

[2019-07-24 05:40] nogweii commented on #97
This isn't stale, it's still useful.

[2019-07-27 07:30] claudiu-edi opened #352 "Temporary failure in name resolution"
Hello! While using watchtower I get this:

`time="2019-07-27T06:58:09Z" level=debug msg="Error pulling image linuxserver/letsencrypt:latest, Error response from daemon: Get https://registry-1.docker.io/v2/linuxserver/letsencrypt/manifests/latest: dial tcp: lookup registry-1.docker.io: Temporary failure in name resolution"`
`time="2019-07-27T06:58:09Z" level=info msg="Unable to update container /le

[2019-07-28 09:40] NDuggan commented on #339
I’m experiencing the same thing (not a big problem). I’m wondering if it’s something to do with a `docker-compose` cache or config. Because Watchtower initiated the update, it’s like Docker Compose doesn’t know about it.

I don’t have much knowledge about Docker Compose, so not sure if this is relevant but if you run `docker-compose bundle` to generate a `.dab` file, the image ID doesn’t match the

[2019-07-28 10:18] simonaronsson commented on #339
Oh, interesting. I've had my beard full rebasing and getting pre-/post-update lifecycle hooks in the last couple of days. This is definitely on my agenda, not just super prioritized as it doesnt really make any difference from a production perspective.

[2019-07-28 10:22] NDuggan commented on #339
@simskij agreed, it's not a high priority in my point of view and not sure if my findings are just red herrings.

I also only see it recreate the containers once when running `docker-compose up -d`. If I run it again it doesn't recreate, so maybe it is just that Docker Compose isn't aware of the latest image.

[2019-07-28 14:18] kevindd992002 commented on #339
I understand how it's not a priority, no worries. At least it'a now acknowledged that it's some sort of a bug but of course is something that needs to be fixed. Sometimes I run docker-compose up -d manually and it really shouldn't recreate containers that were already updated by Watchtowerr.

[2019-07-29 11:09] alexanderadam opened #354 "email formatting"
The default email notifications writes all changes into a single line.
It would be nice if the output would be formatted in a more readable way.

PS: Thank you for your work! :pray:

[2019-07-30 14:00] zyberspace commented on #255
@simskij This problem is still relevant. Could you maybe disable the stale bot for this issue?

Changing the notification level to warnings doesn't help in our case because we use the notifications to check if a container got updated.

[2019-07-30 21:01] simonaronsson commented on #332
Thanks Stalebot, but this is not stale.

[2019-07-31 19:39] #221 closed, assigned to nobody

[2019-08-02 11:59] gtaranti opened #358 "Dotnet core containers do not stop gracefully on synology"
**Describe the bug**
I'm following the directions to use env variables for pulling  an image from a private repo, by using REPO_USER, REPO_PASS, because I tried config.json and didn't get the credentials.
watchtower recognises the credentials and pulls the new image successfully, it shuts down the container but then .... **PANIC** happens...
Then the container is **DELETED**.!!!

**To Reproduce**

[2019-08-02 12:10] simonaronsson commented on #358
Hey, thanks for the report! 🙏

First off, I'd like to suggest that you switch from `v2tec/watchtower`, which is no longer maintained, to `containrrr/watchtower`. A lot of work has been done since the last update of v2tec/watchtower and we wont be able to succesfully help you if you're not running the latest image.

Second thing is to switch back to using `config.json`, which works a lot better if

[2019-08-02 12:11] simonaronsson commented on #213
Reopening issue as this is a bug, which should never be closed due to staleness. I really need to check the configuration of stalebot again....

[2019-08-02 12:15] simonaronsson commented on #354
Thanks for your report! 🙏

The notification layer will soon be switched out to [shoutrrr](https://github.com/containrrr/shoutrrr). Because of this, I'm not really putting any effort into fixing issues in the existing implementation. The new solution, using shoutrrr, will include some more advanced customizations as templating and batching, which the current solution lacks.

[2019-08-02 12:16] simonaronsson commented on #354
Closing this issue in favor of #264 to keep discussions and feature requests more focused.

[2019-08-02 12:16] #354 closed, assigned to nobody

[2019-08-02 12:18] simonaronsson commented on #352
Thanks for your report! 🙏

Could you please provide some more context? docker-compose files, run commands for both  watchtower and the other containers would be super helpful.

[2019-08-02 12:19] simonaronsson commented on #347
Thank you for the report! 🙏

I agree that this is a bug. Would you mind providing a pull request changing this?

[2019-08-02 12:39] gtaranti commented on #358
Thanks for the help.
I tried with the containrrr/watchtower.
I used again REPO_USER, REPO_PASS.
But it didn't work. There was a different PANIC.

From the logs :

time="2019-08-02T12:34:33Z" level=debug msg="Scheduled next run: 2019-08-02 12:35:32 +0000 UTC"
time="2019-08-02T12:35:32Z" level=debug msg="Checking containers for updated images"
time="2019-08-02T12:35:32Z" level=debug msg="Retrieving

[2019-08-02 13:05] simonaronsson commented on #358
Does it panic the same way if you do `--interval 60` instead of `-i 60`? Might be totally unrelated, but the error is indicating that something is wrong with the cron map generated from the provided interval. If this does not work, what happens if you omit interval entirely? I understand that this isn't a solution, but would appreciate your help in triaging the problem so that it may get fixed.

[2019-08-02 13:29] gtaranti commented on #358
Still the same error.

I removed the argument -I 60 altogether.
The command was :

sudo docker run -d --name watchtower --restart always -v /var/run/docker.sock:/var/run/docker.sock  --env REPO_USER=gtaranti --env REPO_PASS=my-secret-password containrrr/watchtower  --debug --cleanup fntapi

and from the logs :

time="2019-08-02T13:19:35Z" level=debug msg="Scheduled next run: 2019-08-02 13:24:34 +0

[2019-08-02 13:59] alexanderadam commented on #264
Just to be sure: would it be possible to integrate more than one service with [shoutrrr](https://github.com/containrrr/shoutrrr#as-a-package)?
So i.e. to have notifications via email, XMPP and Sentry **at the same time**?

[2019-08-02 18:46] claudiu-edi commented on #352
Hi! Sorry I didn't come back with an answer but it seems that a simple host restart solved the issue. Watchtower container seems to be working normally for now. Thank you!

[2019-08-02 18:52] simonaronsson commented on #352
Awesome! I'll go ahead and close the issue then. Feel free to come back if you experience any other issues! 👍

[2019-08-02 18:52] #352 closed, assigned to nobody

[2019-08-04 09:36] qqilihq opened #360 "Defer or disable notifications when registry is down"
**Is your feature request related to a problem? Please describe.**

We’re running our own Docker registry which is on scheduled maintenance during the night. During this time, when Watchtower cannot access the registry, our Slack channels will be flooded with messages:

![Bildschirmfoto 2019-08-04 um 11 17 54](https://user-images.githubusercontent.com/2172260/62421971-06210180-b6ab-11e9-8f07-0f318

[2019-08-04 23:36] iamareebjamal commented on #90
I think if the docker container fails to start/restart within a set period of time or its HEALTHCHECK fails, watchtower could rollback to previous version of the container?

[2019-08-06 05:24] IwanSE opened #361 "Unable to Update Containers - Timeout"
Hi, I have the same problems with #192
We use Nexus OSS 3.17.0-01
[code]
My Dockerfile and docker-compose.yml
[code]
[code]
Changed timeout to 180 in Nexus
This did not solve the problem
`time="2019-08-06T04: 15: 04Z "level = info msg =" Unable to update container /frontend. Proceeding to next."`
Any ideas to solve this problem? Many messages come to Slack:
[code]

[2019-08-06 13:20] mlmnetcologne opened #362 "Updatenotification when base image is updated"
Hi,

I want to monitor my base images of my containers. When my base image is outdated (e.g. FROM ubuntu:xenial) I want notification of it. Is this with watchtower possible, because this issue referencing it:
https://github.com/containrrr/watchtower/issues/85
but also says that it cannot work with custom images, what my container are.
The only software that comes from the internet, are the base im

[2019-08-07 14:26] simonaronsson commented on #264
yeah, that's our thought exactly! 👍 we've not really decided on how to do this in the case of watchtower, but yes - that will be possible in a general.

[2019-08-07 15:16] unstephenk commented on #361
I am also seeing this error. I do believe watchtower also updated recently. This should be high priority. What broke?

[2019-08-07 15:34] simonaronsson commented on #361
@iwanhsky thank you for your report! if you run watchtower directly without using your own Dockerfile - do you still get the same error? That is, using containrrr/watchtower:latest instead.

The last release was July 2nd. Have you been experiencing this since then? Any more details?

[2019-08-07 16:19] unstephenk commented on #361
@simskij I am not currently using a Dockerfile to run WT. I am using the docker run command in the docs with a restart always tag.

[2019-08-07 16:34] simonaronsson commented on #361
@Unstephenk yeah, that part was not aimed towards you. Still cueious when it started happening for you though

[2019-08-07 16:50] unstephenk commented on #361
Started over the weekend when no one was in office at 2am. It had been running great for 5 days prior. All of a sudden, got a ton of messages on slack for each container saying `Unable to update container /watchtower. Proceeding to next` so there was still an internet connection present.

[2019-08-07 20:09] simonaronsson commented on #361
I've just run through a couple of complete runs, both with and without having any updates available and sadly, I can't provoke any error messages to appear. Everything just seems to work. The config I'm using in my local lab:

[code]

where keep-up is:
[code]
One thing I come to think of is that the image pulls are actually performed by the docker daemon rather than by watchtower, while the notifi

[2019-08-08 07:29] IwanSE commented on #361
@simskij
Yes used:
[code]
The problem remains.
It helps to completely recreate the container, but doing it every time is not practical.
[code]
I have to use my own Dockerfile and copy rights through config.json
Used Windows for Docker Linux containers
make volum for config.json on Windows fails - config.json is mounted as a folder
Docker info

[code]

[2019-08-08 12:05] simonaronsson commented on #362
Hey there!

Thank you for your report. This is not possible with watchtower the way you described it.
However, if you create a stopped container of the base image you are using and then set watchtower to monitor stopped containers as well as only monitor these containers, you'd be able to get notified whenever that image gets updated.

Exactly how to do this is described in the docs, which you can

[2019-08-08 16:36] SchenbergZY opened #363 "want to delete --no-pull command while container keeps running"
Here I want to change no-pull to pull or vice versa when keeping the watchtower running. Is there any options?

[2019-08-08 16:44] simonaronsson commented on #363
Hey there @SchenbergZY! Thank you for the report.
This is not possible at the moment. My suggestion is that you just restart watchtower.

[2019-08-08 16:45] #363 closed, assigned to nobody

[2019-08-08 16:52] SchenbergZY commented on #363
how about change env?

[2019-08-08 17:07] simonaronsson commented on #363
I'm afraid that wont help as the environment vars are read during launch.

[2019-08-09 09:33] mlmnetcologne commented on #362
Ok thank you.
I try it.

[2019-08-11 06:20] SoulInfernoDE commented on #215
Okay here is a screenshot showing the synology docker gui to add more information.
In this section i am searching for "redis" and these are the search results:

![image](https://user-images.githubusercontent.com/3682343/62830478-13d90880-bc10-11e9-995a-6d7410892caf.png)

As you can see it is a central image and it is tagged with only one name: **redis**

there is no redis/redis or redis/latest in

[2019-08-11 21:15] DrJume opened #366 "Updater not working with AutoRemove policy"
**Describe the bug**
When creating a watchtower container through the Docker API with
[code]
and --run-once parameter, watchtower crashes:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a watchtower container through the API (dockerode) with following settings:
[code]
and --run-once parameter.

**Expected behavior**
It should behave exactly the same as by running watchtower throu

[2019-08-12 09:49] Jacobh2 opened #367 "SIGTERM sent to container before lifecycle-hooks "pre-update" finishes"
**Describe the bug**
Seems like the container is killed before the pre-update script has time to finish. Does it wait for the pre script to exit before sending SIGTERM?

**To Reproduce**
Create a script that takes longer to finish than what the container takes to finish. For example put a sleep for some seconds and then print to a file after the sleep, and the print will never happen.

**Expected

[2019-08-12 15:30] mailtosmyk opened #368 "Clenup after update image"
After make like 100 of updates we faces disk space issue - too many containers left behind.
Please add option to run command  (--clean) for cleanup used containers

[2019-08-14 10:01] ghost opened #369 "docker-compose Best Practices ?"

[2019-08-14 11:15] ghost commented on #369
Docker version 19.03.1, build 74b1e89
macos mojave 10.14.6

my docker-compose.yml

[code]

my docker `config.json`

[code]

i got error
[code]

[2019-08-14 13:32] ghost commented on #369
in . linux .  it's work

[2019-08-14 13:32] #369 closed, assigned to nobody

[2019-08-17 00:04] noplanman commented on #264
Just voicing my interest in the Telegram notifications. From the comments above it seems the wait is due to shoutrrr not being used in watchtower just yet.

What's the progress on that?

[2019-08-19 03:38] mindrunner opened #371 "Not updating any conatiners"
**Describe the bug**
Watchtower is running and no containers are updated

**Expected behavior**
Watchtower pulls new images and restarts the containers

**Environment**
 - Arch Linux
 - x86_64
 - Docker version 19.03.1-ce, build 74b1e89e8a

**Logs from running watchtower with the `--debug` option**
[code]

[2019-08-20 13:15] simonaronsson commented on #371
Thank you for the report!

Could you please provide some more context:

* What command or docker-compose definition are you using to run watchtower?
* Have you got it working previously?

From what I can tell from your logs, it's currently not setup to check any containers.

[2019-08-20 13:21] simonaronsson commented on #368
Thank you for the report!

I'm unable to reproduce this behavior on my local lab machine.
No containers are left behind from what I can tell.

If you're actually talking about dangling images rather than containers, then that functionality is already in place using `--cleanup`

[2019-08-20 13:23] simonaronsson commented on #366
Thank you for the report!

When creating using the API, are you actually supplying a bind mount for docker.sock?
A more exhausting snippet from the http request would be very helpful.

[2019-08-20 13:23] #362 closed, assigned to nobody

[2019-08-20 13:26] simonaronsson commented on #360
We already have a suggestion in place for implementing per container maintenance windows. Seems like that would solve your use case as well. Closing this issue in favor of #97

[2019-08-20 13:26] #360 closed, assigned to nobody

[2019-08-20 16:02] mindrunner commented on #371
Hi, it has never worked for me. I am using docker-compose for all running containers. This is my watchtower compose file:
[code]

I also never received any emails.

[2019-08-20 16:16] simonaronsson commented on #371
In this case, /watchtower will be interpreted as the container you want to monitor.
`—debug` is sufficient as the entrypoint is set to /watchtower in the dockerfile.

[2019-08-20 17:11] qqilihq commented on #360
Thx.

[2019-08-20 17:45] mindrunner commented on #371
Aaah, my bad... Looks better now. Thank you :)

[2019-08-20 17:45] #371 closed, assigned to nobody

[2019-08-21 08:46] IwanSE commented on #361
Any ideas?

[2019-08-23 12:10] simonaronsson commented on #103
I'm very happy to announce that this has been solved - and with no modifications to watchtower on top of that!

Documentation on how to do this is available at https://github.com/containrrr/watchtower/blob/master/docs/credential-helpers.md

Thanks for your patience!

[2019-08-23 12:15] simonaronsson commented on #103
If you found a solution that works for you, then that's great! For me, and many others I've talked with, the size of the ouroboros image is way to large to make it usable in any real world scenarios.

Compared to watchtower, ouroboros weighs in at 7 times the image size, which quickly adds up to a large network utilization considering that image diffing at the moment's only possible by downloading

[2019-08-23 14:33] olskar commented on #296
@khandelwalpiyush  care to explain how you fixed it? I have the same problem

[2019-08-23 15:35] #103 closed, assigned to nobody

[2019-08-23 23:54] khandelwalpiyush commented on #296
@olskar This is the command which worked for me

`docker run -d --restart unless-stopped --network host --name watchtower -v /var/run/docker.sock:/var/run/docker.sock -e WATCHTOWER_NOTIFICATIONS=email -e WATCHTOWER_NOTIFICATION_EMAIL_FROM=XXX@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_TO=XXX@gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.gmail.com -e WATCHTOWER_NOTIFICATION_EMAIL_SERVER_US

[2019-08-24 10:28] #300 closed, assigned to nobody

[2019-08-24 16:04] simonaronsson commented on #361
I have very limited knowledge of Docker for Windows. If I remember correctly it has a lot of weird quirks that are yet to be ironed out. Let me have a look next time I have access to a Windows computer and get back to you. Thanks :)

[2019-08-25 10:57] simonaronsson commented on #295
@paulfantom, may I assist you in any way in getting this feature ready for integration with master?

[2019-08-25 10:59] #332 closed, assigned to nobody

[2019-08-25 11:02] #347 closed, assigned to nobody

[2019-08-25 11:16] #256 closed, assigned to nobody

[2019-08-29 05:33] unix0r commented on #215
Seems like watchtower wants to update a container image, thats not existing anymore...

I think i deleted some old images, maybe I'll check for the missing hash and find its image for downloading it again.

[2019-08-29 09:57] chranmat opened #376 "Credentials for private registry used on docker-hub"
**Describe the bug**
I have a mixed stack with some images from private registry and some images from public docker-hub. I have defined REPO_USER and REPO_PASS environment variables. Update of private registry works well, but when trying to update images from docker-hub, watchtower tries to use the credentials for the private registry on docker-hub and therefore fails.

**To Reproduce**
Steps to r

[2019-08-29 10:14] simonaronsson commented on #376
Thank you for your report!

Watchtower does not support using REPO_* when using mixed repos. Instead mount the ~/.docker/config.yml instead. This is described in the docs at https://containrrr.github.io/watchtower

[2019-08-29 10:53] chranmat commented on #376
That's a problem with MacOS:

Docker on MacOS does not store registry credentials in the ~/.docker/config.json file. Credentials are stored in the OSX keychain, referred to from config.json file.

{
	"auths": {
		"my.registry.url": {}
	},
	"HttpHeaders": {
		"User-Agent": "Docker-Client/18.06.1-ce (darwin)"
	},
	"credsStore": "osxkeychain",
	"stackOrchestrator": "swarm"
}

[2019-08-29 18:10] simonaronsson commented on #376
Just remove credsStore and update your auths key to look like this:

[code]
You can base64 encode your credentials  using `echo -n 'username:password' | base64`

[2019-08-31 12:51] r2ixuz opened #377 "missing ENV after update on Synology"
**Describe the bug**
Since the latest Synology Docker update from 17.05.0 to 18.09.6 after every container rebuild through containerrr/watchtower the containers missing their manually set ENV variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Have latest stale DSM release (6.2.2-24922 Update 3)
2. Have latest Synology Docker package (18.09.0-0505)
3. Create Container with ENV variabl

[2019-08-31 13:13] r2ixuz commented on #377
Maybe it is because I used Portainer to recreate the watchtower container with these automatically created capabilities:

`       "CapAdd": [
            "AUDIT_WRITE",
            "CHOWN",
            "DAC_OVERRIDE",
            "FOWNER",
            "FSETID",
            "KILL",
            "MKNOD",
            "NET_BIND_SERVICE",
            "NET_RAW",
            "SETFCAP",
            "SETGID

[2019-09-01 16:43] yongbi85 commented on #377
I used portainer and docker synology, same issue.
I am on synology DSM 6.1 but with the latest docker package too. I had to delete watchtower for now..;
So it is not a DSM issue but an issue wih synology docker 18.09.0-0505 and watchtower (tried other watchtower image to be franck, like v2tec, but exactly the same issue)

[2019-09-01 19:40] r2ixuz commented on #377
Ok it seems that there is a problem in this new Synology Docker release:

https://community.synology.com/enu/forum/15/post/128146

I don't know if watchtower is using docker-compose to set ENV but Synology support stated that they will fix in the next version that ENV cannot be set via docker-compose, only via Synology UI.

[2019-09-01 19:57] simonaronsson commented on #377
Thanks for the report!

Watchtower is using the docker api directly, not through docker-compose. However, I suspect that docker-compose is using the same go client as we do to create containers. Synology seem to have their own fork (or addon) on the docker package, which causes issues in their latest release.

With that said, I dont see that much for us to do here until they've released their fix.

[2019-09-02 13:48] tgirotto commented on #68
same problem

[2019-09-02 18:23] bxlouis commented on #377
Had the same issue. I confirm that rolling back Docker from v18.09.0-505 to v17.05.0-0401 as explained by John McCabe on the Synology forum fixed the issue. (cf. https://community.synology.com/enu/forum/15/post/128146)
Also, it looks like the v18.09.0-505 has been rolled back as the newest available version is now v17.05.0-0401 (cf. screenshot).

![Screenshot 2019-09-02 at 20 21 09](https://user-i

[2019-09-05 05:24] dragetd commented on #216
I was just about to open a similar issue myself. :-) I'd love to see this one re-opened.

When I started using watchtower, I was very much hoping that this is a feature already available. Relying on mutable tags is… eh :-(

I have been thinking about concepts on how to approach this. The first problem is the written version in the docker-compose file. While restarting containers and pulling new im

[2019-09-05 18:54] LeeThompson commented on #377
Seeing this too, it's very annoying.  I hope Synology fixes this soon.

[2019-09-08 04:17] tpfleck opened #378 "Can watchtower connect to multiple hosts?"
Is it possible to run a single watchtower container and monitor multiple hosts from it by specifying the `--host` argument for each host?

[2019-09-08 16:59] niko2 commented on #245
@jeremiahkjones if you are (still) interested in, I have found the issue.
I was doing the same error than you, so i double checked twice and twice again...
Error is using WATCHTOWER_NOTIFICATIONS_SLACK_*** instead of WATCHTOWER_NOTIFICATION_SLACK_***, without the "S"
Hope this help !

[2019-09-11 11:54] Dunky13 commented on #43
Don't think this should be closed or stale imho. It's an issue that can/should be addressed in the future. Closing it will put in too much in the background.

[2019-09-12 17:02] r2ixuz commented on #377
With the latest Synology Docker package 18.09.0-0506 the issue has been resolved.

[Synology Docker Release Notes](https://www.synology.com/en-global/releaseNote/Docker)

[2019-09-12 17:02] #377 closed, assigned to nobody

[2019-09-15 14:37] simonaronsson commented on #378
Thank you for the report!

Currently, watchtower is only able to monitor one host at the time or per instance.

Best regards,
Simon

[2019-09-15 14:38] #378 closed, assigned to nobody

[2019-09-15 14:38] simonaronsson commented on #376
Closing due to lack of activity.

[2019-09-15 14:38] #376 closed, assigned to nobody

[2019-09-15 14:38] simonaronsson commented on #368
Closing due to lack of activity

[2019-09-15 14:38] #368 closed, assigned to nobody

[2019-09-18 08:55] blackandred commented on #97
I would also see this as useful.

[2019-09-18 19:56] ginkel opened #380 "Spurious pre-update lifecycle hook errors being logged"
**Describe the bug**

When a container that does not have a label for a pre-update hook defined is to be updated, the following error is logged if `sh` is not included with said container:

[code]

The only Watchtower-related label defined is:

[code]

**Expected behavior**
The pre-update command should not be executed if undefined.

**Environment**
 - Ubuntu 18.04
 - x86_64
 - Docker version 19.0

[2019-09-19 09:02] Veldkornet commented on #84
This was working fine, but something in the last month or two has caused it to break again and the variables are being thrown away again.

[2019-09-19 09:07] Veldkornet opened #381 "Environment Variables Again Removed After Update"
**Describe the bug**
I'm using Watchtower on a Synology as per the initial issue #84 .

My problem is that after updating a container, all of the containers Environment Variables disappear and I have to go add all the variables back every week.

This was working fine, but something in the last month or two has caused it to break again and the variables are being thrown away again.

For example: TZ

[2019-09-19 12:21] andrewjmetzger commented on #84
@Veldkornet

Synology recently updated their docker package, and it broke things again.

 The solution, for now, is to uninstall the new docker package and manually install an older one, such as 17.05.0-0401.

You can download it here: [https://archive.synology.com/download/Package/spk/Docker/17.05.0-0401/Docker-x64-17.05.0-0401.spk](https://archive.synology.com/download/Package/spk/Docker/17.05.0

[2019-09-19 14:48] simonaronsson commented on #380
Thanks for reporting! I’ll have a look as soon as possible.

[2019-09-19 19:52] rubicon commented on #381
Exact same scenario and variables in my case as well.

[2019-09-19 22:32] IskanderNovena commented on #381
Same

[2019-09-20 00:51] wojo commented on #381
Ah, I'm not crazy. Phew. Yes this is breaking everything on my NAS, going to disable watchtower for now.

[2019-09-20 20:16] simonaronsson commented on #344
thanks stalebot, but please keep this open

[2019-09-20 20:18] simonaronsson commented on #381
Hey there.

Thanks for letting me know. However, as @andrewjmetzger states in #84 (https://github.com/containrrr/watchtower/issues/84#issuecomment-533104404), this is actually due to errors in the latest synergy update. Andrew also kindly provided a workaround until synergy gets around to fixing it.

I'll close this issue as there isn't anything else for us to do about it at this time.

Thanks for

[2019-09-20 20:18] #381 closed, assigned to nobody

[2019-09-20 20:20] simonaronsson commented on #366
Closing this due to lack of response.

[2019-09-20 20:20] #366 closed, assigned to nobody

[2019-09-20 23:56] h1dden-da3m0n opened #382 "Add flag to disable TLS check for all notification provider, or better allow certificate providing"
### Is your feature request related to a problem? Please describe.
The current release of Watchtower only features the disable TLS flag for the E-Mail notification provider, yet any other notification provider, where the host can be on-premise, may be locked behind a self-signed cert (Gotify in this case) and therefore would need the same treatment.

### Describe the solution you'd like
I would li

[2019-09-24 09:38] demyxco commented on #272
I stopped using watchtower because of this issue.

[2019-09-26 14:25] leninalive opened #383 "--remove-volumes doesn't work as expected with named volumes"
When using named volumes with docker-compose and watchtower, it won't remove named volumes with --remove-volumes argument (will only deassociate them from container) though volume contents won't be updated.

Is it possible to change this behavior and perform something like `docker volume prune` after container has been stopped and removed?

[2019-09-26 21:18] fantapop commented on #38
@jakob-stoeck do you have a reference for this?  I'm unable to get this working.  I've given my ec2 instance the AmazonEC2ContainerRegistryPowerUser policy and when I'm on it and try to pull my containers, I get: Error response from daemon: .... no basic auth credentials.

[2019-10-01 08:31] zyberspace commented on #255
See last comment:

[2019-10-02 03:48] kevindd992002 commented on #339
How can we keep this not stale?

[2019-10-03 08:59] alexanderadam opened #385 "What is the recommended way to make an unscheduled update?"
Imaging having a watchtower instance running with an update schedule.
What would be the recommended way of making an unscheduled update?

Running a second instance and removing this afterwards?

[2019-10-03 09:47] thelittlefireman commented on #215
Same issue for me on xpenology
```time="2019-10-03T09:43:19Z" level=fatal msg="Error: No such image: sha256:926188bc````
i try to pull latest image but same issue

It works but realy painfull

[2019-10-03 11:44] devopsadmin-james opened #386 "Failed to send notification email"
Failed to send notification email:  535 5.7.8 Username and Password not accepted. Learn more at
5.7.8  https://support.google.com/mail/?p=BadCredentials q124sm727416oia.5 - gsmtp

gmail consider watchtower accessing its/my email ID with my credentials as less secure for watchtower since 2 October 2019 and doesn't send emails from specified users to specified users.

Please look into it.

I am usin

[2019-10-03 14:16] kevdogg commented on #386
Hi -- new to this forum but not new to github projects :)

Installed watchtower last night and enabled it to send me email.
Specifically with gmail:
You need to apply an app specific password (May need to search internet how to do this -- but you use this as the email password)
Also run on port 587.  (For those wondering I tried on port 465 and it didn't work!!)

Hopefully that helps.

[2019-10-04 20:51] 0xERR0R commented on #380
I have the same problem. I figured out, this was already fixed with #373, commit 135467dc, but it was not in the last release. There was a missing "return" in the executePreUpdateCommand function.

[2019-10-06 21:46] mindrunner opened #387 "Slack notification Error on removing images when image is being used twice in compose file."
**Describe the bug**
I have a docker compose file with multiple containers. Two of them use exactly the same image with a different entrypoint. After watchtower update, while removing images, it tries to remove the image twice. Second attempt apparently fails.

**To Reproduce**
Steps to reproduce the behavior:
1. start a compose setup with mutiple containers sharing the same image
2. start watchto

[2019-10-09 07:08] 8ear opened #388 "Add mail customized mail notification subject tag"
Hi all,

Your Watchtower container is very nice and the mail function works as excepted. Really great and a huge thanks to you!

I have more than one Docker server with different purposes and on every server I have a watchtower container running in monitoring mode. But the mails I got have all the following subject: `Watchtower updates on <container id>`
For example: `Watchtower updates on 1a25cbf

[2019-10-11 13:41] foxbit19 opened #390 "Gotify notifications and docker-compose"
I've used watchtower with gotify notifications and docker-compose. The documentation shows how to write env variables' values, expecially URLs, using double quotes.
This not working as expected with docker-compose, due the nature of YAML file.

With gotify notifications, watchtower shows me an error:
[code]

(the `\"` escape doesn't work as expected in docker-compose logs)

I suggest to refactor t

[2019-10-12 10:18] simonaronsson commented on #390
Thank you for the report!
Feel free to go with whichever direction you prefer. With that said: As the notification feature as a whole will be replaced with shoutrrr in the upcoming future, adding a nota bene to the documentation might be a reasonable choice.

[2019-10-12 10:19] simonaronsson commented on #388
Thank you for taking care of this. I'll go ahead and switch the status of this ticket to `In Progress` meanwhile.

[2019-10-12 10:22] simonaronsson commented on #387
Thank you for the report 🙏

From what I can tell, no additional harm is done other than receiving a false positive. Does this match with your observation? A nice solution to this would be to put all images flagged for removal into an array and then deduplicate them before deletion after all container updates have finished.

Feel free to have a stab at it, I'd be happy to provide code review and gu

[2019-10-12 10:23] simonaronsson commented on #386
Thank you for the report! 🙏

As @kevdogg mentioned, you'll need to use an app specific password. Google have published a guide for this [here](https://support.google.com/accounts/answer/185833?hl=en). I'll go ahead and close this issue.

[2019-10-12 10:23] #386 closed, assigned to nobody

[2019-10-12 10:25] simonaronsson commented on #385
Hey there @alexanderadam! Thank you for the report 🙏

The recommended way to do unscheduled updates is to use the --run-once argument to run a second instance. See [the documentation](https://containrrr.github.io/watchtower/arguments/) for more details.

[2019-10-12 10:25] #385 closed, assigned to nobody

[2019-10-12 10:38] simonaronsson commented on #358
Sorry, I'm not really sure how to help you. The synology support really is at a best effort basis as they:

1. Opted to use their own docker release, and
2. I don't have or use one myself.

I'm also unable to reproduce the error on darwin or linux. Anyone else with a synology device that might be able to assist @gtaranti in what is happening here?

[2019-10-13 20:51] mindrunner commented on #387
Hi @simskij

thank you for your answer and taking your time. Firstly, yes I can confirm, that this is likely to be only a cosmetic issue.

Secondly, I have to say, I am not a go developer and I struggled to get the code running to proper test my fixes.
 - Can debug in the IDE
 - Cannot get the golang-app in Docker running. I am always getting
`standard_init_linux.go:211: exec user process caused "

[2019-10-15 08:14] 8ear commented on #388
Thanks.

[2019-10-21 12:02] matt-horwood-mayden opened #394 "Watchtower Proxy server"
Afternoon,

I have Watchtower setup on a host that has access to the docker hub via a proxy server, docker is now working with the proxy server. but Watchtower has an error.

[code]

I dont know if the error is the result of a private repo or the proxy server.

The compose lines
[code]

config.json
[code]

[2019-10-21 13:19] smallswan399 commented on #272
I am looking for a way that instruct watchtower don't stop all my containers at the same time. This is really a problem! Lets say you have 3 instances behind a load balancer, watchtower will stop them all.

[2019-10-23 10:35] devopsenggineer opened #395 "What is the right Syntax for sending email to multiple email ids"
What is the right Syntax for sending email to multiple email ids?

I have tried these three-ways but it didn't work out.

1.  -e WATCHTOWER_NOTIFICATION_EMAIL_TO=abc@gmail.com,test@gmail.com

2.  -e WATCHTOWER_NOTIFICATION_EMAIL_TO=abc@gmail.com
    -e  WATCHTOWER_NOTIFICATION_EMAIL_TO=test@gmail.com

3. -e WATCHTOWER_NOTIFICATION_EMAIL_TO=[abc@gmail.com,test@gmail.com]

Watchtower didn't fire an

[2019-10-25 09:49] jwaes opened #396 "unable to update container with a hard image reference"
When i use a 'hard reference to an image in my docker-compose file

[code]
I get this info message polluting my logs:

`time="2019-10-25T08:26:44Z" level=info msg="Unable to update container /odoo_web_1. Proceeding to next."`

I think this is redundant as with a hard reference it is logical and intended that it cannot be updated.

[2019-10-27 21:51] JAGFx opened #397 "Define rules to update a container"
**Is your feature request related to a problem? Please describe.**
I think it will be a good idea to define rules to know which version of new image use to update one or all containers.

Examples: You want to keep up to date your container only with the version 1.3. *.

That will exclude the 1.4. * and more, but will include 1.3.2.

Maybe use a version naming convention like NPM our other package

[2019-10-28 09:02] nevotheless opened #398 "Cron expression Format not 6 Fields anymore according to godocs."
**Describe the bug**
Check title.

**Additional context**
According to the Watchtower docs: https://containrrr.github.io/watchtower/arguments/#scheduling A 6 Field cron format is getting used but the referenced godoc page https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format also only has 5 fields.

I know that this was different like 1 or 2 weeks ago. Now's the question, is this onl

[2019-10-28 17:36] Rochet2 opened #399 "Updating docker-compose up --scale images errors on removing images"
**Describe the bug**
Updating scaled images is unable to remove old images.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a watchtower and someservice to docker-compose.yml
2. start the services with docker-compose up --scale someservice=5
3. push a new image of someservice to dockerhub
4. view docker-compose logs and see error messages

**Expected behavior**
No errors would occur wh

[2019-10-29 20:33] simonaronsson commented on #395
It should be option 1 according to http://www.faqs.org/rfcs/rfc2822.html
Does it change anything if you wrap your whole env var in quotes? Like this:
[code]

[2019-10-29 20:39] simonaronsson commented on #396
Thank you for the report! The current way to exclude containers from being updated is by setting the label `com.centurylinklabs.watchtower.enable` to false on containers you want to exclude. Though, if you would like to have a stab at actually excluding hard references, feel free! I'd be happy to review your merge request and guide you towards having it integrated. 🙏

[2019-10-29 20:39] #396 closed, assigned to nobody

[2019-10-29 20:43] simonaronsson commented on #397
Thank you for your request! Currently, watchtower only looks at hash changes for the label you've started the container with. Feel free to submit a PR implementing the functionality you're suggesting. I'd be happy to review it and guide you towards getting it integrated. Thanks! 🙏

[2019-10-29 20:56] JAGFx commented on #397
I never developed with Go. I don't have any idea how to do what's I would like.

But, it can be a good opportunity to do it...
Thanks for your answer. If any other users would like to participate in this feature, you will become my hero :D

[2019-10-30 02:57] devopsenggineer commented on #395
I tried this -e "WATCHTOWER_NOTIFICATION_EMAIL_TO=abc@gmail.com,test@gmail.com" option, it returns with the following error.

Failed to send notification email:  553 5.1.2 The recipient address <abc@gmail.com,test@gmail.com> is
5.1.2 not a valid RFC-5321 address. j2sm576793qki.15 - gsmtp

[2019-10-31 17:18] keatontaylor opened #400 "Update base docker alpine image to 3.10 minimum to address CVEs in alpine:3.9"
**Describe the bug**
The current base image for  watchtower is alpine 3.9 which contains the following security CVEs

![image](https://user-images.githubusercontent.com/657559/67969931-28f28180-fbd8-11e9-98b3-a3d6ea92f074.png)

alpine:3.10 updates these packages to versions that are not currently known to be vulnerable. Suggestion would be to move the base docker image to 3.9.

**To Reproduce**
St

[2019-11-06 19:24] zoispag commented on #367
Hey @simskij, can we bump the priority on this?

I am looking for a way to check that no job is currently running and even though I could do it with a different SIGTERM, using a pre-update script, seems the most straightforward and easy way.

[2019-11-06 19:27] simonaronsson commented on #367
Sure! Seems reasonable! I’ve been doing a lot of conferences and instructor gigs lately which have affected my ability to work on watchtower. Things are starting to look a bit calmer now though! Bumping this as it’s an error in an existing feature.

[2019-11-07 08:37] kevindd992002 opened #402 "Updating portainer"
**Describe the bug**
Everytime the portainer/portainer:latest docker image gets updated, I get this error in the watchtower email notification logs:

2019-10-12 06:01:12 (info): Found new portainer/portainer:latest image (sha256:4cda95efb0e455c3044d727988c36c5947a4287f77db96e799199b349b3d523c)
2019-10-12 06:01:15 (info): Executing pre-update command.
2019-10-12 06:01:15 (error): Command exited wit

[2019-11-13 17:02] amarCosmospace commented on #399
hi, having the same issue: tried a docker system prune but did nothing

[2019-11-13 19:09] unstephenk opened #405 "Slack Identifier doesn't do anything"
**Describe the bug**
I added a slack Identifier to the an env file and am sucking in the env file to set up slack. I setup a web hook in slack. Notifications are working but I have watchtower setup in mulitple places. As of right now the identifier does not seem to be doing anything.
[code]

**To Reproduce**

**Expected behavior**
There should be someway to distinguish which identifier the notific

[2019-11-14 17:45] crossworth commented on #405
This is a bug indeed.
Slack webhook dont support setting the username anymore, is possible set the username using a token but the library used for [slack](https://github.com/johntdyer/slack-go) is old and dont support oauth tokens.

Eventually the notification system will be replaced by [shoutrrr
](https://github.com/containrrr/watchtower/issues/264), which seens to support oauth token.

[2019-11-14 22:54] rguenther-dz opened #406 "TLS Ciphers are outdated"
### the TLS ciphers, supported by Containrrr/watchtower:latest are outdated. ###

To send the notification via email, watchtower tries to connect to the email server with TLS-1.2 and the cipher e.g. AES128-GCM-SHA256.
These ciphers are outdated, and should be used only as a last resort. Thus in lots of email server configurations, these ciphers are not supported anymore. This means, watchtower qui

[2019-11-15 13:27] vergissberlin commented on #127
Hi! A workaround is no solution right? When I use a private registry, _watchtower_ is not able to download images from other registries like docker hub. Is there another ticket about this topic?

Cheers, André

[2019-11-16 09:09] ghost opened #407 "Unable to update container when a container raise error"
sorry my english is not well

**Describe the bug**
i have 3 containers

# docker-compose.yml

[code]

when one container raise error, then   this container can't to update

**To Reproduce**
Steps to reproduce the behavior:
1. when i push a new bad code to  container aa (the new bad code will be raise a error)
  **like this:**
![image](https://user-images.githubusercontent.com/6580897/68990803-6fab

[2019-11-17 10:28] simonaronsson commented on #380
As @0xERR0R noted, this has already been fixed and will be included in the next release, which hopefully - will be out today.

[2019-11-17 10:28] #380 closed, assigned to nobody

[2019-11-18 07:26] zoispag commented on #407
That is because the container has since exited, because of the bad code.
There is a new startup flag, which is not yet included in the latest release, that can support stopped containers. Once the new release is pushed, you will be able to run watchtower with `--include-stopped --revive-stopped` and it will update and restart your stopped containers as well!

[2019-11-18 19:25] cutzenfriend commented on #339
Same issue here! This should be fixed...

[2019-11-18 19:27] simonaronsson commented on #339
You are more than welcome to fix it if you like. 🙏🏻 I fail to see how it makes any difference at this point, more than cosmetic. 😊

[2019-11-19 22:10] simonaronsson commented on #344
Keep this open, thanks

[2019-11-21 13:25] h1dden-da3m0n commented on #382
sorry for bumping this but I would like this to not get closed without getting noticed

[2019-11-22 09:07] controlcde commented on #339
@simskij It´s more than a cosmetic thing. Normally with ```docker-compose up``` only modified containers will restart. Every container that watchtower has already updated (and restarted) will restart after executing ```docker-compose up``` so I could not update my compose file in working hour because it could restart necessary containers.

[2019-11-22 10:08] kevindd992002 commented on #339
@controlcde , you make a very good point if use docker containers in production. I hope they fix this issue.

[2019-11-22 11:00] volschin commented on #339
I also think this bug is not a cosmetic one. Having lots of containers running in one compose file it‘s a problem all watchtower updated containers are recreated again only with a small change in the compose file.

[2019-11-23 05:13] ghost opened #410 "Volumes aren't kept after update"
The container is successfully updated with the new image I pushed in registry, but the volumes aren't kept, they are replaced by new empty volumes instead. The original volumes aren't erased, they are just detached and replaced by new empty volumes.

I do not know what I am doing wrong, I looked at the documentation, and I have neither `--remove-volumes` nor `WATCHTOWER_REMOVE_VOLUMES`, and the de

[2019-11-23 15:08] simonaronsson commented on #400
Hey there!

Thank you a lot for your report. 🙏🏼

This will be prioritized for an upcoming release.  While we run the watchtower binary in a scratch image, and only use alpine as a build stage, we still need to address this issue.

Best regards,
Simon

[2019-11-23 15:11] simonaronsson commented on #410
Hey there,

Thank you for your report! 🙏🏼

To my knowledge this is by design. We don't want any state to leak to a new container. If you have volumes that you'd like to keep attached after an upgrade, I'd suggest you use an external/named  volume.

Thanks,
Simon

[2019-11-23 15:12] simonaronsson commented on #390
Closing due to lack of activity. Feel free to make sure your feature request is covered in shoutrrr, as we're migrating all notifications as soon as possible.

[2019-11-23 15:12] #390 closed, assigned to nobody

[2019-11-24 09:50] #97 closed, assigned to nobody

[2019-11-24 13:38] simonaronsson commented on #367
A quick update: I've got started on this one. Expecting it to be done soon.

[2019-11-24 13:48] simmetest opened #411 "Test"
This is a test issue /@simskij

[2019-11-24 14:04] #411 closed, assigned to nobody

[2019-11-24 18:17] mikey32230 opened #412 "Fatal Error when specifying multiple notification types"
When specifying multiple notification types via environment variable in comma separated format, the watchtower container will not start and has the following fatal error, for example:

`level=fatal msg="Unknown notification type \"email,slack\""`

This is currently still functional in the original v2tec/watchower image.
This is supposed to be a supported method as described in the documentation:

[2019-11-25 01:02] utdrmac opened #413 "No info-level logging indicating whether watchtower is up and running on startup"
**Describe the bug**
`docker log watchtower` <-- no output

**To Reproduce**
I'm a new user to this container so these are the two commands I've ran:

[code]

and after a few minutes, I ran this:
[code]

**Expected behavior**
Expected behavior is to produce logs telling me what the container is doing

**Environment**
Ubuntu 18.04 LTS
Docker 18.09.5

**Logs from running watchtower with the `--debug

[2019-11-25 01:03] utdrmac commented on #413
I stopped the container, and got 1 log line:
[code]
Where is everything else? Where is the status of it checking my containers versions and checking remote/hub versions for comparison?

[2019-11-25 01:08] utdrmac commented on #413
Removed container and tried again with correct --debug flag:
[code]
I can see nothing will happen for 1 day as I specified that interval. I guess I was thinking two things: 1) that the interval would start _after_ an initial check at startup 2) that I would get _some_ logs indicating this at a basic, non-debug, level.

So, feature request: add minimal logging at start up so users know what is goin

[2019-11-25 20:15] simonaronsson commented on #367
Another update:

The feature is now done, I hope. It's pushed to branch `feature/367` for some additional testing before merging it. If all looks good, it will be part of the next release.

[2019-11-26 12:55] rguenther-dz commented on #412
i can fully confirm this issue

[2019-11-26 18:33] simonaronsson commented on #412
Hi,

There is an open issue for this in the viper repository (https://github.com/spf13/viper/issues/380). The current workaround, which from what I can tell works for watchtower as well, is to replace any comma-separator with spaces:

[code]

[code]

[2019-11-26 18:36] mikey32230 commented on #412
If we use this workaround will it then break again when the actual issue is corrected? Or will it retain space delimitation support?

[2019-11-26 18:39] #412 closed, assigned to nobody

[2019-11-26 18:41] simonaronsson commented on #412
hard to say. from what i can tell, the space variant was available even before the issue, so it should be safe to use, but as i'm not a maintainer of viper, i cant really make any promises.

[2019-11-28 21:46] thelittlefireman commented on #215
it's seems to be due to container that are not present on dockerhub or on remote registry. I make custom container with jenkins on CI and it's seems to be only with them that i've got the error. Anyone can confirm ?

[2019-11-29 19:37] SAOPP opened #414 "Gotify container self-removed when update"
**Describe the bug**
Gotify server container self-remove by watchtower when Gotify got update

**To Reproduce**
Steps to reproduce the behavior:
Add Gotify container to watch in Watchtower

**Environment**
 - Platform
 - Architecture
 - Docker version

**Logs from running watchtower with the `--debug` option**

**Additional context**
Second time I'm faced with this issue, when Watchtower is remove

[2019-11-29 19:49] simonaronsson commented on #414
Hi there and thank you for your report!

Would you mind trying to reproduce this with the `—debug` option enabled and then attach your logs to the issue?

Thanks 🙏🏻

[2019-11-29 21:02] SAOPP commented on #414
Yes sure, I just forgot about logs, I have option -debug enabled, and just fast redeployed watchtower without gotify container monitor, and my logs is gone... Okay I'm try once again. Thanks u anyway.

[2019-12-04 23:40] volschin commented on #339
Probably difficult to solve as docker compose seem to calculate its own hash as Label com.docker.compose.config-has. If this isn‘t updated docker-compose thinks with the next run the Container is outdated.

[2019-12-05 02:41] ghost commented on #410
Is there a way to disable this feature?

Am I required to use external/named volume ?

[2019-12-05 03:26] kevindd992002 commented on #339
Well, I hope the devs start to look into this.

[2019-12-05 05:50] jscottelblein opened #415 "Quick question"
So I have WT running all the time, and it seems to be working great, using this command:

[code]

Now, once in awhile I also want to manually run an update on a specific container in the list. i.e. I just want to run a WT check/update on the container named 'nginx'.

How would I go about that (w/out it shutting down the main WT container that I leave always running)?

TIA

P.S. Also, just being ab

[2019-12-05 06:32] volschin commented on #339
Perhaps this helps https://docs.docker.com/compose/reference/config/
The —hash option was added in August 2018.

[2019-12-05 12:07] bluefangs opened #416 "[Question] Can watchtower detect images changes in local repo?"
Hello,

I was looking for ways to streamline docker images updates and came accross watchtower. After reading a bit of the documentation, I've come to know that it is possible for watchtower to pull images from local docker repositories.

My question is, is it mandatory to first push an update to the local repository (or dockerhub for that  matter) in order for watchtower to detect the update and

[2019-12-06 00:17] cameronkerrnz commented on #394
If you're setting http_proxy and https_proxy, you should also be setting no_proxy to set up exclusions.

[2019-12-07 08:27] ginkel opened #417 "Watched container vanishes if update takes longer than interval"
**Describe the bug**
I am using Watchtower to keep the Docker Containers in our system landscape up to date. Most servers are based on x86_64, some are ARM-based (Raspberry Pi 4).

During the update of some containers there is a high chance that the container vanishes after Watchtower has attempted to update it / updated it. In that case, the container is completely gone from `docker ps -a` output

[2019-12-10 15:45] agtokty commented on #416
Hi,

I just try to test your scenario, but it didn't worked as expected for local images without pushing them to hub.
I build another image with different tag version (also change image content to create image with different image id) but, local image is not used...

Regards

[2019-12-12 17:19] nuba commented on #397
@JAGFx check https://medium.com/@mccode/using-semantic-versioning-for-docker-image-tags-dfde8be06699

[2019-12-14 09:47] simonaronsson commented on #388
This is already merged. Closing.

[2019-12-14 09:47] #388 closed, assigned to nobody

[2019-12-15 13:02] donce commented on #272
As a work-around, you might run multiple watchtower instances, one instance for each container you want to monitor.

[2019-12-17 04:40] ghost commented on #410
If I contribute such feature, would you merge it ?

[2019-12-17 10:08] christoph-kluge commented on #361
This is what I have discovered so far: I have couple of raspberry pi's running in total different geo locations with a short update interval of 30s.

Today I saw a recurring pattern which seems to be related to the registry (Hub, ECR and GitLab Registry). Almost all of pi's did report `Unable to update container {...}. Proceeding to next.` at roughly the same time for the same container.

My idea

[2019-12-19 17:01] greenspray commented on #119
I'm still having issue with gcloud. I used `docker-credential-gcr configure-docker
` to successfully login in my server but I get authentication error.

[2019-12-20 17:27] jtyler258 opened #419 "credHelpers field in docker config.json does not work for ECR"
Following the document here https://github.com/containrrr/watchtower/blob/master/docs/credential-helpers.md

My docker config.json should be set up properly

[code]

However with this setup I get an error `docker.errors.DockerException: Credentials store error: StoreError('docker-credential-ecr-login not installed or not available in PATH',)`

If I change my config to use ecr-login in the credsSto

[2019-12-20 17:38] jtyler258 commented on #419
Wanted to put this issue up in case anyone else runs across the same thing. I've spent probably 3+ hours on this already.

using credHelpers with docker-compose is currently not supported, credsStore must be used instead

[issue referenced here](https://github.com/danielcompton/amazon-ecr-credential-helper/commit/bf06378a3caddd59bab622c627e6f1e4136b8695)

[2019-12-24 03:40] kevindd992002 commented on #402
Any help here?

[2019-12-25 12:50] simonaronsson commented on #416
Hey there! 👋🏼

Thank you for the question! Currently, watchtower requires images to be published on some kind of registry, however you might run the registry locally in a docker container if you want to keep your images local.

If you feel up for it, feel free to have a go at implementing updates based on local hash differences as well. I\d be happy to review it.

Closing this issue for now.

Best

[2019-12-25 12:50] #416 closed, assigned to nobody

[2019-12-25 12:55] simonaronsson commented on #415
Hey there! 👋🏼

Thank you for the question! This is possible using the `--run-once` argument in combination with specifying the image to update, ie.

[code]

[2019-12-25 12:55] #415 closed, assigned to nobody

[2019-12-25 12:57] simonaronsson commented on #413
Thank you for the report! Feel free to have a stab at adding this initial logging. I'd be happy to review and merge your pull request!

[2019-12-25 13:00] simonaronsson commented on #402
Thank you for the report! 🙏🏼 I'll have a look at this as soon as possible. The error seems to be because of a pre-update command being executed.

Would you mind pasting relevant parts of your docker-compose.yml or the docker run command you're using to create the containers? Preferably for both watchtower and portainer. We fixed a bug related to lifecycle hooks recently, but I don't think it;s bee

[2019-12-25 13:02] simonaronsson commented on #417
Thank you for your report! 🙏🏼 I'll have a look as soon as I get some time on my hands :)

[2019-12-25 13:03] simonaronsson commented on #417
Also, did you get any additional intel on this since you enabled `---debug`? 😄

[2019-12-25 15:58] kevindd992002 commented on #402
Thanks! Sure, here you go:

[code]

[2019-12-26 19:20] #413 closed, assigned to nobody

[2019-12-26 19:24] simonaronsson commented on #419
Hey!

Thanks for the report. @rymdo and I collaborated on this one and to the best of my memory we got it working.  I'll go ahead and reopen this as I want to dig deeper into this.

[2019-12-27 11:02] simonaronsson commented on #402
This does not really explain why watchtower is trying to execute a pre-update command, as you - according to the compose file - not even have it turned on. In any case, this particular problem should be solved by the next release.

[2019-12-27 11:23] kevindd992002 commented on #402
Right. But all my watchtower notification emails, regardless of which containers it's trying to update, have the "executing pre-update command" event. Does that mean it's a bug or something?

[2019-12-27 11:28] simonaronsson commented on #402
Would you mind updating to the version I just released and see if that resolves the issue?
Thanks.

[2019-12-27 17:41] jnidzwetzki commented on #339
I was facing the same problem today. I have looked for the reason and would like to document my findings in this ticket.

As @volschin already wrote, the problem is, that `docker-compose` creates a hash over the configuration of the container. When `docker-compose up` is called and the hash of a running container is different, then the container is recreated.

The hash is stored in a label called

[2019-12-27 18:21] simonaronsson commented on #339
Thank you very much @jnidzwetzki for your thorough investigation! 🙏🏼 I'm hesitating to pursue this feature in watchtower at all. To be totally honest, it sounds like recalculating the hash would be very fragile and could break without warning.

Any suggestions on how to proceed? I seldom modify my compose files, or run `docker-compose up` so I kind of need your input here. And do note that "this s

[2019-12-27 20:40] jnidzwetzki commented on #339
To solve this problem, watchtower would need a re-implementation of the complete JSON hash algorithm (https://github.com/docker/compose/blob/dd240787c2d0018feb215344207dfe8093a798fc/compose/utils.py#L103).

The algorithm and the needed values depend on the `docker-compose` version and this would be very fragile. Maybe, we could implement different versions depending on the `com.docker.compose.vers

[2019-12-28 02:07] kevindd992002 commented on #402
Ok, so I waited for watchtower to update itself this morning and it was a success. Now how would I go about in testing if the new version really did solve the problem or not? Do I just need to wait for watchtower to update any container and if the "executing pre-update command" is not present anymore then that pretty much solves the issue?

[2019-12-28 09:48] simonaronsson commented on #402
One thing I usually do when I test is to force an update.
For example, if you create a portainer container:
[code]

Watchtower should then, during the next update, see that the hash differs and update it to the image currently set as :latest.

[2019-12-29 00:53] kevindd992002 commented on #402
Looks like it worked! I don't see any pre-update events in my notification emails now. So was this sort of a bug? What pre-update commands was watchtower executing in the past?

[2019-12-30 23:05] wsw70 opened #426 "Delayed updates"
**Is your feature request related to a problem? Please describe.**

It happens that an image is released, then recalled / pulled back because of an issue. Currently such an image would be updated by watchtower (as designed)

**Describe the solution you'd like**

The ability to delay the update, such as in *update the image, but only if it is 3 days old*

Ideally on a per image basis, but a global

[2020-01-03 18:10] simonaronsson commented on #387
This should be solved by your PR (#393) in v0.3.10.
Do you share that observation?

[2020-01-03 18:12] mindrunner commented on #387
It should be solved, but I have no setup running to confirm this at the moment. Give me a couple of days. I will try to reproduce it so we can be sure the problem does not exist anymore! :)