[2020-01-03 18:13] simonaronsson commented on #407
The mentioned flag has now been released. Closing this issue.

[2020-01-03 18:13] #407 closed, assigned to nobody

[2020-01-05 03:20] #395 closed, assigned to simonaronsson

[2020-01-05 06:57] dinuta opened #427 "Watchtower update fallback"
Hi guys,

This tool it is a great help in infrastructures where docker is used, or in organizations where the adoption of Kubernetes  is conditioned by first testing the cloud deployments in docker.

I read your documentation and i did not see any fallback mechanism in case the docker image is "broken".

This is a critical feature that needs to be implemented, as per production environments.

Here

[2020-01-06 14:08] mindrunner commented on #387
NACK

Still getting the errors with tag `latest`. Cannot figure out how to check the version string. `watchtower` seems to not support a `-V` or `-v` parameter.

I remember I was testing it with the first version of my PR, but not with the second one. Also my test looks different now, but that should not matter. Any idas what might be going on?

[2020-01-07 08:38] avinashkurup opened #428 "Issues with updates of docker container images from private Gitlab/Dockerhub container registry."
I'm using watchtower to test an automated container image update/download/run mechanism. The docker instance (which runs watchtower) is running on linux 5.0.19 built with yocto 2.7 in a qemuarm64 emulator. Docker has been tested and works correctly in pushing, pulling and running images in the QEMU ARM emulator. I face an issue with the following use case. I am uploading container images to gitlab

[2020-01-07 16:19] victorcmoura opened #429 "Watchtower HTTP API proposal"
Since Watchtower basically watches for docker registries and actively pulls images in order to check for outdated containers, it keeps continuously incrementing the registries' pull counter, making them useless. The counts can no longer be considered as user downloads/pulls.

This issue has been impacting some of my co-workers' personal projects and I have managed to use it as a working case in my

[2020-01-07 16:55] victorcmoura opened #430 "Self contained docker build for local changes"
While building Watchtower containers with the default Dockerfile, I bumped into a few errors related to how my go build was being created. I tried using the self-contained Dockerfile and it worked.

There should be a development version of the self-contained build to enable contributors to safely build docker images of their own versions of Watchtower without having to worry about environment conf

[2020-01-09 19:59] #400 closed, assigned to nobody

[2020-01-10 09:07] S2ciOnur opened #435 "Email Notification to multiple Adresses"
Hello, I would like to use the email notification function and send it to several email addresses.
i.e. I would like to assign the environment variable
WATCHTOWER_NOTIFICATION_EMAIL_TO
Assign more than one address
e.g. separated with a comma

like
WATCHTOWER_NOTIFICATION_EMAIL_TO=User1@mail.com, User2@mail.com

[2020-01-10 14:02] dinuta commented on #429
Hi @victorcmoura

Can you also consider update fallback in the api implementation?

https://github.com/containrrr/watchtower/issues/427

[2020-01-10 14:46] simonaronsson commented on #398
As we're locking our dependencies to specific commits using go modules, this change has yet to make it to watchtower. I'll go ahead and edit this issue to an improvement suggestion so that we keep it in mind next time we upgrade our dependencies. Thanks a bunch! 🙏🏼

[2020-01-10 14:48] simonaronsson commented on #410
Hey! Sorry for the delay in response. No, I don't see that this suggestion should make it into watchtower as it would go against the intended container philosophy. Rather, I'd suggest that you go for the external/named volumes option. See https://success.docker.com/article/different-types-of-volumes

[2020-01-10 14:48] #410 closed, assigned to nobody

[2020-01-10 14:51] simonaronsson commented on #383
Hey there!

You should be able to do this already using [lifecycle hooks](https://containrrr.github.io/watchtower/lifecycle-hooks/). For instance, you could add a script running `docker volume prune` on `post-update`. Another solution, which I tend to utilize myself, is to add a cronjob running the prune command every night.

[2020-01-10 14:51] #383 closed, assigned to nobody

[2020-01-10 14:55] simonaronsson commented on #430
Solved through #431

[2020-01-10 14:55] #430 closed, assigned to nobody

[2020-01-10 21:35] simonaronsson commented on #435
Thank you for reporting this issue! This is solved in the referenced issue, which will be part of release v0.3.11.

[2020-01-10 21:35] #435 closed, assigned to nobody

[2020-01-10 23:36] simonaronsson commented on #387
I've moved the code around a bit and switched the map to contain image ids instead of containers.
I also added some tests to make sure it works. It does not break for me. Mind checking out master and trying it out?

[2020-01-11 00:09] mindrunner commented on #387
`master` means `latest` tag on docker-hub?

[2020-01-11 09:43] simonaronsson commented on #295
Reopening this as I believe this is something we really should have.

[2020-01-11 09:47] simonaronsson commented on #387
Oh, sorry. No, with master I was referring to checking out the repo and building it. 😄
If that's too much of an effort, I'll try to solve it some other way 👍

[2020-01-11 09:58] simonaronsson opened #437 "Publish development images automatically on push to master"
Every time someone pushes to master (including merges), we need to build and push these changes to DockerHub or Github Packages using a development tag, like `latest-dev`.

This will make it a lot easier for our community to aid us in testing out new features to make sure they're ready to be released.

[2020-01-11 16:08] simonaronsson commented on #264
#405 should be taken into consideration when migrating to shoutrrr.

[2020-01-11 16:09] simonaronsson commented on #405
Closing this in favor of #264

[2020-01-11 16:09] #405 closed, assigned to nobody

[2020-01-11 16:12] simonaronsson commented on #402
pre-update commands are part of the lifecycle hooks described [here](https://containrrr.github.io/watchtower/lifecycle-hooks/). they should only run when enabled and specified.

what happened here was that watchtower due to a faulty check ran a null command even though the lifecycle hooks were disabled. not a problem really as nothing really happened, but annoying as it produced notification spam.

[2020-01-11 16:12] #402 closed, assigned to nobody

[2020-01-11 19:44] mindrunner commented on #387
Sure, no worries. I am on it!

[2020-01-11 20:57] mindrunner commented on #387
Works perfectly fine now :)

[2020-01-11 20:57] #387 closed, assigned to nobody

[2020-01-11 20:58] simonaronsson commented on #387
Yay! I'll make sure that it's included in 0.3.11 🙏

[2020-01-11 21:02] simonaronsson commented on #426
Thank you for the report! 🙏🏼Unfortunately, this feature is not something that I'll prioritize right now. However, if you feel up for it - have a stab at it and put up a PR. I'd be happy to assist you in getting it merged 👍

[2020-01-11 21:06] #437 closed, assigned to nobody

[2020-01-11 21:29] simonaronsson commented on #417
Ok, so I've had some time to look into this now, and I can't really tell what's going on. It should not be because of the interval being hit again during an update. If that's the case, we just reschedule the next check and continue with the one currently running.

According to the watchtower logs at least, it seems like the homeassistant container is actually created successfully. If you run `dock

[2020-01-11 21:30] simonaronsson commented on #414
Any news on this, @SAOPP? 😄

[2020-01-13 04:17] kevindd992002 commented on #402
So are you saying that the pre-update command caused the error when updating portainer but nothing wrong really happened?

2019-10-12 06:01:15 (info): Executing pre-update command.
2019-10-12 06:01:15 (error): Command exited with code 126.
2019-10-12 06:01:15 (error): OCI runtime exec failed: exec failed: container_linux.go:345: starting container process caused "exec: "sh": executable file not fo

[2020-01-14 06:37] jaylenw opened #439 "Support for Rocket.Chat notifications"
**Is your feature request related to a problem? Please describe.**

I have been using Rocket.Chat for many of my dev-ops notifications instead of Slack. I recently implemented Watchtower for one of my projects and wondered if I could use the Slack notification feature to actually send notifications to a channel in [Rocket.Chat](https://rocket.chat). I did the following in my `docker-compose.yml` f

[2020-01-14 11:23] simonaronsson commented on #402
Correct!

[2020-01-14 12:02] kevindd992002 commented on #402
Thanks for the help!

[2020-01-15 15:37] EnOane commented on #387
@simskij hello, are u include this pull to 0.3.11??

[2020-01-15 18:19] khor0 opened #440 "Multiple private registries"
I can't find this in the documentation, so I'll assume it isn't a feature.
---

It would be awesome to declare in the configuration file which containers are to be monitored and their respective registries and credentials.

The example in [the documentation](https://containrrr.github.io/watchtower/private-registries/#create_the_configuration_file_manually) is as follows:
[code]

My suggestion is t

[2020-01-15 20:00] simonaronsson commented on #387
Yes, that's my ambition! 😅

[2020-01-15 20:03] simonaronsson commented on #440
Thank you for your report! 🙏🏼

Unfortunately, the configuration file mentioned in the documentation is part of docker rather than watchtower, so such a change would require changes in moby/moby as well.

Is there a specific use case you're trying to solve that is currently not covered by watchtower? If so, it would be interesting to check whether we could find an alternative approach to achieve wh

[2020-01-16 01:54] khor0 commented on #440
Hello there @simskij. Thanks for the fast response.

I have a server which contains multiple dockerized applications owned my multiple people/project groups.

As a sysadmin, I would rather have a Key on the server end which has read rights for the registry (in this case GitLab's) than have SSH keys deployed into the repo to execute commands inside the server.

I already use a simple instance of Wa

[2020-01-16 14:20] avinashkurup opened #441 "Container image updates from local filesystem."
Hi,

I have been using Watchtower & it has some pretty cool features that I'm interested in. I would like to know
1. Is it possible for Watchtower to update running containers using images that are stored on a local filesystems (for eg. USB storage). I would like to do this employing lifecycle hooks the same way it works for online container registries?
2. Has there been any current effort/plans t

[2020-01-16 14:38] victorcmoura commented on #429
Hi, @dinuta. As I mentioned in the PR, I believe it is safer not to overwhelm, with more complex features, the first implementation and keep them for future contributions. But it is certainly something that I see as necessary to make Watchtower usage more feasible in production environments (at least small production environments).

[2020-01-17 09:28] S2ciOnur opened #442 "Multiple Notifications Level"
Is there a way, to configure multiple Notification level in Watchtower?

like

- WATCHTOWER_NOTIFICATIONS_LEVEL=info,panic,fatal,error,warning

i'm not sure, if this is possible because i didn't found anything in the documentation about multiple levrels.

If this is not Possible, could you please create a Feature Request out of this?

Thank you for your amazing work <3

[2020-01-19 19:03] polaroidkidd commented on #119
I am facing the same issue as well. Is there any way to supply you with more information?

[2020-01-19 19:31] Jacobh2 commented on #119
Are you using a gcp user with the correct [privileges](https://cloud.google.com/container-registry/docs/access-control)?  Are you able to sign in with that user manually and try to do a `docker pull` to verify that it _should_ have access?

[2020-01-20 21:22] polaroidkidd commented on #119
Currently I run the `docker-compose pull` command to get the latest version of my images without a hitch (when I'm in the directory containing the `docker-compose.yml` file). I have not checked weather I have the correct privileges or not yet. Let me check and get back to you.

[2020-01-21 00:58] #406 closed, assigned to nobody

[2020-01-21 09:47] h1dden-da3m0n commented on #382
final bump

[2020-01-26 05:13] carueda commented on #68
Almost 3 years since this was closed, but still an issue...

[2020-01-26 18:43] h1dden-da3m0n commented on #382
thy @simskij for that tag add 😄

[2020-01-27 06:22] volschin commented on #339
This discussion is running since 2016 with latest comment from 2018. I don‘t think something happens there.

[2020-01-27 06:28] volschin commented on #339
Perhaps it would be an idea to link the binary of Docker-compose to a place in the container. This allows to use the hash algorithm from the installed Version.

[2020-01-27 10:32] auanasgheps opened #443 "Do not send emails every time watchtower is up?"
Hi all,
Since last update, Watchtower sends an email every time it is started and running. **I do not want this**. My server turns off and on multiple times a day and I get spammed with emails that have no utility. My goal is to go back to the previous state: send an email **only** when updates are found.

Here's is my docker-compose file. Am I missing something?
Thanks

[code]

[2020-01-28 12:39] DaniyalCuboid19 opened #444 "Rollback to previous container in case of error or exit"
Is it possible to rollback to previous version if new uploaded container is stop or exit due to error ?

[2020-01-28 12:41] DaniyalCuboid19 commented on #444
#90  mentioned earlier as well

[2020-01-28 22:01] oliverpool commented on #339
If you have the `--no-restart` flag set and `restart:always` in the `docker-compose` config, does `docker-compose` restarts it with the updated image?

[2020-01-30 10:03] rparree opened #445 "Does watchower ignore containers outside compose"
Hi,

I have a watchtower setup inside a docker compose. It nicely monitors all containers inside the compose, but not those outside of it. I searched the documentation to see if this is expected behaviour, but was not able to find this.

I would like to also include monitoring of containers outside the compose file.

I'm not using labels, all the config is:

[code]

Should watchtower include conta

[2020-01-30 13:59] RDYW81 commented on #442
I would like to know about this issue too ...

Or it may be that the terms are arranged hierarchically. If so, I could not find the exact arrangement in the documentation.

I would be glad about an information - thank you very much in advance.

[2020-01-31 08:19] sebkrueger opened #446 "Documentation need more details about the --schedule Argument"
The document sad that watchtower has a cron like --schedule parameter, but there was not much information how to use it.

- Why there are 6 Parameters, what is the sixed about (seconds i guess!?), and is it at the beginning or the end?
- The example is nearly useless, without saying what time/date/intervall it will trigger the update
- Some more info what crontab syntax are supported e.g. slash, c

[2020-02-02 04:06] heywoodlh opened #447 "Confirmation/Approval Before Updating Container"
First off, thanks for all the awesome work on Watchtower. :)

<br>
<br>

**Is your feature request related to a problem? Please describe.**
I use Docker for running desktop applications on my Linux laptops (i.e. Firefox, Tor Browser, etc.). If I have Watchtower running in the background while using one of these applications in a Docker container it will often kill the container without warning so

[2020-02-04 07:44] matt-horwood-mayden commented on #394
have stopped using this, its a good system. but not how I now manage my containers

[2020-02-04 07:44] #394 closed, assigned to nobody

[2020-02-05 01:14] laszlojau commented on #38
@fantapop To make it work with IAM roles, in addition to the above, you have to mount your AWS credentials file in `andyault/watchtower-ecr`.

You can use a separate credentials file that refers to the role you have attached to the EC2 instance.

Example `aws-credentials` file

[code]

You can mount it this way:
[code]

[2020-02-05 07:59] simonaronsson commented on #38
There is actually a way of doing this, described in the docs, which works with the official image:
https://containrrr.github.io/watchtower/private-registries/#credential_helpers

I'd also like to encourage all future readers to **never** add credential files to your docker images.

[2020-02-06 17:09] greenspray commented on #119
I can definitely do a normal docker pull

[2020-02-06 21:24] polaroidkidd commented on #119
Right, so I've tried going through the various steps (stop all docker services, wipe system, restart docker service, authenticate using the keyfile and boot everything up again). Unfortunately I keep on getting the same error message.

[code]

for every private container. The docker-compose pull command ran through without a hitch. I'm not sure what other information I could give you at this point

[2020-02-07 05:55] simonaronsson commented on #119
@polaroidkidd, could you please upload the docker-compose config for watchtower and at least one of the private containers you want to keep updated? We're kind of at a loss here due to the lack of knowledge about your system.

This part of the documentation **should** be sufficient to get you up and running with private registries, but we might have missed something for gcloud in particular.

Than

[2020-02-07 10:41] eapetitfils commented on #446
Had the same question today, more details are available in #87
It looks like the go documentation [linked ](https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format) by the watchtower documentation has been updated to remove the seconds entry, hence 5 fields only.

[2020-02-07 16:02] polaroidkidd commented on #119
Hi

Here's my complete configuration:

[code]

actually, give me a minute. I think I got it.

Edit:

Nope. Trying to figure out how to load the google credential helper into a separate docker file so i can mount it as per the example now. This will probably be it. I'll close it for now and should i figure this out, post my solution here.

[2020-02-08 13:35] #188 closed, assigned to nobody

[2020-02-08 22:40] simonaronsson commented on #295
I've started implementing some kind of embryo for this in #450

[2020-02-10 08:51] brambaars commented on #166
The stackoverflow solution (change portnumber to 587 to use TLS) solved my issue. Thanx!

[2020-02-10 11:33] simonaronsson commented on #447
Thank you for the report! 🙏🏼

Unfortunately, this is not something we're looking to implement at this time. However, If you'd like to have a stab at implementing it, I'd be happy to assist in reviewing the code.

[2020-02-10 11:33] #447 closed, assigned to nobody

[2020-02-10 11:35] simonaronsson commented on #446
Thanks for pointing that out! 🙏🏼

It would be super-helpful with a pull request updating the documentation to reflect what @eapetitfils linked from #87

[2020-02-10 11:38] simonaronsson commented on #445
Hi there, and thank you for posting!

Watchtower should monitor all containers available through the mounted socket.
I know I've heard at some point that someone had to specify the default network in their compose-file, but I've never had to do that myself.

Would you mind running watchtower with the `--debug` flag and paste any output here?

Thanks 🙏🏼

[2020-02-10 11:42] simonaronsson commented on #443
Hi,

This behavior was changed to include an info-level notification in 0.3.10. Previous to that, it was set to debug-level. We can change this back and forth all we want, but unfortunately, no state will fit everyone.

If you'd like to add a `--no-startup-message` flag, feel free to submit a PR and I'd be happy to review it.

Thanks 🙏🏼

[2020-02-10 11:43] simonaronsson commented on #442
It is actually hierarchical, in the following order:

* Debug
* Info
* Warning
* Error
* Panic
* Fatal

The level you select will include all levels below that one in the list.

Thanks you for asking! 🙏🏼

[2020-02-10 11:43] #442 closed, assigned to nobody

[2020-02-10 11:47] simonaronsson commented on #439
Looks equivalent to what I get in slack 👍🏻

We're still in the process of migrating the notification support to using [shoutrrr](https://github.com/containrrr/shoutrrr). I've gone ahead and added Rocket.Chat to the list of services we should add at one point or another, but for now I'd say you're good to go with what you've got. 😅

Thanks 🙏🏼

[2020-02-10 11:47] #439 closed, assigned to nobody

[2020-02-10 13:35] auanasgheps commented on #443
Well, I have no coding skills, someone else would have do to this.

[2020-02-11 15:39] greenspray commented on #119
Any updates yet on this issue?

[2020-02-11 16:01] polaroidkidd commented on #119
@greenspray I'm afraid not. I tried and failed to follow the documentation and adapting it for the google private docker registry.

If it's any help, I've been using the gcloud credential helper, but couldn't get that one to work in the docker container. I'll try `Standalone Credential Helper` next and work my way down the list here https://cloud.google.com/container-registry/docs/advanced-authent

[2020-02-12 07:18] simonaronsson commented on #68
There really isn't any great way to fix this, as users may have multiple sources for images, some private, some public. The fix, for now, is to prepend the image name with the URL.

I'm sorry for any inconvenience this may cause you, but can't think of a safe and generic way to solve this with code.

[2020-02-12 07:34] simonaronsson commented on #119
Yes please, a PR would be most welcome!

One thing to note is that you, if you build it from source, likely need to disable CGO, or the resulting binary wont be executable in the watchtower containrrr (which uses a scratch image rather than a full os)

[2020-02-12 12:22] fmartinou commented on #216
Hi,

I was also looking for a way to get notifications as soon as a newer tag exists for a service I use...

Because I haven't found anything which fitted my needs, I came to code my own solution:
**What's up Docker?**

I'm relying on the Docker registry API to look for new versions
(semver if possible, regex fine tuning,...).

You can give it a try if you're interested... Feedback and contributio

[2020-02-13 10:01] deadmerc commented on #264
Hey guys, maybe like for temporary solution `identifier` will be append to message?
`server-name-1: Starting Watchtower and scheduling first run:...`

[2020-02-14 05:52] jaylenw commented on #439
Thank you @simskij for your reply. Sounds good! I look forward for the migration to [shoutrrr](https://github.com/containrrr/shoutrrr).

[2020-02-14 10:35] PaulSonOfLars commented on #397
I'm interested in a similar idea, to allow me to separate stable and beta image tags. Was thinking about some sort of regex pattern?
Would also lay the groundwork for matching on other criteria, eg semver, as mentioned above (Or, you could just use regex as a close-enough alternative).

Any pointers as to where I should start looking? Intend to give this a look over the weekend, if time permits.

[2020-02-20 12:09] Coriakin commented on #417
Also seeing this. Have not enabled debug yet though but containers do vanish without a trace and need to be manually recreated. It's especially annoying if it happens to my proxy containers which means watchtower cannot even notify me via gotify xD

I do not have any data to support my observation but I THINK I saw the same happening with "v2tec/watchtower", so I don't think it's unique to this wa

[2020-02-20 12:32] kylemiller3 commented on #441
I would like to know this too. I do not use docker hub as I just ssh my container into a load command.

[2020-02-20 17:35] matheuscmpm commented on #272
Is this still an issue? Thinking about implementing watchtower, but with this kind of behavior it won't be good for my scenario. I have more than one hundred containers using the same image in the same server. I really need something more close from what OP said.

[2020-02-20 18:35] don-code opened #451 "Changes to config.json are not picked up"
**Describe the bug**
If `config.json` is modified outside of the Watchtower container with `docker login`, the changes are not reflected by Watchtower until a restart.

**To Reproduce**
Steps to reproduce the behavior:
1. At runtime, mount in `/root/.docker/config.json` with the following contents:
[code]
Watchtower at this point is running as:
[code]
2. `docker login` to some repository, which up

[2020-02-22 21:18] ryester19 opened #453 "Feature Request: Restart Other Container when Updated"
**Is your feature request related to a problem? Please describe.**
Thanks to fde6e730770521919fec63d04bbe0b93dff846f4, updating containers that shares a network stack with a "parent" container has been fixed. However, if the "parent" container is the one that's being updated, every other container attached to it loses connectivity until those containers are also restarted.

**Describe the solution

[2020-02-23 00:00] ghost commented on #451
I am also having this issue. I have been debugging it for the last few days and like you have found when the file is updated on the host it is not updated on the watchtower server. I read that as the file is being changed by something like docker the bind mount is being broken.

A potential workaround for this being broken is to mount a directory rather than a single file however in this case this

[2020-02-24 19:05] pagdot opened #454 "Crash when gotify isn't available"
**Describe the bug**

Crash of watchtower because gotify isn't available anymore because gotify or the reverse proxy got taken down for an update. Because of the crash my reverse proxy doesn't get restarted :/

**To Reproduce**
Steps to reproduce the behavior:
1. Setup gotify notifications
2. Start watchtower
3. Wait until gotify or the reverse proxy get taken down by watchdower for an update
4. S

[2020-02-25 12:26] pagdot commented on #454
It isn't very clear in the [documentation](https://golang.org/pkg/net/http/), but according to this [answer on StacOverflow](https://stackoverflow.com/questions/33238518/what-could-happen-if-i-dont-close-response-body-in-golang)  and this [lines in a commit on golang](https://github.com/golang/go/commit/47bdae942242eca4be94989bab485bb1335f354d#diff-2413dd65c142ac2e7102ff20a6fa0d2fR8-R22) the error

[2020-02-25 12:30] krugster commented on #252
I just came across this post and am running into an odd issue that maybe you can help with?

I'm able to get Watcher running in Docker on my Synology with the direct docker run command:
[code]

I then attempted to export the config from the Docker UI in Synology so that I could easily save it and re-import if necessary (yes, I know that's redundant to just having the docker run command above, but

[2020-02-26 19:11] fr34kyn01535 commented on #224
The issue seems to lay in the fetched configuration / https://github.com/containrrr/watchtower/blob/master/pkg/container/container.go#L166

`2020/02/26 15:56:51 cron: panic running job: assignment to entry in nil map
goroutine 533 [running]:
github.com/robfig/cron.(*Cron).runWithRecovery.func1(0xc000320910)
	/go/pkg/mod/github.com/robfig/cron@v0.0.0-20180505203441-b41be1df6967/cron.go:161 +0x9e
pa

[2020-02-27 13:57] touramakan opened #456 "Watchtower should additionally set the maximum memory per container"
**The maximum memory usage per container should be limitable if this feature is toggle on.**
If the corresponding flag is active watchtower should additionally set the configured limit of maximum memory each container can consume.

**Possible solution**

- Introduce one flag to toggle the feature on/off
- Introduce a second flag to set the desired maxMemory
- Depending on the first flag set the ma

[2020-02-27 21:39] xbmcnut opened #458 "Help identifying this error please"
Hi there,
I've been using WT for a while now in a compose file and while it works most of the time, occassionally I get the following as I did this morning.
[code]
Upon running docker logs watchtower, I see lots of errors:
[code]
Anyone know what is going on? My config.json file is empty.

Here is my compose file running on a Synology NAS
[code]
Any advice would be appreciated.

[2020-02-29 19:31] simonaronsson commented on #444
Unfortunately, it is not. Anyone up for the task is welcome to have a go at implementing it though.

[2020-02-29 19:35] simonaronsson commented on #458
Thanks for your report! 🙏🏼

I see no errors in your log. All log entries you've posted are debug level, which is totally fine. Is there an actual error you are experiencing that I could help you with? 😅

[2020-03-01 08:52] xbmcnut commented on #458
Thanks for your feedback. I was concerned with the

 as this happens quite a lot and I find the message confusing. Shortly after a spat of these last week, my Synology NAS ground to a halt and became unusable so just trying to rule everything out.

Is this the normal message when there is no update found and if so, why doesn't the alert message state that? It seems that the current message is aler

[2020-03-01 20:09] kiprasmel opened #460 "Option to select which tags should be pulled"
**Is your feature request related to a problem?**

Yes. I'd like to be able to specify some sort of a pattern that would filter out only the matching tags, so that only they're pulled & updated by watchtower.

**Describe the solution you'd like**

Something like:

[code]

or

[code]

Given tags `v1.2.0`, `dev-d8f7983`, `latest`,

the first option would allow the first tag (`v1.2.0`),
and the secon

[2020-03-01 21:36] zoispag commented on #460
I don’t get that. Watchtower will pull new version of the same tag. It will never jump from one tag to another afaik. Instead you can add the label to only allow updates for the containers that are running the images you actually want to be updated.

[2020-03-02 08:55] simonaronsson commented on #460
The way I currently solve this for my own projects is that I push to two different tags depending on where the image should be deployed; `:latest` and `:latest-dev`. But as @zoispag points out, watchtower never jumps between tags but rather looks for hash changes of the same tag.

[2020-03-02 16:39] kiprasmel commented on #460
Wait, so if I normally push to, say, `name:latest`, and then I push to `name:8439e4`, watchtower won't pull it?
If so - we can close, as this is exactly the behaviour I need!

[2020-03-02 16:41] zoispag commented on #460
Exactly. If `name:latest` is running and watchtower is monitoring, only new builds with tag `:latest` will be picked up and update the running container.

[2020-03-02 17:38] #460 closed, assigned to nobody

[2020-03-03 08:43] seirius commented on #119
I don't know if anyone figured out this yet but I found out how to make it work.
I used the manual file configuration as the watchtower documentation points out https://containrrr.github.io/watchtower/private-registries/
Create a base64 string with
```echo -n 'username:password' | base64```
For username use `_json_key` and for password the `gcloudauth.json` file's content.
Add the string to `confi

[2020-03-03 12:58] simonaronsson commented on #119
Thank you so much! 🙏🏼

Would you mind providing a PR that adds this to the docs?

[2020-03-05 21:34] iamareebjamal commented on #427
Not stale

[2020-03-06 12:37] lmussier commented on #367
Hi,
Just to be sure my understanding id good.
The desired behavior is, all operations having a hook (not only preupdate) wait for the hook to finish before going further?
I'm intressting in a use case when somebody/something have to validate the update (more or less what @zoispag want to do)

Ps: Thanks for the great work.

[2020-03-06 13:47] simonaronsson commented on #367
In my PR, it's only the pre-update hook, as that one is the only one that might get interrupted/terminated  by the container being replaced.

[2020-03-09 03:54] davtur19 commented on #264
Are there updates for notifications on Telegram?

[2020-03-09 06:09] zoispag commented on #428
[code]
Watchtower updates only running containers. It will not pull new images, for images found by ‘docker images’ command if a container is not running.

[2020-03-10 10:58] simonaronsson commented on #264
Unfortunately not. I've not had any time to work on switching the current notification module to shoutrrr.

[2020-03-10 11:04] simonaronsson commented on #451
Thank you for the report!

Feel free to have a go at implementing this change! I'd be happy to assist with reviews and direction to the best of my ability. 🙏🏼

[2020-03-11 00:29] tcurdt commented on #264
@simskij how much work to you suspect this will be? I haven't looked at the code at all, but are also craving for telegram and webhook support.

[2020-03-11 02:26] davtur19 commented on #264
[Telegram's Bot API](https://core.telegram.org/bots/api) are very simple to use, but I don't know how to implement it since I don't know Go

For example to send a message (It also works with POST):
`https://api.telegram.org/botTOKEN/sendMessage?chat_id=ID&text=TEXT`

[2020-03-12 14:21] SAOPP opened #462 "Portainer agent and watchtower remote"
Hi!

Guys I have an question 'bout pissibility to use for remote host running portainer agent container at remote docker host - it's possible to connect with remote key to remote host at tcp://ip:9001?

'Coz I'm just trying to do this, and I have an the next logs:

[code]

I'm not sure, but my portainer is working with this instance via this remote agent container at port 9001 now, maybe I need to

[2020-03-12 18:01] simonaronsson commented on #462
Hi and thank you for the report! 🙏🏼

Im a little bit unsure if I get what you're doing here, so please let me know if I misunderstand your question.

As the error says, you try to access an https resource using http, which won't work due to the encryption. See [this gist](https://gist.github.com/styblope/dc55e0ad2a9848f2cc3307d4819d819f) for info on how to set up your docker daemon for remote conn

[2020-03-12 18:20] SAOPP commented on #462
Thanks for answer. Okay, yes, I'm understand the risk, but at current moment I spoke about local connection to the remote instance.

I have an remote machine with portainer agent container - with this container I can connect from my main portainer instance to this remote machine. And I thinked I will connect watchtower to this machine via this agent. But nope.

So againt what I have:
1. machine wi

[2020-03-12 18:22] simonaronsson commented on #462
Yes, you are correct. Watchtower does not work with the portainer agent. That one is for portainer only as far as I know.

[2020-03-12 18:49] SAOPP commented on #462
Okay understood, I read that agent have an api, and I think... it's can be implemented at 3r party software... okay, thanks for the reply homie. Have a nice day time.

[2020-03-12 22:15] lukwil commented on #443
I would like to dig into that. Can you provide me with some information where I should get started?  At the moment I would probably start with internal/flags/flags.go

[2020-03-12 23:09] #462 closed, assigned to nobody

[2020-03-12 23:56] lukwil commented on #443
Ok, I think I found the code pieces I need to edit by myself. I will submit a PR tomorrow (european time ;) )

[2020-03-13 01:15] auanasgheps commented on #443
@lukwil your efforts are really appreciated!!!

[2020-03-14 11:58] hepto commented on #446
I'm confused by these two issues (#446 and #87) - has watchtower now been updated to use the v3 of https://github.com/robfig/cron and therefore expect 5 fields?  On their docs it says to support 6 fields you need to explicitly construct the Cron object with `cron.WithSeconds()`, but my cursory glance at the watchtower source suggest that is not happening, so if using v3 it will expect 5 fields and

[2020-03-14 12:02] hepto commented on #446
May have instantly answer my own question - I've not used go, but if modules are defined in the `go.mod` file, then it is currently set to `github.com/robfig/cron v0.0.0-20180505203441-b41be1df6967` which is an old/original version of `robfig/cron` that uses 6 fields by default.  Carry on!

[2020-03-14 14:24] SAOPP commented on #414
Hey! Sorry I missed this topic. :) I move Gotify to manual updates... need to check it.

[2020-03-18 19:47] sixcorners commented on #43
If I use local containers and swarm containers will this try to update the swarm containers?
Does this at least support swarm insofar as it will skip them?

[2020-03-18 19:57] sixcorners opened #466 "Swarm support documentation"
Could the swarm support be documented? Specifically will this try to update swarm created containers or does it know enough to skip them?
I know this won't update the image used in services but it would be nice to have documentation published for this.

[2020-03-18 20:11] simonaronsson commented on #466
That's a great idea! Feel free to provide a pull request and I'll make sure to assist you in getting it merged. 🙏🏼

[2020-03-18 20:53] jazozaya opened #467 "Download new image but don't update?"
Hello,

I am wondering if it is possible to have watchtower automatically detect and download new images, but NOT restart or kill the running containers?

WATCHTOWER_NO_RESTART seems to pull and update the images but stops the running containers
WATCHTOWER_MONITOR_ONLY seems to be meant for notifications.

We will be using docker container to run a server for a '3d printer', so having a container

[2020-03-20 08:48] mbrandau commented on #264
@davtur19 Telegram seems to be implemented already. https://github.com/containrrr/shoutrrr/issues/2

[2020-03-20 11:47] zamberjo opened #468 "Multiple running watchtower instances"
**Describe the bug**

I am implementing watchtower and I would like to know how I can do my
case of use.

I have 2 types of containers: `[image]:test` and `[image]:prod`.

I would like the containers with tag `test` to be updated every 5 minutes. And the containers with tag `prod` through a schedule at 5am.

After studying it, I have decided to implement 2 watchtower:
 - The first with name `watch

[2020-03-20 15:10] davtur19 commented on #264
@mbrandau yes, but has not yet been implemented/documented in
watchtower

[2020-03-20 15:37] tcurdt commented on #264
@davtur19 the problem is that watchtower needs to move to use shoutrrr and that's not been done yet.

[2020-03-20 15:57] phit42 commented on #252
I presume that's because the gui does not allow to map a volume to /var/.... Thus the workaround via docker run or docker-compose.

[2020-03-21 13:40] simonaronsson commented on #441
Hi, and thank you for the report! 🙏🏼

This is possible, you could just use the --no-pull option as described [here](https://containrrr.github.io/watchtower/arguments/#without_pulling_new_images).

This however, requires you to utilise `docker save` and `docker load` to move the images into the registry of the local docker host.

Hopes this helps!

[2020-03-21 13:40] #441 closed, assigned to nobody

[2020-03-21 13:41] simonaronsson commented on #272
Yes, this is still how it works. However, I'd be more than open to changing this behavior, although it would require some help from the community as I, to be fair, lack time at this point.

[2020-03-21 13:46] simonaronsson commented on #453
Hi, and thank you for you report! 🙏🏼

This idea sounds very useful, and while it's possible to accomplish something similar using [lifecycle hooks](https://containrrr.github.io/watchtower/lifecycle-hooks/), I'd much prefer for a cleaner, more robust solution.

Sadly, I don't really have any time at this point, so if someone is open to having a stabat it; feel free! I'll try to aid you as much as p

[2020-03-21 13:50] simonaronsson commented on #458
Based on what's happening [here](https://github.com/containrrr/watchtower/blob/master/internal/actions/update.go#L31-L32), you should be able to see the actual error in the log just below the "Proceeding to next" line as long as you have the debug flag set.

[code]

If you could paste that here, it would help a lot in resolving/providing an explanation for the errors. Thanks.

[2020-03-21 13:55] simonaronsson commented on #467
Hi, and thank you for your report! 🙏🏼

Unfortunately, there is no such option at this point. If you're open to providing a pull request adding it, I would of course help reviewing and make sure it reaches master, but the sad reality is that my time is too limited to undertake this at this point.

A workaround would be to schedule updates for a window when you know you wont be printing using the bu

[2020-03-21 13:57] simonaronsson commented on #398
This is still an issue we need to address when updating. Reopening.

[2020-03-21 14:00] #454 closed, assigned to nobody

[2020-03-21 14:06] simonaronsson commented on #440
Got it! Thank you for the explanation!

For the time being I, unfortunately, have no plans on adding such a feature. This is more due to lack of time than anything else, so if you'd like to have a stab at providing a PR I'd be more than happy to assist you through the process.

The easiest way to do this would likely be to add a `WATCHTOWER_SCOPE_UID` env var, to be able to differentiate between d

[2020-03-21 14:55] simonaronsson commented on #468
I just reasoned around something very similar to what you're trying to achieve (although that user had a completely different goal) in #440. By adding a `WATCHTOWER_SCOPE_UID` env var, we could allow for multiple watchtower instances, as each would only kill other instances with the same scope uid.

Unfortunately, I don't  really have time to implement this change at this point, so if you'd like t

[2020-03-21 14:59] simonaronsson commented on #427
Hi,

There currently is no such functionality, and to be totally fair I lack the time to do it as this point. If you'd be up to providing a PR I would be more than happy to review and guide you in the right direction, though.

Thanks

[2020-03-21 15:00] simonaronsson commented on #367
I know that @zoispag has been extremely busy with other duties, which is totally understandable. Would anyone else like to have a stab at evaluating these changes? Maybe @victorcmoura or @codelica?

[2020-03-21 16:57] fmartinou commented on #397
Hi,

I'm also running semver versions and because I've found no solution so far (neither watchtower nor ouroboros) to be notified as soon as a new _semver_ version is available, I came to code my own solution:
**What's up Docker?**

I'm relying on the Docker registry API to look for new versions
(semver if possible, regex fine tuning...).

You can give it a try if you're interested... Feedback and

[2020-03-21 18:54] simonaronsson commented on #397
That's awesome, @fmartinou! 👏🏼👏🏼👏🏼

[2020-03-21 21:22] fmartinou commented on #397
Thanks for your interest @simskij ! 🙂

[2020-03-22 20:40] #443 closed, assigned to nobody

[2020-03-23 09:43] mbrandau commented on #264
I will try to add shoutrrr as another notification type. WIP PR coming in soon. I have no experience in Go though 🙃

[2020-03-23 11:37] simonaronsson commented on #264
No better time to learn a new programming language than during quarantine! 😅

[2020-03-23 12:07] mlmnetcologne commented on #467
WATCHTOWER_MONITOR_ONLY:
Watchtower detects the new image when atemting to download the image of exiting containers, after that we have to recreate the containers ourself, to use the new image.
This is because we have to test, if the new image still works with our software.
So this happens:
1. watchtower try to pull the latest image of the container
a. detects that the container is using the an ol

[2020-03-23 19:21] victorcmoura commented on #367
@simskij, sure! I'll take a look at it

[2020-03-23 19:43] victorcmoura commented on #367
@simskij, the changes seem to work. Unfortunately, it is hard to include some testing due to ExecuteCommand mock, it will never return an error. Looks good enough to me.

[2020-03-23 19:56] victorcmoura commented on #468
I can try to implement the WATCHTOWER_SCOPE_UID approach

[2020-03-24 06:10] zamberjo commented on #468
Hi @victorcmoura that would be great. The truth is that I have never programmed in GO, so it would be very helpful.

[2020-03-25 13:49] aneisch opened #472 "no-startup-message ignored with run-once"
**Describe the bug**
Startup log still shown when --run-once used in conjunction with --no-startup-message

**To Reproduce**
Steps to reproduce the behavior:
1. Use --no-startup-message
2. Use --run-once

**Expected behavior**
One-shot run with no startup message

**Environment**
 - Platform
 - Architecture
 - Docker version

**Logs from running watchtower with the `--debug` option**

**Additional

[2020-03-25 14:48] deeztek opened #474 "Failed to send notification email: 504 5.7.4 Unrecognized authentication type"
trying to get e-mail notifications to work with the following config:

[code]

However I'm getting the following error:
`Failed to send notification email:  504 5.7.4 Unrecognized authentication type`

I'm guessing this is a smtp auth TLS type of issue. I didn't see an option to set TLS or SSL in watchtower.

I would appreciate some help.

[2020-03-26 02:07] DoTheEvo opened #475 "Docker image could maybe not be the absolute bare minimum?"
I know its popular to be minimalistic but its not like watchtower is suppose to run in many instances.

We could have nice things when its not trying to be under 5MB
we could exec in to shell
we could have localtimezone from TZ variable
...

anyway, maybe its just mine issue where I cant exec in to it, but I am playing with various docker stuff and I am increasingly annoyed by these tiny alpine ba

[2020-03-26 07:09] zoispag commented on #475
Just a fact: It very common for go apps to be distributed in scratch images.

[2020-03-26 09:13] simonaronsson commented on #475
Thank you for submitting a report!

While I do understand where you're coming from, this is very much by choice as shell access into the container is something that, during normal usage, should not be needed.

Switching from the scratch image we currently use (which makes alpine look like a full-fledged desktop OS) to alpine would double the image size. This is a trade-off I've been unwilling to m

[2020-03-26 09:13] #475 closed, assigned to nobody

[2020-03-26 13:42] panpanli521 opened #476 "Loss of data"
After Watchtower restarts the container using the new image,  some files I have written in the older container are missing.  Does Watchtower not support data saving function before container restarts？

[2020-03-26 14:32] simonaronsson commented on #476
What kind of solution are you currently using for persisting your data? Docker, in general, does not persist data between containers, unless you use volumes or bind mounts.

[2020-03-26 15:44] mbrandau commented on #472
@aneisch What message are you seing? Is it `Running a one time update.`?

[2020-03-26 15:49] aneisch commented on #472
Docker log:
[code]

Email notification:
[code]
Compose config:
[code]

[2020-03-26 22:20] aneisch opened #478 "WATCHTOWER_MONITOR_ONLY=true still pulls latest image"
**Describe the bug**
Despite WATCHTOWER_MONITOR_ONLY=true environmental variable, watchtower still pulls new image.

**To Reproduce**
Steps to reproduce the behavior:
compose file:
[code]
**Expected behavior**
Notification of new image available in repo, not a pull of the image

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
 - Platform
 - Architectur

[2020-03-26 22:21] aneisch commented on #478
Maybe this is expected behavior, but if so, the docs should be made more clear to explain that images will be pulled (if remote repo). I'd be happy to update the docs in this case.

[2020-03-26 22:47] simonaronsson commented on #478
You are correct in your assumption that the intended behavior is to pull the image. This is currently the only way for watchtower to check whether an update is available.

Any improvement to the docs are highly appreciated and I will of course assist in making sure it gets merged and published. 🙏🏻

[2020-03-26 23:08] #472 closed, assigned to nobody

[2020-03-26 23:42] bnounours commented on #445
Hello,
I have the same behavior.
Here is my docker ps:
[code]
docker-compose.yml file :
[code]

Launch the docker:
[code]
=> No containers found

[2020-03-27 10:28] mbrandau commented on #445
@bnounours beware you set the `WATCHTOWER_LABEL_ENABLE` flag to `true`. Only containers with the label `com.centurylinklabs.watchtower.enable=true` will be checked.

https://containrrr.github.io/watchtower/container-selection/

[2020-03-27 10:55] simonaronsson commented on #445
Correct! The docs would definitely benefit from linking to https://containrrr.github.io/watchtower/arguments/#filter_by_enable_label from the page you linked though. I'll make an edit.

[2020-03-27 10:58] #445 closed, assigned to nobody

[2020-03-27 14:36] rparree commented on #445
In my case the problem was that out system launched some containers using the image id and not the tag. So i believe this issues can be closed.

[2020-03-27 19:41] aneisch commented on #478
Will update docs.

[2020-03-27 19:41] #478 closed, assigned to nobody

[2020-03-27 19:59] aneisch commented on #478
#484

[2020-03-28 18:51] #367 closed, assigned to nobody

[2020-03-28 18:59] simonaronsson commented on #43
@sixcorners I don't know to be totally honest as I don't use swarms myself. Feel free to try and report back! 😅

[2020-03-28 19:06] simonaronsson commented on #119
I added a little something to the docs. Hope it helps.

[2020-03-28 19:06] #119 closed, assigned to nobody

[2020-03-28 19:10] simonaronsson commented on #339
In the light of these two comments, I'm gonna go ahead and close this issue as a `won't fix`. For now, docker-compose users will just have to live with this as there is nothing, within reason, we can do from this end.

[2020-03-28 19:10] #339 closed, assigned to nobody

[2020-03-28 19:12] simonaronsson commented on #358
Closing due to lack of activity and willingness from OP to troubleshoot/experiment any further (which I completely understand).

[2020-03-28 19:13] simonaronsson commented on #414
No worries. I'll leave this open for a couple of more weeks then. :)

[2020-03-28 19:18] simonaronsson commented on #474
Out of curiosity: Does it work if you skip the TLS verification? `--notification-email-server-tls-skip-verify`

[2020-03-28 19:44] SAOPP commented on #414
Okay. Thanks.

[2020-03-28 20:47] MrCaringi opened #487 "WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER is not working"
**Describe the bug**
In Slack channel, the WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER value is not displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Slack Channel
2. see the log message, there is no Identifier for the host of the watchtower host

**Expected behavior**
It is expected to indentify the host running the watchtower container

**Screenshots**
screenshot attached

**Env

[2020-03-29 12:36] deeztek commented on #474
In docker-compose.yml file I added the following:

WATCHTOWER_NOTIFICATION_EMAIL_SERVER_TLS_SKIP_VERIFY=yes

but I'm still having the same problem

[2020-03-29 21:20] DoTheEvo opened #488 "cant get env WATCHTOWER_SCHEDULE to work like I expect it to"
**Describe the bug**
when I use env variable to pass cron format (6) schedule it does not actually work like cron format. both `0 * * * * *` and `0 0 * * * *` are executed every minute instead of every hour at xx:00 or every day at 00:00

**To Reproduce**
Steps to reproduce the behavior:
1. use [this](https://pastebin.com/CkL75Hj5) compose file with `WATCHTOWER_SCHEDULE=0 * * * * *`
2. run it  - `

[2020-03-29 23:23] JoachimVeulemans commented on #358
I have the same issue where I would get `cron: panic running job: assignment to entry in nil map`. This is also on a Synology device. This errors only occur with my C# .NET Core 2.2 container. My Angular, Python, Mongo, Unifi, Pihole, Openhab containers all work and update correctly.

To conclude I think it's not a Synology issue but rather with the Dockerfile and the container not wanting to shut

[2020-03-30 06:58] gtaranti commented on #358
I'm seeing the same behaviour.
My failing container is a .Net Core 2.2 container.

[2020-03-30 08:12] kevindd992002 commented on #339
But why? Isn't this a valid issue?

[2020-03-30 18:22] JoachimVeulemans commented on #358
@simskij can we reopen this issue?

[2020-03-30 18:41] simonaronsson commented on #358
If you are willing to participate in troubleshooting, sure :)

- Have you been able to reproduce this bug on x86/x64?
- A minimal repro Dockerfile would also be very helpful.

Thanks 👍

[2020-03-30 18:49] simonaronsson commented on #488
Hi!

Thank you for the thorough report!
I think the reason this is happening is because the string gets terminated after the first 0, thus resulting in the env var being `WATCHTOWER_SCHEDULE=0`.

Any difference if you use `WATCHTOWER_SCHEDULE="0 0 4 * * *"`?

[2020-03-30 19:15] DoTheEvo commented on #488
log complains about failure to parse with both types of quotation

- WATCHTOWER_SCHEDULE="0 * * * * *"
`level=error msg="Failed to parse int from \"0: strconv.Atoi: parsing \"\\\"0\": invalid syntax"`

- WATCHTOWER_SCHEDULE='0 * * * * *'
`level=error msg="Failed to parse int from '0: strconv.Atoi: parsing \"'0\": invalid syntax"`

I tried to do it using command in docker compose instead of env var

[2020-03-30 21:57] piksel commented on #358
I presume you based your images on [this guide](https://docs.docker.com/engine/examples/dotnetcore/)?

[2020-03-31 07:26] JoachimVeulemans commented on #358
When I run the container and press Ctrl + C, it isn't received by the Docker. When I add `-it` this works as expected. Does watchtower execute the `docker stop` command? Because on x86/x64 docker stop works with this Dockerfile, exit code 0.

Dockerfile:

[code]

[2020-03-31 19:53] piksel commented on #358
I was almost able to set it up using the [Virtual DSM](https://demo.synology.com/en-global/dsm?utm_source=feature&utm_medium=Docker). It should be possible with some preparations.

Also the panic is [thrown here](https://github.com/containrrr/watchtower/blob/e584f8bfcfd1be713afe7c1bbc52f902d2163900/container/container.go#L170) because `config.ExposedPorts` is `nil` for some reason.

I'm not sure h

[2020-03-31 20:17] piksel commented on #488
I think this is because of the optional "seconds" field.
Older version of robfig/cron used the [Quartz](http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/tutorial-lesson-06.html) format, with the first field being "seconds".

[2020-03-31 20:32] DoTheEvo commented on #488
yeap, can confirm, tested and dunno where my eyes were, the first field is seconds.

[2020-03-31 20:42] JoachimVeulemans commented on #358
This is the error log I get:
![image](https://user-images.githubusercontent.com/32447944/78073223-c11baf00-73a0-11ea-8ebf-72e44d43d216.png)

[2020-03-31 20:47] piksel commented on #488
Well, it is quite uncommon, and a mistake that the author rectified in v3. The only problem is that changing to v3 will suddenly break peoples setups.

[2020-03-31 20:51] piksel commented on #358
Yep, lines up with [containrrr/watchtower/v0.3.11/pkg/container/container.go:176](https://github.com/containrrr/watchtower/blob/v0.3.11/pkg/container/container.go#L176)

[2020-03-31 21:18] JoachimVeulemans commented on #358
So to understand the problem, the container doesn't respond to the stop signal so it keeps running in the background and when watchtower wants to start a new container on that port, it crashes because the port is not available. Logic.

So does watchtower need to send another signal or do we have to change the dockerfile?

[2020-04-01 16:32] DoTheEvo commented on #488
Break is a strong word... change a bit the schedule sounds betters
and IMO not many people must have run on schedule if only now its found out.

But theres always just changing the documentation...

[2020-04-01 17:16] piksel commented on #488
Oh, now I see what you mean. The watchtower documentation contains a link to the documentation for "v3" instead of the previous version of robfig/cron. Weirdly enough "https://pkg.go.dev/github.com/robfig/cron?tab=doc" still contains the old documentation...?

[2020-04-01 19:26] #488 closed, assigned to nobody

[2020-04-03 15:57] opelx opened #492 "Failed to send notification email: unencrypted connection"
**Describe the bug**

Using the notification type email, on unencrypted (private) network sending mail fails, even with NOTLS. The error is:

Failed to send notification email:  unencrypted connection

**To Reproduce**
Steps to reproduce the behavior:

use docker-compose.yml
--------------------8<-----------------------
version: '3'
services:
  watchtower:
    image:
      containrrr/watchtower

[2020-04-03 17:02] piksel commented on #492
This is unfortunatly not supported by the go smtp library:
https://godoc.org/net/smtp#PlainAuth

[2020-04-03 17:22] opelx commented on #492
Ok, so far I understand (or even not), What is the purpose of WATCHTOWER_NOTIFICATION_EMAIL_SERVER_TLS_SKIP_VERIFY in this context?

[2020-04-03 20:15] piksel commented on #492
Skipping the certificate verification, meaning you can use a self-signed cert

[2020-04-04 07:04] opelx commented on #492
Ok, thanks.

[2020-04-04 07:04] #492 closed, assigned to nobody

[2020-04-04 09:34] simonaronsson commented on #474
As @piksel stated in https://github.com/containrrr/watchtower/issues/492#issuecomment-608553364, watchtower uses the go smtp library, which does not allow plain auth over unsecure connections, unless to localhost.

Is the email provider you're trying to integrate with actually serving tls/ssl connections on the port you specified?

[2020-04-04 10:49] deeztek commented on #474
It certainly is:

[code]

[2020-04-04 15:05] simonaronsson commented on #358
We already have support for sending different signals. See [here](https://containrrr.github.io/watchtower/stop-signals/) for instructions.

You might have to experiment a bit with different signals to find the one able to do the job with as little force as possible. 🙂

[2020-04-05 07:00] jorijn commented on #458
I came here from the Googles, both `homeassistant` and `jacobalberty/unifi:latest` are Docker Hub public images. The error log contains `No credentials for jacobalberty....`. I would expect it to not seek for credentials when it's a public repository?

[2020-04-05 15:54] simonaronsson commented on #458
It is possible to use DockerHub for private images as well, so that's not really an option. And untill we've tried to pull it, we have no way of knowing whether credentials are needed or not.

Jjust disable the debug option and you wont see it. The debug logs are mostly there for aiding in troubleshooting and testing, not for everyday usage. 👍

[2020-04-05 15:58] simonaronsson commented on #458
This usually happens when you briefly loose connectivity, DockerHub is unavailable or something is effed with the dns resolution. There really is quite a large variety of reasons as to why this could happen, most of them being out of our control, so as long as you're back to business as usual in a reasonable time, I'd consider these "warnings" rather than errors.

While we of course can't be sure,

[2020-04-05 15:58] #458 closed, assigned to nobody

[2020-04-06 14:22] JoachimVeulemans commented on #358
@gtaranti @piksel @simskij I found a solution to the problem. Thanks to @simskij for pointing me to the documentation, I've confirmed that labelling the image with the SIGHUP signal, gracefully shuts down and recreates the container.

@gtaranti This should solve your problem too with your container. Just add `LABEL com.centurylinklabs.watchtower.stop-signal="SIGHUP"` to your Dockerfile.

@simskij

[2020-04-06 14:24] simonaronsson commented on #358
If this does not solve your issue, @gtaranti, feel free to reopen the ticket. 🙏🏻

[2020-04-06 17:10] andyleadbetter opened #495 "Ignoring list of containers to update when given as arguments"
**Describe the bug**
Have a suite of containers, some are created locally using dockerfile's and build, some are pulled from the docker hub registry.  I want watchtower to update the hub images only, and so launched the watchtower container with a list if container names to update, however watchtower is failing with an error about not finding an image that is associated to one of the local contain

[2020-04-07 08:14] jankete commented on #215
Is there anything new on this? I can confirm the problem not only occurs on Synology but also on Ubuntu.

[2020-04-07 08:15] gtaranti commented on #358
@JoachimVeulemans : This doesn't work for me. I used the proposed solution but I still the exact same behaviour of the crash.
@simskij  : I'm using the proposed LABEL in the command line, like  `docker run --label=com.centurylinklabs.watchtower.stop-signal=SIGHUP ... ` BUT in the logs I see that SIGTERM is used anyway!!
`time="2020-04-06T22:55:05Z" level=info msg="Stopping /fntapi (68c809171acab8b

[2020-04-07 08:17] simonaronsson commented on #358
That label should be added to the container in question, not watchtower. Is that what you did?

[2020-04-07 08:24] gtaranti commented on #358
Oh.. Silly me! Yes, I added the label to the watchtower container.
I thought instead of labelling **every** container in synology machine, to just label the watchtower container.
OK, I'll add it to the .NET Core 3.1 container and get back with results.

[2020-04-07 08:35] gtaranti commented on #358
How about adding an option to watchtower to use a different default signal than 'SIGTERM'?

[2020-04-07 11:53] JoachimVeulemans commented on #358
@gtaranti I think this is not a good idea. Every container should be stopped as gracefully as possible. Only the .NET containers cause some trouble so they need a little bit more force. No need to stop other containers with the same level of force, this might corrupt the data in some instances when the container doesn't end properly... And that is not what you want.

@simskij do you think otherwis

[2020-04-07 12:06] simonaronsson commented on #358
While I thank you for the idea @gtaranti , I agree with @JoachimVeulemans on this one. Changing the signal should be a per-container option one resorts to if nothing else works, not a default option for an entire stack.

[2020-04-07 12:06] #358 closed, assigned to nobody

[2020-04-07 12:07] gtaranti commented on #358
I verified that putting the label proposed above in the container with the .NET Core 3.1 image, watchtower WORKED as it should, by stopping the container and restarting with the new pulled image.
Thank you @JoachimVeulemans and @simskij !

[2020-04-08 15:27] tsubus commented on #215
having the same issue on my arch server, quite annoying

[2020-04-08 15:36] thomaslule opened #496 "Error "incorrect username or password" when pulling a private repo from docker hub"
Hello 👋

**Describe the bug**
When watchtower tries to pull a private repo from docker-hub, authentication doesnt work by sharing the `.docker/config.json` file.

It works using the `REPO_USER` / `REPO_PASS` env variables with same username/password.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker login --username <your docker id>`
2. check that the `.docker/config.json` file is crea

[2020-04-08 23:20] simonaronsson commented on #496
Hey,

You are missing `v1` in your image url, so the credentials are never used as they don’t match. Change the url of your private image to:

[code]

Hope this helps! 🙏🏻

[2020-04-09 08:00] opelx opened #497 "Self-Signed Certificates Error -> x509: certificate signed by unknown authority"
After closing [#492](https://github.com/containrrr/watchtower/issues/492) I'm starting with self signed certificates to get email notification started.

**Describe the bug**
The logs shows now:

    Failed to send notification email:  x509: certificate signed by unknown authority

The SSL connection can be established:

        $ openssl s_client -starttls smtp -connect mail.home.lan:587
        C

[2020-04-09 22:14] auanasgheps opened #498 "Watchtower is stuck - "Waiting for running update to be finished""
**Describe the bug**
Watchtower prints in logs `Waiting for running update to be finished...` and does nothing. I know there are containers to be updated, but it's stuck.

I've tried killing/stopping/rebooting the container, it doesn't help. It just prints again the same error.

The issue is "fixed" by recreating the container and deleting its internal data.

My docker-compose

[code]

**To Reprod

[2020-04-10 08:24] thomaslule commented on #496
Hi, I tried with `/v1` but docker can't even `docker-compose up`, it gives a `pull access denied` error. I think this is not a valid url for docker because even for public images, docker doesn't find the image if we put `/v1` in the url.

[2020-04-10 08:46] thomaslule commented on #496
Huuuh I tried again with `index.docker.io/thomaslule/my-private-image:latest` and now it works?

I have no idea why it didn't work before 🤔

The only thing that changed is that I did a manual `docker-compose pull my-private-service` to check that the auth worked outside of watchtower, but I don't think it changed anything.

Problem solved I guess 😄 sorry for the noise!

[2020-04-10 08:46] #496 closed, assigned to nobody

[2020-04-10 10:12] agilob opened #499 "Conditional upgrade"
I would like to setup a conditional deploy on some containers.
Eg. a container is provided with a label pointing to a script:
`com.centurylinklabs.watchtower.condition=allow_docker_update.sh`

If the script has exist status 0 watchtower will not upgrade it and retry upgrade on the next schedule, if status 1, container will be stopped and upgraded.

[2020-04-10 10:16] zoispag commented on #499
It should be possible to do this using the pre-update lifecycle hook, given that watchtower can read the exit status of the script.

[2020-04-10 10:24] MrSuicideParrot opened #500 "Error running with -stop-timeout"
**Describe the bug**
When I run a container with the option stop-timeout, the watchtower crashs  with the following fatal error: "flag provided but not defined: -stop-timeout".

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker run --rm -it  v2tec/watchtower:latest --stop-timeout 30s`
2. See error

**Expected behavior**
It is expected that the application  accept this flag and chang

[2020-04-10 10:29] agilob commented on #499
I would like to cancel update process if script fails.

[2020-04-11 08:11] bstlaurentnz commented on #474
I'm not sure which provider @deeztek  is using but this same issue occurs with Office365 / outlook.com's smtp mail server.

[2020-04-11 09:33] deeztek commented on #474
O365 is my provider also

[2020-04-11 15:48] simonaronsson commented on #500
Welcome and thank you for your report! 🙏🏼

While this for sure is an error, I would argue it's not a fatal one, as watchtower never even starts. 😜
Will have a look as soon as time allows.

[2020-04-12 07:14] mbrandau commented on #264
One feature I’m missing while testing the new notifications on latest-dev is to disable the timestamps. Since I think most of the services show timestamps anyway, I think there should be an option to disable and/or format them in watchtower.

[2020-04-12 12:52] piksel commented on #500
Use `containrrr/watchtower:latest` instead. The `v2tec/watchtower:latest` is stuck on 0.3.0 and the documentation is referring to 0.3.11

[2020-04-12 12:54] zoispag commented on #500
Ah, great catch @piksel !

[2020-04-12 13:12] #428 closed, assigned to nobody

[2020-04-12 13:13] simonaronsson commented on #446
Docs have been updated to reflect this.

[2020-04-12 13:13] #446 closed, assigned to nobody

[2020-04-12 13:18] simonaronsson commented on #487
Thank you for your report! 🙏

The existing slack notification won’t be maintained anymore as we’re currently moving to shoutrrr for notifications. The new notification system is currently in test and will be released once found stable enough.

[2020-04-12 13:18] #487 closed, assigned to nobody

[2020-04-12 13:21] simonaronsson commented on #500
Closing this then.

[2020-04-12 13:21] #500 closed, assigned to nobody

[2020-04-12 13:27] simonaronsson commented on #497
Could you please try adding =true to the tls skip verify env var? I don’t think they get enabled implicitly as with flags.

[2020-04-12 13:38] piksel commented on #474
Yep, it turns out that O365 doesn't support PLAIN authentication (which is what net/smtp supports):
[code]
Found the [following statement](https://support.office.com/en-us/article/outlook-com-no-longer-supports-auth-plain-authentication-07f7d5e9-1697-465f-84d2-4513d4ff0145).
Not sure why they think that sending `USER\r\nPASS\r\n` is so much more secure than sending `\0USER\0PASS\0`

[2020-04-12 14:10] piksel commented on #474
Since #470 was merged, this will be fixed when shoutrrr gains Office365 support.

[2020-04-12 14:15] deeztek commented on #474
Not clear on this, but does watchtower support smtp relay with no authentication over 25?

[2020-04-12 14:17] piksel commented on #474
I think that should work, it's the PLAIN authentication method that refuses to send the credentials over an unencrypted channel. I have not tried it though.

[2020-04-12 14:29] deeztek commented on #474
Yep the following docker-compose config works for unauthenticated SMTP relay over 25:

[code]

[2020-04-12 15:22] simonaronsson opened #502 "Don't add timestamps to shoutrrr notifications"
One feature I’m missing while testing the new notifications on latest-dev is to disable the timestamps. Since I think most of the services show timestamps anyway, I think there should be an option to disable and/or format them in watchtower.

_Originally posted by @mbrandau in https://github.com/containrrr/watchtower/issues/264#issuecomment-612574815_

[2020-04-12 17:21] mbrandau commented on #502
Also I think there should be an option to disable the log level too.

What would be your preferred way to fix this?
1. Add flags like `--notificationsShowTimestamps=false` `--notificationsShowLevel=false` (IMHO not showing these should be the default)
2. Generally remove them
3. ?

Where to fix this: https://github.com/containrrr/watchtower/blob/1fad78799f96736da00c95d271ff8fe8f2199cfe/pkg/notific

[2020-04-12 18:08] MrSuicideParrot commented on #500
Thank you very much!! I didn't realize that I was using an outdated image...

[2020-04-13 08:58] simonaronsson commented on #502
I'd say it's ok to just remove it, as none of the legacy notification services have it.

[2020-04-13 08:59] simonaronsson commented on #502
`--notifications-show-level` would be more in line with the other flags, but other than that - all for. defaulting to off seems reasonable as well.

[2020-04-13 09:01] simonaronsson commented on #500
A very easy mistake to make unfortunately, and I've been unsuccessful in persuading docker to remove the old image. Maybe this is something @stffabi has access to? It would for sure decrease the confusion.

[2020-04-13 09:25] mbrandau commented on #502
The SMTP legacy service also shows timestamps and log levels. (I copied that function from there)

I'm gonna put up a PR that removes the timestamps from Shoutrrr notifications but adds a flag to optionally enable showing log levels.

[2020-04-13 12:19] JohnGalt1717 commented on #188
So now that this is merged, is it in the image yet? And how does it get used? I'm still getting this issue.

[2020-04-14 02:38] BakasuraRCE opened #504 "Dependencies are not shut down before updating a container."
Hi,

Please re-open this issue: https://github.com/containrrr/watchtower/issues/188

Still having the problem.

[2020-04-14 14:38] MrCaringi commented on #487
thanks for the notice,
keep pushing!

---JF Caringi@MrCaringi

    On Sunday, April 12, 2020, 8:19:06 AM CDT, Simon Aronsson <notifications@github.com> wrote:

Thank you for your report! 🙏

The existing slack notification won’t be maintained anymore as we’re currently moving to shoutrrr for notifications. The new notification system is currently in test and will be released once found stable enoug

[2020-04-17 12:19] auanasgheps commented on #498
I enabled the debug flag but I can't see much.

[code]

[2020-04-17 22:02] simonaronsson commented on #504
Hi,

We'll continue from this issue then. 👍  Any difference in error message, or anything like that, or is everything just as before?

[2020-04-18 05:48] talondnb opened #506 "Local and remote docker host monitoring"
**Describe the solution you'd like**
I've recently moved to watchtower from ouroboros and would like to monitor both a local socket and remote docker host socket with watchtower. Unfortunately it doesn't look possible, could this please be added as a feature?

**Describe alternatives you've considered**
Ouroboros but it is no longer in active development. Otherwise perhaps running two separate doc

[2020-04-18 08:30] bf8392 opened #507 "-- Feature Request -- Integrate Apprise-Api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
E-Mail notifications are not very handy for me...I like Telegram =)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
To support multiple ways of notification, the fastest and easiest way is t

[2020-04-19 11:36] ogmueller opened #508 "Failed to send notification email"
**Describe the bug**
When adding a postfix container as an SMTP, watchtower is not able to connect to it, even though other containers are. The log entry is:
```Failed to send notification email:  dial tcp 172.25.0.2:25: connect: connection refused```

**To Reproduce**
Just start up this docker-compose.yml and the error occurs. It also occurs with watchtower v0.3.11 and others.
[code]

**Expected

[2020-04-19 21:54] arnested commented on #264
Agree, @mbrandau.

The combination of timestamp, level and message doesn't really help on readability.

Maybe an environment variable with a template string to use?

[2020-04-20 11:27] simonaronsson commented on #507
Hey there!

We're already well on the way with integrating [shoutrrr](https://github.com/containrrr/shoutrrr), which is an apprise alternative written in go. It's currently in the latest-dev image on dockerhub and will be added with the next release.

Thanks 🙏🏼

[2020-04-20 11:27] #507 closed, assigned to simonaronsson

[2020-04-20 11:37] bf8392 commented on #507
Okay thank you :-)

[2020-04-20 14:24] #456 closed, assigned to nobody

[2020-04-20 14:24] simonaronsson commented on #456
Unfortunately, I don't really think it fits within the scope of the project. I'd recommend that you set up a separate small go binary to do those checks for you, or maintain that feature in a fork.

To me, the use case of watchtower is quite clear, and I'd prefer not to alter that at this point but focus on providing the best experience possible for that.

Thank you for understanding, and hope you

[2020-04-23 16:09] reitermarkus opened #510 "Automatic pruning after image update."
**Is your feature request related to a problem? Please describe.**

I recently ran into the issue that I ran out of disk space because of all the old images, since they are not automatically removed.

**Describe the solution you'd like**

I would like to have an option to automatically prune the old image(s) when `watchtower` updates an image.

**Describe alternatives you've considered**

Running

[2020-04-23 17:04] simonaronsson commented on #510
This is already possible using the [`--cleanup`](https://containrrr.github.io/watchtower/arguments/#cleanup) option. :)

Hope that helps.

[2020-04-23 17:04] #510 closed, assigned to nobody

[2020-04-23 19:52] victorcmoura commented on #429
Closed in https://github.com/containrrr/watchtower/pull/432

[2020-04-23 19:52] #429 closed, assigned to nobody

[2020-04-23 21:55] reitermarkus commented on #510
Thanks, @simskij! I was only looking for “prune”, so I completely missed “cleanup”.

[2020-04-24 11:35] simonaronsson commented on #188
We'll continue the discussions in the new issue. Locking this one.

[2020-04-24 16:35] kevdogg opened #513 "Failed to Send Notification via Gmail"
Honestly I feel like I'm being a pain posting this here, however I didn't know where to post.

I'm using docker watchtower lastest version on an ubuntu host.
I have a registered gmail account and generated an app specific password.

On staring the watchtower docker container with email notifications, I getting the following error:
[code]

Here is my docker-compose file with a few of the parameters

[2020-04-24 18:28] zoispag commented on #513
I can't reply for the email integrations, but I can see you are NOT using the latest image.
Replace `v2tec/watchtower:latest` with `containrrr/watchtower:latest`.

[2020-04-24 20:26] ramonsmits commented on #252
I made a typo in my volume mapping resulting in the message:

It now runs with the command from page: https://hub.docker.com/r/containrrr/watchtower/

[code]

DSM: 6.2.2-24922 Update 6
Docker: 18.09.0-0506

[2020-04-24 20:51] kevdogg commented on #513
Thanks for pointing out the correct docker image.  Unfortunately I have the same issue even with the containrrr/watchtower:latest image.

[2020-04-24 23:21] victorcmoura opened #514 "Where is watchtower's github.io source code located?"
I would like to update the page with the latest /docs markdowns.

[2020-04-25 10:34] simonaronsson commented on #514
Hey!

It's on the `gh-pages` branch. I've set it up to only release automatically through CI when we tag a new version, to prevent inconsistencies between what's yet to be released and what is live.

If you have any suggestion on how to improve this (which I think is long overdue), I'd be happy to assist in any way possible.

Thanks,
Simme

[2020-04-25 10:37] simonaronsson commented on #252
Sorry if I come across as rude, as that's not my intention, but is that the exact command you're using? Cause that should not work, as there's still a typo.

`sodk` -> `sock`

[2020-04-25 10:39] simonaronsson commented on #513
Change `WATCHTOWER_NOTIFICATION_SERVER_USER` to `WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER`. Does that help? 😅

[2020-04-25 10:43] simonaronsson commented on #498
Given that you get multiple
[code]
I kind of get the impression that your watchtower container is continuously crashing.  Could you please check your `docker ps` to see if this is actually the case?

[2020-04-25 10:55] simonaronsson commented on #506
Hey there and welcome to the community! 🙌

We're currently working on providing support for multiple instances of watchtower in . Remote support is already available as described [here](https://containrrr.github.io/watchtower/remote-hosts/), although your local instance might very well kill that one during the start up phase, pending the multiple instance support.

We've actually opted for the mul

[2020-04-25 10:57] ramonsmits commented on #252
Yes, you are right! I pasted what was still in my clipboard :-(. I'll correct my post.

[2020-04-25 11:04] simonaronsson commented on #514
Something like this, courtesy of the babel project, would likely make sense. We'd need to look into how to implement it properly using mkdocs though:

![image](https://user-images.githubusercontent.com/1596025/80278283-3efb7d80-86f5-11ea-9524-98e8c2ed37d9.png)

[2020-04-25 14:05] kevdogg commented on #513
@simskij
Yep -- that was the setting.  I'll close this issue for now. Thanks for the help.

[2020-04-25 14:05] #513 closed, assigned to nobody

[2020-04-25 14:09] kevdogg commented on #508
@ogmueller - Have you tried sending mail on the command line from the watchtower container through the postfix email forwarder?

[2020-04-25 14:12] kevdogg commented on #497
@opelx -- As an alternative I have Let's Encrypt certs running on my postfix server.  I can verify these work without having to add any flags.

Any idea when the go smtp library will be updated to use TLSv1.3?

[2020-04-25 14:49] auanasgheps commented on #498
Not really. You are seeing those messages because my server is not always on 24 hours, but starts at 11am and shuts down at 00:40am every day. Weekends are different but you get the idea.
Watchtower is scheduled to do updates every day at midnight.
At the moment I have "fixed" the problem recreating the container.

I think this message is the issue
`Waiting for running update to be finished..."`

[2020-04-25 19:15] simonaronsson commented on #252
Locking this as the issue has been closed for a while. If you still have specific problems, feel free to open a new issue about that specific problem. Unfortunately, I still have no hardware to try it on.

If anyone would like to donate some old synology hardware they have lying around, that can run watchtower, feel free to get in touch on gitter or in an issue here.

Thanks

[2020-04-25 22:34] simonaronsson commented on #498
`Waiting for running update to be finished...` is just a message that watchtower spits out when something tries to shut it down while it's running an update loop. Your server is shutting down while updates are still running.

I'd say the message would likely go away if you postpone the shutdown 30 minutes to an hour more.

Are you on a heavily shaped/slow connection or something like that? I'm thi

[2020-04-25 23:50] auanasgheps commented on #498
My internet connection is super fast (1Gbps) and when Watchtower works fine, it's fast as well: last month it updated 9 containers and restarted them in just 1 minute and 28 seconds.

If this message appears when I turn off the server, watchtower was actually stuck for other reasons. Now it's fine, and nothing has changed other than recreating the container. I will keep you posted if occurs again

[2020-04-26 15:27] simonaronsson opened #516 "Docs versioning"
I'd like to explore the possibility of versioning the docs, thus keeping previous versions in a vX.X.X folder and allowing the user to pick their image version from a drop list.

At the very least, we should publish stable (as in released) and dev docs separately.

[2020-04-26 16:28] Minipada commented on #499
Also interested in this 👆

[2020-04-26 18:28] simonaronsson commented on #499
@agilob

If a pre-update lifecycle hook exits with a code other than 0, that container will be skipped. Give it a try and let us know if it satisfies your use case 👍

[2020-04-26 18:30] simonaronsson commented on #499
Apparently this is not in the docs though... I'll check to make sure it's included in the currently released version of watchtower.

[2020-04-26 18:33] simonaronsson commented on #499
Unfortunately, this has not been released yet. It will be included in the next release of watchtower.

[2020-04-26 21:15] victorcmoura commented on #514
The current solution is good, I just thought the docs had to be manually updated. If at some point I come through a better way to do this, I'll let the community know =)

[2020-04-26 21:15] #514 closed, assigned to nobody

[2020-04-26 21:15] ghost commented on #514
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-26 21:22] victorcmoura commented on #498
I don't know if it is the case, but due to COVID-19 (more people are at home overloading our infrastructure), most DNS servers nearby my location have malfunctioned, making requests take much longer than usual (timeouts had been constant, also).

Some colleagues reported having trouble while fetching docker images. You could try another DNS if the problem persists.

[2020-04-26 23:18] darthdeus opened #517 "Watchtower logs the password from auth credentials to stdout in debug"
**Describe the bug**
When watchtower is started in debug mode, it will log `Loaded auth credentials {username password host} from config.json`. I understand that debug mode is for debugging, but at the same time I don't think anyone ever wants their passwords logged to stdout if there's even a slightest chance of preventing it, and even in debug I probably wouldn't expect to see a password logged.

[2020-04-27 06:10] simonaronsson commented on #414
Closing this issue due to lack of activity. If this continues to be a problem, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:10] #414 closed, assigned to nobody

[2020-04-27 06:10] ghost commented on #414
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:15] simonaronsson commented on #213
Closing this due to lack of activity and age. A bunch of new versions have been released since. If this is still a problem you need help with, please open a new issue with current logs.

[2020-04-27 06:15] #213 closed, assigned to nobody

[2020-04-27 06:15] ghost commented on #213
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:18] simonaronsson commented on #43
Closing this issue. As @stffabi stated previously, the swarm support is currently extremely limited (if any). If you have any more specific errors, or would like to have a stab at implementing more thoroughly covering swarm support, please open a new issue and/or PR respectively.

Thank you.

[2020-04-27 06:18] #43 closed, assigned to nobody

[2020-04-27 06:18] ghost commented on #43
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:22] simonaronsson commented on #397
Closing due to lack of activity.

[2020-04-27 06:22] #397 closed, assigned to nobody

[2020-04-27 06:22] ghost commented on #397
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:25] simonaronsson commented on #361
@christoph-kluge
It certainly makes sense! Would be great if you wanted to provide either a feature- or pull request implementing said feature. Thanks! 🙏🏼

[2020-04-27 06:28] simonaronsson commented on #361
Other than that, I think we can safely arrive at the conclusion that this happens because watchtower is unable to contact the registry. This might be caused by:

1. The registry being down/unavailable out of some reason. The fact that you've been experiencing this during weekends signal that it could be during a dockerhub maintenance window.

2. Local networking issues, which does not seem to be t

[2020-04-27 06:28] #361 closed, assigned to nobody

[2020-04-27 06:28] ghost commented on #361
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:33] simonaronsson commented on #264
Shoutrrr support will be included in the next release. It's already been merged to master, so I will go ahead and close this issue now. 🎉  Thank you so much everyone for your contributions!

[2020-04-27 06:33] #264 closed, assigned to simonaronsson

[2020-04-27 06:33] ghost commented on #264
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-27 06:48] simonaronsson commented on #399
Watchtower currently lacks proper support for running in swarm/service mode. Feel free to provide a pull request adding the functionality and i'll make sure to assist in getting it merged.

Thank you for understanding.

[2020-04-27 06:48] #399 closed, assigned to nobody

[2020-04-27 06:48] ghost commented on #399
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-28 09:40] kevindd992002 opened #518 "Missing containers after update"
**Describe the bug**
Just today I noticed that some of my containers were missing, for some reason. I have watchtower run every day at 6:00AM and send an email notification to me. I checked my emails and got these:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

The missing containers are:
radarr_alvin
jackett_maine
jackett_alvin

1. Every code snippet above equals one emai

[2020-04-28 13:10] simonaronsson commented on #518
Hey,

I'm not sure exactly what happened here. Containers disappearing is never good and we need to find a way to mitigate that. I've yet to see this happen on anything other than raspberry pis and synology nas devices.

Try running `docker logs watchtower` through ssh and see if you get more verbose logs that way. Another option is to add `--notifications-level=debug` to your args, but that is li

[2020-04-28 15:32] kevindd992002 commented on #518
Thanks for the reply. One thing to note is that I have two identical systems with mostly the same set of containers. One is a Synlogy NAS (explained in this issue) and another is a Debian Buster system..

Here's all I see with `docker logs watchtower`:

[code]

Yeah, I wouldn't want to change the notification level from its default `info`. I haven't tried that yet but I'm sure it would just make t

[2020-04-29 02:39] rhee876527 commented on #518
Same weird issue. Here are my logs. After an update, watchtower deletes the updated container.

[code]

[2020-04-29 03:31] kevindd992002 commented on #518
That's weird. How come I don't have that amount of info when I ran docker logs watchtower considering I have the debug arg :(

[2020-04-29 04:43] manderss99 opened #520 "container updates fails on zfs file system"
**Describe the bug**
the docker zfs driver on creates clones, when watchtower updates a container the removal fails bc of dependencies

**To Reproduce**
Steps to reproduce the behavior:
1. install ubuntu 20.04 desktop with zfs file system (advanced option in installer)
2. install package docker.io and some containers from docker hub
3. when watchtower tries to update it fails bc the removal of old

[2020-04-29 05:08] aogg opened #521 "too many network aliases when recreating the container"
![image](https://user-images.githubusercontent.com/8998031/80562446-5e0e4e00-8a1a-11ea-9b57-5e5d7e238265.png)

[2020-04-29 05:45] 0x9060 opened #522 "Enforcing Docker Content Trust (DCT) on Unofficial Docker images using Docker EE"
### Summary

I'm using Docker Community Edition (v19.03.8), pulling all images from the public Docker Hub. I've been using `watchtower` for a few years and love it for keeping my images updated with latest security patches, bug fixes, and feature enhancements.

In trying to improve security by implementing _[Docker Content Trust](https://docs.docker.com/engine/security/trust/content_trust/)_, I'm

[2020-04-29 06:44] rhee876527 commented on #518
This is because every instance time watchtower runs and doesn't find an image update. It prints this something like this

And also maybe because I have watchtower by default watching all existing containers.

[2020-04-29 08:09] simonaronsson commented on #521
Hi,

Would you mind expanding on what the issue is and when it occurs?

Thanks,
Simme

[2020-04-29 10:23] simonaronsson commented on #518
If nothing else it makes watchtower update a lot more often (every time I merge something), which seems to be related to your issues.

[2020-04-29 10:56] opelx commented on #497
thanks for your suggestions. Finally I added ```--notification-email-server-tls-skip-verify ``` on command.

[2020-04-29 12:34] kevindd992002 commented on #518
Right but what could cause it to remove containers?

[2020-04-29 12:55] simonaronsson commented on #518
Being interrupted/killed mid update would definitely lead to this.

Currently, the watchtower self-update features does not honor the `--stop-timeout` flag but has a fixed value of 60s. This would mean that, if an update in progress takes longer than 60s, that instance of watchtower would be butchered mid-update.

One way forward would be to run your updates on a tighter interval, to avoid updates

[2020-04-29 12:56] simonaronsson commented on #518
But it would for sure be interesting if you could put your server on updating once every hour isntead of once a day, just to see if it makes any difference.

[2020-04-29 13:16] kevindd992002 commented on #518
I see. The only reason I don't want it set to rum every hour is because I don't want any container to be updated during the day when users are using them. That's why I had it set to once a day at 6AM. I'm using watchtower for a couple of months now and this is the first time I've experienced something like this.

[2020-04-29 14:27] simonaronsson commented on #518
Hopefully also the last, then. I'll create an issue to up the timeout a bit.

[2020-04-29 14:28] simonaronsson opened #523 "Up the timeout for forcefully killing other watchtower instances"
_Originally posted by @simskij in https://github.com/containrrr/watchtower/issues/518#issuecomment-621246692_

It's currently fixed at 60s. This could be increased to 10 min without being an issue for anything else, and should likely resolve the problem with disappearing containers.

[2020-04-29 15:09] kevindd992002 commented on #518
Yeah. Thank you for considering increasing the timeout.

[2020-04-29 22:04] auanasgheps commented on #498
Guess what? The issue is back.
[code]
The container is not crashing and there are no issues in my network.
![immagine](https://user-images.githubusercontent.com/20586878/80651429-36e56a00-8a76-11ea-8f55-c8d25d043aa8.png)

Last time it did an update was on 2020-04-27 00:00:35, this means the message "Waiting for running update to be finished" on 2020-04-28 is absolutely not correct.

[2020-04-30 03:31] manderss99 commented on #520
this is probably a docker issue, closing.

[2020-04-30 03:31] #520 closed, assigned to nobody

[2020-04-30 03:31] ghost commented on #520
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-04-30 05:23] kevdogg opened #524 "Customize either subject or text of notification email to differentiate source of email"
I have containers running within multiple VMs which I utilize watchtower to keep at latest version.
The notifications that watchtower sends is basically the same on each host.

2020-04-30 00:18:18 (info): Starting Watchtower and scheduling first run: 2020-04-30 04:00:00 -0500 CDT

I was wondering if it would be possible to either customize the Subject or Body of the notification email that was sen

[2020-04-30 17:31] ogmueller commented on #508
As far as I saw, there is no shell nor other tools in the image to actually try that out.

[2020-05-01 00:36] ilike2burnthing commented on #524
Perhaps introducing an optional environment variable like `-e name=Watchtower_vm3_wt2` (or Diego, Livingroom, Panther47, whatever) and then pass this to the log template, e.g. `Starting Watchtower_vm3_wt2 and scheduling first run` or `Starting Watchtower (Livingroom) and scheduling first run`.

Or, if possible, use `--name` for that.

[2020-05-01 06:43] opelx commented on #225
Hi,
I run into the same issue. I did check that I really use the conatinrrr image and that the label on container of interest is set. The main difference is that I'm using the build section from docker-compose

        $ cat ~/docker-compose/watchtower/docker-compose.yml
        # watchtower
        version: '3'

        services:
          # [containrrr/watchtower](https://github.com/containrrr/w

[2020-05-01 07:12] victorcmoura commented on #225
@opelx can you double-check the compose label syntax?

According to [docker-compose labels docs](https://docs.docker.com/compose/compose-file/#labels), the following syntaxes are accepted:
[code]
or
[code]
Maybe wrapping `com.centurylinklabs.watchtower.enable=false` up with quotes might solve the issue.

Let me know if the problem persists xD

[2020-05-01 10:31] #523 closed, assigned to nobody

[2020-05-01 10:31] ghost commented on #523
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-01 11:04] simonaronsson commented on #508
Correct. That would require you to customize the dockerfile to use alpine and build it yourself.

[2020-05-01 11:07] simonaronsson commented on #225
Yeah, sorry about that. This is an open source project without corporate sponsorship, and as such we all do this in our spare time. Feel free to lend a hand or contribute financially if you think the velocity is too low. 😅

[2020-05-01 15:21] ogmueller commented on #508
Ok, I've found the problem. Our certificates didn't match the docker container name and a connection was refused by the message:
`Failed to send notification email:  x509: certificate is valid for *.domain.com, not postfix`

It worked once I've added a network alias to the postfix container
[code]
and used that alias in the watchtower container
[code]

Even though I had turned on WATCHTOWER_DEBUG,

[2020-05-01 18:41] simonaronsson commented on #508
That's awesome! Would you mind writing a couple of sentences on it in the docs?

[2020-05-02 05:12] dearekaelle commented on #524
you can use WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG for that purpose.

[2020-05-02 06:19] dearekaelle commented on #506
for one, if a single instance was able to monitor both local and remote sockets, it potentially could take care of dependencies between the containers running on multiple docker hosts, in which case it would start/top/update them in proper order?
I see a use case here, I am currently running multiple watchtower instances on each host, but would be nice if updating my db container would restart dep

[2020-05-02 13:10] ogmueller commented on #508
Done as pull request. Hope it fits the documentation style.

It would be still helpful to output the error described above.

[2020-05-02 14:23] ogmueller commented on #508
I wanted to try to use `WATCHTOWER_NOTIFICATION_EMAIL_SERVER_TLS_SKIP_VERIFY` to solve this issue's problem and actually bumped into another problem with the described docker-compose.yml.

When starting up watchtower, it will immediately tries to connect to the SMTP server, which results in
` Failed to send notification email:  dial tcp 192.168.96.2:25: connect: connection refused`.

Using `WATCHT

[2020-05-02 18:31] simonaronsson commented on #524
Thank you, @dearekaelle, for providing the solution. Closing this issue.

[2020-05-02 18:31] #524 closed, assigned to nobody

[2020-05-02 18:31] ghost commented on #524
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-02 18:35] simonaronsson commented on #508
That's interesting! Thank you for reporting that issue!

[2020-05-02 18:38] simonaronsson commented on #508
@piksel Do you have any idea on this?

[2020-05-02 19:04] opelx commented on #225
it seems that fixes the issue, I haven't faced this issue since.
Thanks!

[2020-05-03 00:56] simonaronsson commented on #225
Locking this issue as it obviously works, as confirmed by @opelx. If you still have problems, create a new issue and provide debug logs, as well as your docker compose config. Thanks for understanding. 🙏🏼

[2020-05-03 21:41] PaPaTheGMan opened #531 "Fatal error - /var/lib/docker/overlay2"
**Describe the bug**
Watchtower container keeps re-starting with the following error:
[code]

**To Reproduce**
Start the container, watch the log

**Expected behavior**
I would expect the container to run normally.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
 - Platform = Raspberry Pi 3B+ Raspberry Pi 3B+ running Debian Buster.  (All apt update's

[2020-05-04 12:20] aktur commented on #127
My workaround is to use the same credentials for my public and private repo.

[2020-05-04 12:38] simonaronsson commented on #127
@aktur and @vergissberlin, could you please open a new issue and also provide your config.json and docker-compose.yml and/or launch commands? Locking this issue to prevent further discussion as it's closed. Thanks.

[2020-05-04 12:39] kevdogg opened #532 "Does watchtower support setting password from docker secrets file?"
Due to some of my other containers now requiring sensitive data be  passed through docker secret variables, I was wondering if watchtower supported use of docker secrets -- specifically:

Is there an equivalent of
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=<password>

with something similar to
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD_FILE=/run/secret/watchtower_notification_email_server_pa

[2020-05-04 13:36] simonaronsson commented on #532
Hi @kevdogg,

Not currently, but I would be more than happy to assist with reviews and suggestions in case anyone would like to have a stab at providing a PR.

Best,
Simme

[2020-05-04 17:13] sixcorners commented on #531
Looks related to moby/moby#35747.
Do normal docker commands work? It looks like the error is coming from dockerd.

[2020-05-04 21:56] wsw70 opened #533 "Should watchtower be able to pull from the local docker host?"
I have the following setup:

- a server called `srv` which hosts docker
- several containers whihc are pulled from Docker Hub
- a few containers which I built myself, hosted on `srv`
- `watchtower` runs itself in a container on `srv`

I do not have a problem updating the Docker Hub  based images, but I get errors when trying to update a local one:

[code]

Should `watchtower` be able to check for

[2020-05-05 02:42] Miosame opened #534 "docker-compose images aren't properly looked up"
Containers that got spawned via docker-compose, always have a folder prepended to their name, it seems watchtower assumes container / service name = image name, which obviously doesn't work, e.g.:

[code]

"duplicati" being both the folder and the service name.

[2020-05-05 16:12] victorcmoura commented on #534
Could you provide your docker-compose? I have never used Watchtower without docker-compose and it has been working correctly

[2020-05-05 16:15] victorcmoura commented on #534
If you need an example, the docker-compose setup provided as an example in one of our docs is how I usually use Watchtower: https://github.com/containrrr/watchtower/blob/master/docs/http-api-mode.md

[2020-05-05 16:19] Miosame commented on #534
It's not about the watchtower compose itself, it's detecting external containers that run in compose with their container names, assuming it's their image name, to be looked up in docker hub.

I will post my docker compose of watchtower itself in a bit, once I am at my desktop, but I doubt that's the issue.

[2020-05-05 16:24] victorcmoura commented on #534
If it fits your setup, it is ok to add watchtower in your compose, it doesn't require a separate one and will temporarily solve your problem.

But I'll try to reproduce the bug anyway

[2020-05-05 16:35] Miosame commented on #534
Isn't the point of watchtower to be able to keep all images up to date, adding it to all compose files seems.. odd?

[2020-05-05 17:06] Miosame commented on #534
Here's my compose for watchtower

[code]

[2020-05-05 17:15] victorcmoura commented on #534
It would detect multiple running instances and clean up all except the last. You are right, it was just a suggestion to solve your problem temporarily.

[2020-05-05 17:44] victorcmoura commented on #534
I tried a setup with 2 composes:
[code]
and
[code]

Just ran both and it worked as expected:

[code]

Then, I noticed you used `container_name` in your Watchtower compose. So I assumed this could also be happening in your application's compose and it could cause the bug. I changed my application compose as it follows:

[code]

But it also worked as expected:

[code]
I also used `container_name` in

[2020-05-05 18:04] Miosame commented on #534
I pulled it fresh when creating the issue, but pulling now again for some reason solved it, genuinely confused if that was just a coincidence or if re-pulling it again busted some sort of cache?

Either way, thanks that solved it!

[2020-05-05 18:04] #534 closed, assigned to nobody

[2020-05-05 18:04] ghost commented on #534
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-06 21:00] #444 closed, assigned to nobody

[2020-05-07 00:51] PaPaTheGMan commented on #531
Not sure what type of normal commands you mean, but the container seems caught in a restart loop.  This being a rather passive type of application, there really isn't any interaction.  The log does populate, as you see, but it doesn't execute the regular search/update mission.  It worked fine up until a few days ago.  There were no system changes other than regular 'apt update/upgrades' and Watcht

[2020-05-07 00:52] PaPaTheGMan commented on #531
P.S., I'm happy to try some tests or send other background, if it will help.

[2020-05-07 07:10] simonaronsson commented on #531
[code]

This plus in the env var name seems like it could cause some issues.
Could you try fixing that and report back?

[2020-05-07 13:19] PaPaTheGMan commented on #531
Good catch, I missed that typo.  I changed + to _.  Unfortunatelyit didn't help.  Same issue persists.  New log attached.

[post env change watchtower.log](https://github.com/containrrr/watchtower/files/4593152/post.env.change.watchtower.log)

[2020-05-08 10:34] auanasgheps commented on #498
I have an additional update.
The container somewhat managed to _recover_ itself, then it got stuck again. I haven't touched anything.
Was stuck for days showing this weird message. I am cutting logs for clarity.

[code]
Then updated all container just fine on 2020-05-03.
Then, stuck again.

[code]

[2020-05-08 19:18] Miosame opened #535 "Blacklist in addition to Whitelist"
Currently there is a whitelist behavior you can enable via [filter_by_enable_label ](https://containrrr.github.io/watchtower/arguments/#filter_by_enable_label) but a lot of setups would benefit instead from setting a blacklist of containers by label, simply because there is so many containers that would need to get a label added, versus just a few that shouldn't be checked each time - e.g. custom

[2020-05-08 20:21] simonaronsson commented on #535
Hey,

Thank you for your issue!

That is already possible, by setting `com.centurylinklabs.watchtower.enable` to `false` without passing `--label-enable`.

Hope that helps :)

[2020-05-08 22:19] simonaronsson commented on #498
This makes absolutely no sense. The only reason for that message to ever appear is if watchtower receives a SIGINT/SIGTERM and shuts down, which your dashboard says it hasn't. Something is telling your watchtower container to shut down.

You don't have any one-offs scheduled with `--run-once` in crontab or anything?

https://github.com/containrrr/watchtower/blob/0217e116c47378f3eea88523af91084867c

[2020-05-08 23:53] auanasgheps commented on #498
The message appears when my system is scheduled to shut down. As I said, my system only runs some hours per day.

I have a theory: watchtower doesn't like standby on my system. I have moved the crontab schedule before my system goes in standby, and not after has woken up. I'll let you know if this improves the situation.

[2020-05-09 05:37] Miosame commented on #535
@simskij ~~so how would watchtower then decide what containers it _should_ update? the proposed issue I have is to just add a label to containers it should straight up ignore, basically the same behavior as enable - but disable.~~

So the containers that have `com.centurylinklabs.watchtower.enable` set to false will be ignored? if that's the case, that would be extremely helpful to mention in the

[2020-05-09 06:42] victorcmoura commented on #535
@Miosame we are planning to mention it soon: https://github.com/containrrr/watchtower/pull/511#issuecomment-622283650

[2020-05-09 10:04] simonaronsson commented on #535
It is in the docs, although not that clearly described:

https://containrrr.github.io/watchtower/container-selection/

[2020-05-09 10:44] piksel commented on #508
Well, the error message makes more sense now at least. The email delay has been implemented since v0.3.9, and should be working. The only way to bypass the delay when sending email notifications, as far as I can tell, is by using the [Fire method](https://github.com/containrrr/watchtower/blob/adaeb3388f67f8be379ae489270da084aa575a19/pkg/notifications/email.go#L148), but that does seem unused.

@og

[2020-05-09 11:33] ogmueller commented on #508
Yes, it is omitted at least from the connection point of view. Don't know, if the first email is hold back, but the connect is done immediately.

So if I put in the following ENV to the docker-compose.yml:
```WATCHTOWER_NOTIFICATION_EMAIL_DELAY: 60```
I would assume, that there is no SMTP connect for 60 seconds.

This is not the case. This is the composer logs from the beginning:
[code]

As you ca

[2020-05-09 12:41] piksel commented on #508
I found where `Fire` was being used. It's how the notififications hooks into the log system ([logrus](https://github.com/sirupsen/logrus)).

That means that any log messages above the log level set by `notifications-level` will be sent using the email notifier (if configured) without any delay.

[2020-05-09 13:31] tammert commented on #517
Gave this a go, let me know what you think @simskij

[2020-05-09 13:41] piksel commented on #498
Like previously stated, the message "Waiting for running update to be finished" means that it's waiting to *shut down*. At that point, no more scheduled checks will be done.

It looks like it's just not hitting the cron scheduled times. Could you set `WATCHTOWER_NO_STARTUP_MESSAGE=false`, so that the offset to the first scheduled run is displayed?

[2020-05-09 15:33] Miosame commented on #535
I see, it was a separate page entirely, seeing that everything else was listed in Arguments too incl. examples and that was always the page I hit by googling things, I never went outside that page. Maybe a small note in the enable argument section linking back would help others alike to find it? :smile:

[2020-05-09 17:34] #508 closed, assigned to nobody

[2020-05-09 17:34] ghost commented on #508
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-09 17:57] BakasuraRCE commented on #504
The logs not show any visible, my config is:

[code]

When the VPN is updated the log only show this:

[code]

What happened?

1. The VPN container is recreated successfully and running
2. The Dante container is not modified and keep running with the reference to the old VPN container (not working the network)
3. When I try to restart Dante container fail and I must remove and create again with th

[2020-05-09 18:21] #517 closed, assigned to nobody

[2020-05-09 18:21] ghost commented on #517
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-09 18:23] simonaronsson opened #539 "Add a flag to show auth values in plaintext for debugging purposes"
This should be off by default, and clearly require some effort, like; `--show-password-in-plaintext --i-accept-the-associated-risk` both being present

[2020-05-09 18:24] simonaronsson commented on #539
Continuation of #537 and #517

[2020-05-09 18:24] simonaronsson commented on #517
Looks great! Thanks for the contribution!

[2020-05-09 18:32] simonaronsson commented on #504
Would you mind trying with adding a link from dante to vpn, using the `--link` option? In the next version we've added `com.centurylinklabs.watchtower.depends-on` which will let you emulate docker-compose's `depends_on` key in watchtower as well.

[2020-05-09 18:36] simonaronsson commented on #535
That would be great! Would you mind creating a PR? :) I'd be happy to help you getting it merged.

[2020-05-09 18:44] BakasuraRCE commented on #504
Can you explain to me the use of link option?  I checked in docs and seems to be in disuse:

https://docs.docker.com/network/links/
https://docs.docker.com/engine/reference/commandline/network_connect/

[2020-05-09 19:22] tammert commented on #539
I can pick this up as well, feel free to assign it so me.

Had a thought on this too: maybe instead of a very specific flag (disclaimer: I'm not a big fan of many niche flag options :sweat_smile:), we could use the Trace log level already provided by Logrus?

I realize that this would actually still add an extra flag (`--trace`), but it seems realistic for Trace to print credentials, whereas it's

[2020-05-09 19:28] Miosame commented on #535
@simskij absolutely, I can see multiple ways of how this could be handled, one of these in #540

[2020-05-09 20:02] simonaronsson commented on #539
Sounds good to me! 👌🏻

[2020-05-09 22:42] tammert commented on #451
So I did a little digging and I found the following:
* `watchtower` will read the `config.json` file each scan it does, so it picks up changes **if propagated to the container**
* regarding propagation: https://github.com/moby/moby/issues/15793#issuecomment-135411504

I tested this out: when I edit the file with `vim` on the host, I still see the 'old' `config.json` in my container. If I edit with

[2020-05-09 22:44] tammert commented on #532
I will look into this! @kevdogg, would the `/run/secret/watchtower_notification_email_server_password_secret` file contain the plaintext password or do you expect a different format there?

[2020-05-10 05:20] kevdogg commented on #532
It would contain the plaintext format.

On Sat, May 9, 2020 at 5:44 PM Sebastiaan Tammer <notifications@github.com>
wrote:

[2020-05-10 07:03] sixcorners opened #542 "Attempting to update container causes it to go away after an error"
**Describe the bug**
Container doesn't exist after attempt to update

**To Reproduce**
[code]
**Expected behavior**
Error occurs but everything is put back to how it was
roblem.

**Environment**
 - linux
 - x86_64
 - 19.03.8 and 18.09.9

**Logs from running watchtower with the `--debug` option**
[code]

[2020-05-10 12:17] tammert commented on #542
Would seem the problem is caused by this:
`ERRO[0005] "stop timeout" requires API version 1.25, but the Docker daemon API version is 1.24`

Fix would be upgrading the used version of `github.com/docker/docker/client`. Until that time, you can't use the `--stop-timeout` flag, unfortunately.

[2020-05-11 00:38] sixcorners commented on #542
I think the bigger issue is that the container can be dropped and forgotten about. Is there a way the error handling can be fixed so that when errors like this happen it falls back to just putting everything back to how it was?

[2020-05-11 04:05] simonaronsson commented on #542
Not really, I'm afraid. We could, of course, implement such a fallback. That will require us to keep track of the hash of the previous image while updating, and upon failure, roll back to that version.

The problem with doing that is that it would keep repeating this procedure at every check interval, which is why I've been hesitant to add that feature.

In any case, I went ahead and bumped the mi

[2020-05-11 04:09] #539 closed, assigned to tammert

[2020-05-11 04:09] ghost commented on #539
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-11 04:38] #502 closed, assigned to nobody

[2020-05-11 04:38] ghost commented on #502
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-11 04:39] sixcorners commented on #542
Would it make sense to implement an exponential back off in trying to update the container?

[2020-05-11 10:19] auanasgheps commented on #498
I haven't done this yet, but I changed the schedule to run every day shortly after my system is started.
11:50 is the new scheduled time.
_Seems like_ it's working: the schedule is correct, and it executed updates today (made this change a couple of days ago). I will keep monitoring the situation.

I'm not sure if I was clear nor not, but i see _Waiting for running update to be finished..._ when m

[2020-05-11 10:23] simonaronsson commented on #498
So, giving the updates more time actually solved the issue? That's reason to celebrate, I think! 🎉

[2020-05-11 10:57] auanasgheps commented on #498
Uhm, I don't think it's the **amount** of time.

My server starts at 11AM, goes to sleep at 1:30PM, then wakes up at 6PM and finally shuts down at 00:40AM.

Watchtower was scheduled at midnight, so **after** the system went to sleep. Now it runs shortly after the system has started (11:50AM)
I will keep monitoring and eventually let you know if this adjustment made the fix.
If this is the case, wo

[2020-05-11 19:22] tammert commented on #215
@jankete, @tsubus: do you have a clear reproduction path for this issue? I'd like to look at it, and I have both an Arch server and a Synology NAS, but I've been unable to replicate the issue on either machine.

[2020-05-11 20:48] tammert commented on #382
@h1dden-da3m0n I took a stab at it, but 'only' the skipping of TLS verification (I agree the option of adding specific certs to trust is pretty cool, but that's a much larger effort). As far as I could see this was the only other self-hosted option apart from smtp, so now these are more on-par as functionality goes.

[2020-05-12 06:16] jankete commented on #215
In my case, I had some issues with the docker-images auf homeassistant. After rebuilding them and the watchtower container as well and excluding the homeassistant images from being updated with watchtower, my issues were gone.

[2020-05-12 20:53] tammert commented on #532
PR is up :partying_face:

[2020-05-13 16:42] h1dden-da3m0n commented on #382
@tammert thank you very much :grin:

[2020-05-14 13:19] You-Honey opened #546 "Slack messages are being sent as block quotes, how can I turn them into normal messages?"
Is this watchtower's or logrus' feature? I'd want to remove block quote sign ">" from the slack messages.

How can I do it?

[2020-05-15 12:33] simonaronsson commented on #546
I think this is a slackrus ”feature”. A new version will be released any day now that integrates shoutrrr, which will add a lot more flexibility.

[2020-05-16 08:50] nyfrk commented on #215
@tammert #495 describes a reproduction path (although its reporting a different issue, the steps reported are the same that leads to this problem)

[2020-05-16 14:06] auanasgheps commented on #498
The issue can be closed for me.
As said above, I fixed the issue moving watchtower schedule before standby.

[2020-05-16 14:06] #498 closed, assigned to nobody

[2020-05-16 14:06] ghost commented on #498
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-17 01:27] kevdogg commented on #532
PR is up? Sorry I don't understand the meaning however I did checkout your link.  I believe this addition is still awaiting approval? I tried the following:

[code]

but it didn't seem to work

[2020-05-17 11:44] tammert commented on #532
Hey @kevdogg! PR = Pull Request, which means I've uploaded my code for @simskij to look at and merge into the other code, if he agrees with what I've done. After that we'll still need to create a new version of the Docker image which actually uses that code before you can use it as-is.

You can also build a new Docker image yourself from the source code, but that might be a bit too technical.

[2020-05-18 15:35] fufar commented on #299
same issue for me

[2020-05-20 16:44] herkalurk opened #547 "Warning about new schema"
When launching watchtower recently I received a warning about upgrading the schema of the dockerfile, just thought you should know.

[code]

[2020-05-20 17:04] zoispag commented on #547
This is not an official watchtower image. This is maintained by centurylink.
Is this yours? Is it a recent mirror?

[2020-05-20 17:32] herkalurk commented on #547
I don't have any images on docker.  The image I listed has this git repo on their page at [dockerhub](https://hub.docker.com/r/centurylink/watchtower/).  If they aren't going to keep things updated then I will switch to your release.

[2020-05-20 19:06] IvanShift commented on #84
Hello!
I have this issue. I use latest available version (Docker: 18.09.0-0513) but after updating container manually added Environment Variables are erased( How can I help you to find solution of this problem?

[2020-05-20 19:14] ThetaGamma opened #548 "using "schedule" throws error "Failed to parse int""
**Describe the bug**
I tried to switch from intervalls to use a schedule as described [here](https://containrrr.github.io/watchtower/arguments/#scheduling) in the docs. Here's the relevant code from my compose file:

[code]
after starting up, I get the following error:

I use the _latest_ tag for watchtower from docker hub, Digest: sha256:76fb863ea0c513d870f8634a13e061f81c387a62ecc27ad64f9b0617918

[2020-05-20 19:25] andrewjmetzger commented on #84
Hi @IvanShift,

Synology recently updated their docker package, and it broke things again.

The solution, for now, is to uninstall the new docker package and manually install an older one.

You can download older releases of the Synology Docker package (as an SPK file) here: https://archive.synology.com/download/Package/spk/Docker/

The current version should be listed at the very bottom. Typicall

[2020-05-20 19:41] andrewjmetzger commented on #84
Another solution would be to use a management platform like [Portainer](https://nashosted.com/setup-and-install-portainer-on-synology-nas/) and Stacks with [Docker Compose](https://docs.linuxserver.io/general/docker-compose).

Create a Stack for one or more containers and paste in a Compose version 2 configuration. Even if Watchtower removes the environment variables in the future, you can just re

[2020-05-21 05:52] luxcel commented on #548
I had the same error, remove the quotation marks around `WATCHTOWER_SCHEDULE="0 0 4 * * *"` and try with `WATCHTOWER_SCHEDULE=0 0 4 * * *`

[2020-05-21 09:47] ThetaGamma commented on #548
can't believe it's that easy! I'm so used that strings need to be quoted somehow... thanks @xSMiNTx !

[2020-05-21 09:47] #548 closed, assigned to nobody

[2020-05-21 09:48] ghost commented on #548
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-21 11:23] IvanShift commented on #84
Thank you!
 But I can save and load config just clicking right mouse button on container and select import/export. It is really annoying to do it on several containers every week(  Older version has the same problem (except v.17 but it's very old).

[2020-05-21 11:56] eloo opened #549 "Configure update schedule containerwise"
Hi,
i would like to ask if it is possible to configure the update schedule for specific containers..
For example i want to have all containers checked/updated once a week. But one specific container should be updated daily. My idea was if it is possible to use docker labels for such a configuration?
So i can have a default configured in watchtower and overwrite it using container labels.

I'm not

[2020-05-22 07:03] mtoensing commented on #215
Ok, now I have the same problem on my Synology NAS and I am unable to fix this. I delete the watchtower container and image and stopped all containers but no luck. =/ Any workaround? I use the "run-once" option that worked flawless without a problem on my DS1019. Maybe the recent update of the docker app on Synology is the problem?

I used this command:

`$ docker run -d --network host --name watc

[2020-05-22 07:46] hepto opened #550 "Running multiple instances for different hosts?"
I appreciate you can't run multiple instances of watchtower pointing at the same Docker host, but should it be possible to run multiple on one host if they all point to different hosts?

I'm having my second instance be terminated (eventually) with the error:

```time="2020-05-19T05:19:34Z" level=info msg="Found multiple running watchtower instances. Cleaning up."```

But in the `run` I have that

[2020-05-22 07:55] ginkel commented on #521
The issue IMHO is that a lot of aliases are accumulating over time (one additional alias per recreate). These are just the container IDs of former instances of this Docker container, which most probably do not serve any purpose, so they could be filtered out when recreating the container.

[2020-05-22 14:02] #382 closed, assigned to nobody

[2020-05-22 14:02] ghost commented on #382
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-22 14:06] simonaronsson commented on #550
Hi,

Thanks for the issue! This is on its way in issue #511, which is approaching merging rapidly. 👍

Best regards,
Simme

[2020-05-22 14:11] hepto commented on #550
Hey Simme - thanks for the reply.

I did read #511, but I wasn't sure it was exactly the same. In particular I don't really want to have to configure a scope in each container - I just want to point an instance at a host and have it check all the containers on that host.  The number of containers on the target host will be variable, so having to remember to configure each one won't really work ide

[2020-05-22 14:23] simonaronsson commented on #550
The reason for this is because if it didn't, watchtower updating itself would lead to the container multiplying by 2 each time.

[2020-05-22 14:26] hepto commented on #550
Ah yes!  I hadn't considered it updating itself!  OK, I can see the logic here now, thanks for clarifying.  Will keep an eye on #511 and see if I can make that work for me.

[2020-05-22 14:26] #550 closed, assigned to nobody

[2020-05-22 14:26] ghost commented on #550
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 06:58] Happyfeet01 commented on #451
hi, i have the same issue. it loads only the old login data.

no idea what can i do. docker login at the host works fine.

[2020-05-23 11:57] totti4ever opened #551 "How to handle dockerfiles?"
Hi, I have to extend the nextcloud docker image to be able to use Samba and therefore use an dockerfile based on the default nextcloud image.

Watchtower pulled the default docker file and ran the container using it, instead of rebuilding the dockerfile. Couldn't find anything in the docs, but what I need is that watchtower rebuilds the dockerfile.

thanks for this great project!

[2020-05-23 13:16] kosssi opened #552 "Add REPO_HOST variable"
**Is your feature request related to a problem? Please describe.**
We can configure user and password directly on environment variable with REPO_USER and REPO_PASS, I imagine it's for hub.docker.com. If I would like used an private registry I should create `config.json` file, generate image, push it on my private registry and after launch docker-compose on multi server. If I can just configure thi

[2020-05-23 13:46] simonaronsson commented on #552
Hi, and welcome to the community!

I might have misunderstood you. If so, I'm sorry for that.

You should never build a docker image containing tokens or secrets, as that opens up to all sorts of unintentional security vulnerabilities. Intead, you  could mount the `config.json` file into your docker container using volume mounts, as [described in the docs](https://containrrr.github.io/watchtower/p

[2020-05-23 13:48] simonaronsson commented on #551
Hi and welcome to the community,

Currently, watchtower only allows for monitoring changes of images stored in repositories.
My suggestion would be to push your modified image to a registry and use the image from there.

Best regards,
Simme.

[2020-05-23 13:48] #551 closed, assigned to nobody

[2020-05-23 13:48] ghost commented on #551
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 13:49] simonaronsson commented on #549
Hi,

This is, unfortunately, currently not possible. If you would like to have a stab at implementing this, feel free to submit a PR and I'd be happy to assist you with reviews and suggestions.

Thanks,
Simme

[2020-05-23 13:51] simonaronsson commented on #547
Hi, and welcome!

Unfortunately, it's not possible for us to take down that image. The CenturyLink image has not been updated in five years, so I suggest you start by changing to `containrrr/watchtower`, which is the official repo since more than a year.

If you still have issues after that, feel free to open a new issue.

Thanks,
Simme

[2020-05-23 13:51] #547 closed, assigned to nobody

[2020-05-23 13:51] ghost commented on #547
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 13:53] simonaronsson commented on #546
Now that 1.0.0 is released, switching from the notification option `slack` to `shoutrrr` solves this issue. 🥳

See https://containrrr.github.io/watchtower/notifications/#containrrrshoutrrr and https://containrrr.github.io/shoutrrr/services/overview/

[2020-05-23 13:53] #546 closed, assigned to nobody

[2020-05-23 13:53] ghost commented on #546
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 13:53] simonaronsson commented on #535
Closing this now that the PR is merged. Thank you for your contribution! 🙏

[2020-05-23 13:53] #535 closed, assigned to nobody

[2020-05-23 13:53] ghost commented on #535
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 13:57] simonaronsson commented on #533
Hi!

If you've tagged the image as dash:latest in your local registry, that should work. However, if you've got pulling enabled, it will try to pull the image from an image registry, which will lead to it failing if that image is unavailable. You could use the [`--no-pull` option](https://containrrr.github.io/watchtower/arguments/#without_pulling_new_images), but unfortunately, that would lead to

[2020-05-23 14:00] #476 closed, assigned to nobody

[2020-05-23 14:00] ghost commented on #476
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-23 14:20] simonaronsson commented on #451
@tammert Did you try out the approach with symlinking the config file and mounting the symlink rather than the immediate file, as described in the issue you linked? That seems to have solved it for some. 🤷‍♂️ As in:

[code]
and then mounting `~/.docker/linked-config.json` instead. The reasoning behind why this would work, is that the inode (which docker uses to track changes to mounted files) is p

[2020-05-23 14:33] simonaronsson commented on #84
@all-contributors add @andrewjmetzger for bugs and examples.
As a sidenote, I don't really monitor closed issues. From what I can tell, using v17 remains the only solution for synergy users at this point.

[2020-05-23 20:42] kosssi commented on #552
I thought the local files were not imported into the remote container, I just checked and it works ...

thank you for the answer

[2020-05-23 20:42] #552 closed, assigned to nobody

[2020-05-23 20:42] ghost commented on #552
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-24 00:57] joelkay commented on #215
I had the same error, managed to get it working again by doing a system prune and restarting

[2020-05-24 06:53] mtoensing commented on #215
@joelkay  Will this delete all my configured containers?

[2020-05-24 09:33] joelkay commented on #215
It only removes unused data. It didn't remove any of my active containers just the unused ones including the one watchtower was complaining about. Check the link for more info
https://docs.docker.com/engine/reference/commandline/system_prune/

[2020-05-24 11:22] tammert commented on #451
@simskij haven't checked that actually, but I'm sure it would work as you described. So I think if we want to solve this issue, we can either:
a) describe the symlink workaround in the docs
b) describe the restart workaround in the docs
c) make the location configurable by the user, which would allow mounting of a *directory containing* the `config.json`

I don't have a strong preference either wa

[2020-05-24 14:32] mtoensing commented on #215
1. Ok, I backed up my containers that were not running (overviewer, etc)
2. Then I ran docker system prune
3. Restarted the NAS
4. Ran this: docker run -d --network host --name watchtower-once -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --cleanup --include-stopped --run-once
5. Started the container. It worked.
6. Ran it again: Same error. Different hash. =(

[2020-05-24 21:25] #466 closed, assigned to nobody

[2020-05-25 10:46] simonaronsson commented on #451
I'm leaning towards option a, as that adds no additional complexity to watchtower, relies on well-established OS features and once set-up, gets rid of the manual labor. Would be awesome if you wanted to take lead on that 👍

[2020-05-25 20:45] ginkel commented on #417
I just got an interesting variation of this (on x86_64 as well as armhf): Updated image is detected, container is stopped / deleted, create fails b/c image unavailable:

[code]

Needless to say that the image should have been available all the time...

[2020-05-26 15:20] arviceblot opened #555 "nil pointer dereference when using shoutrrr with pushover"
**Describe the bug**
Getting an error trying to send notifications with shoutrrr on startup. See logs and container configuration below.

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker container.
2. Get error.

Container:
[code]

**Expected behavior**
Should not error.

**Environment**
 - Platform: ubuntu server 18.04
 - Architecture: x86-64
 - Docker version: 19.03.8, build afacb

[2020-05-26 16:35] felipejacson commented on #555
I'm with the same problem on telegram.

[2020-05-27 10:09] budimanjojo opened #556 "Modify Shoutrrr Notification message"
Hello, I decided to migrate from Ouroboros to Watchtower. But there's something I want to have in the notification sent by Watchtower. I'm using `shoutrrr` and `telegram` for my notifications. Here's what it looks like when there's an updated container:
[code]
And for comparison purpose, here's how it looks like with Ouroboros:
[code]

What I want to have in Watchtower notification is the ability

[2020-05-27 10:41] simonaronsson commented on #556
Hi, and welcome to the community! 🎉

Correct, the template wont allow you to override the entire message. However, allowing for a summarized view has been requested earlier in #214 and #255, and now that we have shoutrrr in place, adding it shouldn't be that big of a task.

I can't make any promises on when I'll be able to get to it, given that I have very limited time for open source work at the

[2020-05-27 11:52] budimanjojo commented on #556
Okay thanks, I'll follow the other issue and will close this one 👍

[2020-05-27 11:52] #556 closed, assigned to nobody

[2020-05-27 11:52] ghost commented on #556
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-28 08:40] chrootlogin commented on #555
Same problem here:
[code]

docker-compose.yml:
[code]

[2020-05-28 15:33] piksel commented on #555
Yeah, the error is [just ignored](https://github.com/containrrr/watchtower/blob/cd215167098dc67c5ae1e66ccbc569d23dab5911/pkg/notifications/shoutrrr.go#L33) when initializing the Router. So there is probably something wrong with your URLs.

For the long term, this should be fixed so that initialization errors are displayed to the user.

To solve your issues right now, you can try using the CLI vers

[2020-05-28 18:09] arviceblot commented on #555
@piksel Thanks for the update. It looks like this is a failing of the shoutrrr documentation.

For anyone else having this issue, the correct URL scheme for pushover is: pushover://userName:**app_key**@**user_key**/?devices=**device**

where `app_key` is your application API key, `user_key` is your user API key, and `device` is your registered device name.

[2020-05-28 18:12] piksel commented on #555
Yes, the documentation was wrong. I have updated it with the correct scheme now though.

[2020-05-29 02:55] #427 closed, assigned to nobody

[2020-05-29 02:55] #453 closed, assigned to nobody

[2020-05-29 02:55] #440 closed, assigned to nobody

[2020-05-29 09:02] #555 closed, assigned to piksel

[2020-05-29 09:02] ghost commented on #555
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-05-29 09:20] frebib opened #560 "Notification grouping/summary instead of log notification spam"
**Is your feature request related to a problem? Please describe.**
We use the Slack notifications, and pipe them through a service which forwards them to a Telegram chat, and this has worked fine for years with several Watchtower builds/variations.
The issue is that Watchtower sends 4-6 notifications *per* container that it updates, which seems excessive

**Describe the solution you'd like**
Have

[2020-05-29 12:31] #467 closed, assigned to nobody

[2020-05-29 19:22] piksel commented on #498
Not sure about what we can do about it, but there might be some kind of issue with standby support. Either because of the time skip (as far as the process is concerned, the time just suddenly skipped ahead to the wake up moment). Or it might be something related to go functions and channels that's getting corrupted due to the standby. At least it might be worth noting for future issues.

[2020-05-31 11:05] totti4ever commented on #398
The referenced site now has 6 fields:
https://pkg.go.dev/github.com/robfig/cron@v1.2.0?tab=doc#hdr-CRON_Expression_Format

[2020-05-31 12:02] simonaronsson commented on #398
Yes, but it's pointed at the version we're currently using. We should however update our dependencies, and when we do, this will change.

[2020-06-01 14:44] ochealaaf commented on #215
The reason for this kind of error can be any running container based on an image no longer available on dockerhub.
The error message contains the _ImageID_ you need to identify the container to recreate. You may use the command

`docker ps --filter ancestor=ImageID`

to do so. If you are using Portainer there is an option to recreate this container directly, otherwise you have to do it manually.

[2020-06-01 15:57] mtoensing commented on #215
@ochealaaf How do I find out which container name is the one missing on github? Is there a command?

[2020-06-01 16:21] ochealaaf commented on #215
Sorry, I forgot - the error message contains the Digest, something like _sha256:a6dc451b8bc1df6a70d1fbd5f11f6fe04613eb1ef31acd891f12fed709fbf01c_

Now the command

`docker images --digests`

prints a list where you can hopefully find the Digest from your error message and in the same line the corresponding _ImageID_ you need to identify the container by entering

`docker ps --filter ancestor=Image

[2020-06-02 11:07] mtoensing commented on #215
`docker images --digests `

lists no image with the hash that watchtower ist complaining about. This really gets very annoying.
[code]

Message in watchtower:

[code]

My guess: It is an old hash of watchtower itself.

[2020-06-02 11:52] ochealaaf commented on #215
This is very strange indeed. Perhaps you could try

`docker images --digests --all`

to check if there is an orphaned image for whatever reason.

[2020-06-02 19:42] tammert commented on #451
@simskij PR is up for option a!

[2020-06-02 21:44] #451 closed, assigned to nobody

[2020-06-02 21:44] ghost commented on #451
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-04 15:31] werty1st commented on #339
I found a workaround. Unfortunately without involving watchtower.
https://gist.github.com/werty1st/3d2d8690260cc87fd9fd9cf5f88b79c1

[2020-06-04 16:14] kevindd992002 commented on #339
No email notif for that, I guess?

[2020-06-05 04:50] jankete commented on #215
The same here, the hash watchtower is complaining about is not there.
[code]
[code]

I had watchtower running fine with a constant list of containers/images for several times in the last weeks. But today after updating itself, the error occured.  So I think @mtoensing may be right with this: "My guess: It is an old hash of watchtower itself."

[2020-06-05 20:45] simonaronsson commented on #560
Hi, and welcome to the community! 🎉

I'm going to close this issue as your feature suggestion is tracked in #255 already.

[2020-06-05 20:45] #560 closed, assigned to nobody

[2020-06-05 20:45] ghost commented on #560
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-07 10:37] unix0r commented on #215
I don't think it's related to an old has of watchtower, but an old hash of one specific container.
In my setup there are now 8 containers, that are running permanently.

With these 8 Container, there are no problems with watchtower, and they are updated regularly.
But there is also one container (an old WordPress) that results in the problem.

Just tried it and watchtower could update all containe

[2020-06-07 11:05] mtoensing commented on #215
Thank you for the analysis. Wouldn't it be a good idea to change the code in watchtower to keep going after showing the notice to the user @simskij

[2020-06-07 12:47] tammert commented on #215
So I've actually been looking into this too.

Seems to me it's not actually a problem of a missing Docker hub (or whatever remote registry) image, but instead a broken *local* image (it shouldn't be missing, as it needs to be present for the container to run). Specifically, all logs I see posted are crashing on the first thing Watchtower does after booting: checking if there are multiple instances

[2020-06-07 13:05] simonaronsson opened #570 "Warn if using both `WATCHTOWER_NO_PULL` and `WATCHTOWER_MONITOR_ONLY` at the same time"
_Originally posted by @piksel in https://github.com/containrrr/watchtower/discussions/557#discussioncomment-23224_

As there is a very very corner use case for this, where one builds images locally using some kind of automation, but dont want the update to be automatic, it should likely not error out but rather warn that this combination might be unintentional, preferably once at startup.

[2020-06-07 14:16] tammert commented on #215
Quick update: I've figured out at least one instance of where this happens!

Deleting an image while a container based on it is `running`  is not possible, even when using `docker image rm --force`. However, **this is possible** for a `stopped` container. And even after the image of a stopped container is removed, the container can still be started with `docker start <name>`.

In that situation, W

[2020-06-07 15:16] tammert commented on #495
So, I think Watchtower is actually correctly ignoring other images in this.

There is an ongoing bug which caused a crash when local images were missing (#215), which I believe caused what you're seeing too. After the proposed fix in #571 I'm confident this problem would be gone too!

[2020-06-07 16:21] simonaronsson commented on #344
Solved in d1abce8

[2020-06-07 16:21] #344 closed, assigned to simonaronsson

[2020-06-07 16:21] ghost commented on #344
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-08 14:37] simonaronsson commented on #499
Closing this as the `pre-update` timeout changes are now live:

https://github.com/containrrr/watchtower/blob/9e7dfe7be442d1259b6ed5223558f2201f1fd43b/internal/actions/update.go#L76-L80

[2020-06-08 14:37] #499 closed, assigned to nobody

[2020-06-08 14:37] ghost commented on #499
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-09 13:37] Xeroxxx opened #572 "SMTP autenticates as LocalHost"
**Describe the bug**
Watchtower sends EHLO HELO msg as LocalHost. Localhost is rejected by most mailservers.

**To Reproduce**
Steps to reproduce the behavior:
1. Check postfix settings
2. Send mail to postfix or other mail server
2. see HELO as "localhost"

**Expected behavior**
Requires a fqdn for example name of hostsystem.

**Environment**
 - Platform: Arch
 - Architecture: x64
 - Docker versi

[2020-06-09 13:38] Xeroxxx commented on #572
https://github.com/containrrr/watchtower/blob/6c507433e8b9f5fc264861c81dd83cf605bbd651/pkg/notifications/smtp.go#L39

[2020-06-09 13:51] piksel commented on #572
Ehm, what type of SMTP server are you trying to use? The statement that "Localhost is rejected by most mailservers." is only true for connections from mail relays/servers (where you do not have any credentials to prove that you are allowed to send the e-mail), not SMTP clients (as in, a user mail agent)

[2020-06-09 13:57] Xeroxxx commented on #572
I'm using mailcow and this breaks down to a postfix. No relay. This is a default setting and required via RFC. ( https://www.ietf.org/rfc/rfc2821.txt )

 reject_non_fqdn_helo_hostname,
    reject_invalid_helo_hostname,

http://www.postfix.org/postconf.5.html#reject_non_fqdn_helo_hostname

EDIT: no local mailserver on the same host.

[2020-06-09 16:26] piksel commented on #572
Okay, so it's self-hosted? Watchtower is set up to communicate with "entry" SMTP relay servers (not the end-target SMTPs), where the `HELO` is essentially useless, since the user mail agent hardly ever know it's own FQDN, nor can be authenticated by it. Instead they authenticate using `AUTH`, providing credentials and restricting them to send e-mail from a limited set of addresses.
The easiest way

[2020-06-10 09:34] #215 closed, assigned to nobody

[2020-06-10 09:35] simonaronsson commented on #495
Fixed by #571

[2020-06-10 09:35] #495 closed, assigned to nobody

[2020-06-10 09:46] simonaronsson commented on #497
I interpret this as the issue being solved. If the problem remains, feel free to create a new issue. Thanks. 🙏

[2020-06-10 09:46] #497 closed, assigned to nobody

[2020-06-10 10:15] simonaronsson commented on #532
This has now been merged into master. @kevdogg; If you want to try it out, it should be available in the `latest-dev` image, otherwise it will be included in the next release. 👍

[2020-06-10 10:15] #532 closed, assigned to nobody

[2020-06-10 10:19] simonaronsson commented on #518
Change was included in the last update. If this is still an issue post this, I'd ask you to please create a new issue. 🙏

[2020-06-10 10:19] #518 closed, assigned to nobody

[2020-06-10 10:58] kevindd992002 commented on #518
Thanks!

[2020-06-10 12:47] kevdogg commented on #532
Thanks for the inclusion

[2020-06-10 17:15] piksel commented on #532
Btw  @simskij and @tammert, this should probably be provided for shoutrrr aswell? I'm thinking just allowing the URL to set from a file should cover the usage, right?

[2020-06-10 18:13] simonaronsson commented on #532
Agreed. Can you create an appropriate issue? I’m thinking one url per row, do y’all agree?

[2020-06-11 20:34] Xeroxxx commented on #572
Ah okay, now I get it. This wasn't clear to me.

Yes self-hosted postfix.

[2020-06-15 05:27] simonaronsson opened #581 "Create a wrapper to validate API token"
Once #450 is merged, we'd like to add support for wrapping API handles to make them restricted/require a token. For instance, instead of adding a check to each handler, we'd like to be able to do something like this:

[code]

See https://github.com/containrrr/watchtower/pull/450#issuecomment-625447646 for any minimal additional details that are available. Also, feel free to reach out to me either

[2020-06-15 05:38] simonaronsson commented on #417
The first error seems to be related to #557 which was resolved (kind of) in version 1.0.1.

@ginkel - the error variation you're seeing should be solved by #528. If that's not the case and the image is indeed available, feel free to get back to us in a  separate issue.

[2020-06-15 05:38] #417 closed, assigned to nobody

[2020-06-15 05:38] ghost commented on #417
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-15 05:47] simonaronsson commented on #419
Just as a follow up:

Did you follow the full instruction documented [here](https://containrrr.dev/watchtower/private-registries/#example)? It's vital that you actually build the ecr-helper in a separate container and launch that container as well or there won't be any binary for available for watchtower to use.

Also, the issue referenced is more than three years old, and the up-to-date readme do

[2020-06-15 05:47] #419 closed, assigned to simonaronsson

[2020-06-15 05:47] ghost commented on #419
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-15 18:00] gtrs opened #582 "Per-container setting if update or only notify"
**Is your feature request related to a problem? Please describe.**
Updates can always break something. There are two classes of containers: containers where a failed update can have catastrophic consequences and containers where a failed update is annoying, but less critical. For the first class, you only want notifications, for the second, automatic updates are fine.

**Describe the solution you'

[2020-06-15 20:16] simonaronsson commented on #582
This is a great suggestion. Per-container settings through labels would sure be a nice addition. Would you like to have a stab at implementing it? I'd be happy to provide assistance and review your code.

[2020-06-16 19:04] defhead opened #583 "Running watchtower without specific containers in params will not detect other containers"
**Describe the bug**
If I don't write the containers I want to "watch" , watchtower will detect no containers

**To Reproduce**
Steps to reproduce the behavior:
here is my docker-compose file
[code]

and I'll get these logs:
[code]

If I change to `command:  --interval 60 --cleanup true --debug true portainer nginx`, it will work perfectly.

**Expected behavior**
No containers in 'command' should

[2020-06-16 21:05] simonaronsson commented on #583
I think this is because you add true to the flags. Just including the flags will set them to true What happens now is that watchtower searches for a container named true, and when you append your command with the containers you want to watch, it searches for them + true :)

So, switch your command to:

[code]

[2020-06-16 22:12] defhead commented on #583
Thank you @simskij , that was the problem.

[2020-06-16 22:12] #583 closed, assigned to nobody

[2020-06-16 22:12] ghost commented on #583
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-17 14:05] hirenshah opened #584 "Portainer Disappeared After Update"
**Describe the bug**
WatchTower is configured with --schedule to check daily for updates at 00:00.  I noticed this morning that I couldn't access Portainer, and subsequently discovered that the container was no longer present.

I have all my `docker run -d` commands saved, and volumes mounted for any data, so was able to get Portainer back again within minutes.

I found the below mentioned logs in

[2020-06-18 20:44] simonaronsson commented on #584
Hi!

To be able to help you, it would be really helpful if you would provide the command you used to launch watchtower.

Thanks,
Simme

[2020-06-18 23:18] #474 closed, assigned to nobody

[2020-06-19 21:04] simonaronsson commented on #504
It is deprecated, just as you've noticed. However, it is still usable and probably the most "native" way of adding dependencies between containers. However, the depends-on label should now be live, so please give that a try.

[2020-06-19 21:09] simonaronsson commented on #542
Maybe. Unsure. I'm generally a bit skeptic of introducing this kind of logic as it adds quite a bit of complexity to an otherwise pretty simple service. @containrrr/watchtower-contributors, care to pitch in?

[2020-06-19 22:53] piksel commented on #542
@simskij If we added a fallback, then the back off for failed attempts should not be too hard/complex (as long as we can keep it in-process, as in no persistence). The easiest way, I guess, would be to have a record of "blacklisted" hashes that have failed on earlier attempts  and skip updating the container until a newer image is found (until the process exits).

[2020-06-26 03:03] ptr727 opened #586 "Default WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG to hostname"
I run the same docker compose file on multiple hosts.
I'd like email notifications to tell me which host is sending the email.

Docker compose does support environment variables, but apparently it does not work in compose environment variables.
`WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG=${HOSTNAME}`
Results in `WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG=`

Am I using this incorrectly, or is this a co

[2020-06-26 04:49] victorcmoura commented on #586
Hi, @ptr727!

I managed to reproduce your issue. It is actually frustrating not to see it working haha. As a workaround, I suggest running
[code]
So it forces docker-compose to see ${HOSTNAME} as your shell's $HOSTNAME.

Similarly, you can use a `.env` to place your compose variables, so running `echo "HOSTNAME=${HOSTNAME}" > .env` in your compose folder, for each host, could be another clunky opt

[2020-06-26 06:08] zoispag commented on #586
Hi there,

This looks like a limitation of the array notation of yaml. Try to use the object notation for your env vars in your compose file:

Example from my compose file:
[code]

_Beware of differences in boolean values if you use any._

[2020-06-26 14:21] ptr727 commented on #586
It still does not seem to work:

[code]

[code]

From Portainer:
[code]

[2020-06-26 14:24] zoispag commented on #586
Hey @ptr727, do you have a .env file? Try to add `HOST=${HOST}` in your .env and please let me know.

[2020-06-26 14:35] ptr727 commented on #586
I should have addressed that, sorry; the compose files are called from ansible, to dynamically create .env file or to use an ansible shell command with -e instead of the docker_compose command is extra work.

If this is a docker-compose limitation, even when using "object notation", I would rather convert my ansible task to a native docker_compose task vs. calling a compose file. I prefer calling

[2020-06-26 16:14] zoispag commented on #586
I can try to reproduce it, but can you please share your playbook or at least the docker-compose module part of your ansible command?

[2020-06-26 17:02] kje1 commented on #504
Hi.

I run watchtower through the vtec2/watchtower image using docker-compose. The docker hub page for this image points here for raising issues although the image hasn't been updated for 2 years.

I'm getting the same error (conflicting options: hostname and the network mode") when trying to update containers that have network_mode: service:vpn. I've set up depends_on for my containers that are r

[2020-06-26 17:23] ptr727 commented on #586
This works:
[code]

This does not work:
[code]

I noticed that if I set the hostname, then I really don't need to the set `WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG`, because the email subject includes the unique hostname. e.g. `Watchtower updates on watchtower-server-2`

[2020-06-26 18:45] zoispag commented on #586
OK, that's good. So I think the issue is with Ansible docker_compose module and env variables. Let me run a test with this in a playbook. I might come up with something.

[2020-06-26 19:48] zoispag commented on #586
@ptr727, the issue is with docker-compose, not with Ansible.

See example file:

[code]

[code]

In your first playbook, Ansible is "constucting" the docker-compose inline, so the env variables are passed from SHELL to docker-compose. On the second example, the `docker-compose up` command that Ansible is essentially executing is not passing env variables.

Unfortunately I have trouble running the

[2020-06-27 00:00] ptr727 commented on #586
Thank you, I decided to bite the bullet and convert the docker_compose tasks to docker_container tasks, where I specify all the attributes.

[code]

[2020-06-27 03:17] SoulInfernoDE commented on #215
@simskij can we get a new docker hub image for watchtower with this patch included please?
--i tried "stable-dev" branch but its build for amd64 only?
i need this watchtower docker image to be running on other systems and the stable branch seems 25 days old as described on the hub page.

[2020-06-27 05:46] zoispag commented on #586
I am closing the issue in this case! If you have any other question, feel free to open a new issue.

[2020-06-27 05:47] #586 closed, assigned to nobody

[2020-06-27 05:47] ghost commented on #586
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-06-30 19:45] tammert commented on #542
In this case though, it was a problem where the API version was too low. In which case Watchtower can delete the container, but never recreate it... an exponential back off wouldn't fix this in the slightest. Are there any valid/realistic use cases for which a create would fail maybe once, but succeed 'magically' later?

[2020-06-30 20:42] zoispag commented on #542
Only case I can think of, is the container relying on mounted data on start. Otherwise, being stateless as an image, situation should be identical on every container run.

[2020-07-01 12:47] m-sedl commented on #581
Hello. I would like to contribute to the creation of the watchtower, but I'm new to the open source community. Could you tell me: did I understand the essence of the task correctly?

Need to create a wrapper for the _handler.ServeHTTP_ object that will execute the following logic?

[code]

[2020-07-01 15:55] victorcmoura commented on #581
Currently, the API package only provides an interface to trigger an update. All of its logic is coded into api.go:
![image](https://user-images.githubusercontent.com/26290053/86264443-e931ce80-bb98-11ea-921b-ba4a1a660941.png)

@simskij, aiming to implement more features into the API, started a new pattern in API package to make it more extensible. In #450, he managed to separate each API feature i

[2020-07-01 16:38] m-sedl commented on #581
Thank you very much for your answer. What do you think, in what place of the project is it better to place the future wrapper? For example, in `watchtower/pkg/api/wrappers`. Or will creating a new package be redundant?

[2020-07-01 17:24] victorcmoura commented on #581
That's exactly what I thought @simskij could give us guidance. But, if I had to design it myself, I would go for a modification in `registerHandle`, and maybe `registerFunc` as well, by adding a `handler.requireToken` parameter and using some logic within `api.go`.

[2020-07-01 22:12] m-sedl commented on #581
Good. Then I will wait for @simskij's answer. So far, I can offer such a draft solution to the problem in the `api.go` file. I also remember that it is necessary to delete existing token checks in `metrics.go` and `update.go`.

It is worth noting that `metrics_test.go` does not use the logic from `api.go`. Therefore, token verification will not be performed in this test.

I apologize if I made a m

[2020-07-02 00:25] victorcmoura commented on #581
@MihailITPlace, feel free to fork Watchtower's repo, implement it in the actual source code, and open a pull request. Then someone can review your contribution, make suggestions and then your code can reach the next release =)

[2020-07-03 02:03] #516 closed, assigned to nobody

[2020-07-03 08:02] kje1 commented on #504
Are there any updates on this? I've switched watchtower from vtec2/watchtower to containrrr/watchtower but still getting problems. My VPN container updated today but unfortunately none of my other containers which depend on VPN and have the depends on label attached to them were stopped and restarted correctly according to the linked container documentation (https://containrrr.dev/watchtower/linke

[2020-07-03 12:44] simonaronsson commented on #504
Hi there!

You need to use `com.centurylinklabs.watchtower.depends-on`.

Best, Simme.

[2020-07-03 12:47] simonaronsson commented on #504
Closing this issue as the original question was solved with `com.centurylinklabs.watchtower.depends-on`. For how-to-style questions, where you're unsure whether it's an actual bug in watchtower, please start by posting in `Discussions` until it's been confirmed as a bug.

[2020-07-03 12:47] #504 closed, assigned to nobody

[2020-07-03 12:47] ghost commented on #504
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-07-03 12:52] simonaronsson commented on #581
Excited to have you, @MihailITPlace 🎉  As we currently don't have any public API's, I think the solution you and @victorcmoura have been discussing makes total sense. I'll move over to the PR to comment on specifics (if I can find any).

[2020-07-03 18:36] PssbleTrngle opened #590 "Shoutrrr send params"
**Is your feature request related to a problem? Please describe.**
shoutrrr accepts a params map for some services.
These params are always an empty map and cannot be specified

**Describe the solution you'd like**
It would be great if there was any way to set them.
I do realise that parsing a map from one enviromental variable is not optimal, but maybe there is a way to provide the possibility

[2020-07-04 15:15] TECHNOFAB11 opened #591 "Option/Argument to specify how many image should be kept"
**Is your feature request related to a problem? Please describe.**
I would like Watchtower to clean up the old image, but still keep at least one around to be able to rollback fast

**Describe the solution you'd like**
An argument or maybe even a docker label to be able to specify how many of the last images should be kept (eg. 2)

**Describe alternatives you've considered**
None

**Additional con

[2020-07-04 15:58] zoispag commented on #591
Hi there,

I find difficult to see how this would work. Watchtower pulls the same image. Technically it is possible, but they will either be dangling images left in the host (you will see SHAs with tag <none> of you run `docker images`) or watchtower should tag them with another names instead of deleting them.

In both cases I don't see how watchtower could know the old images' SHAs and delete the

[2020-07-05 09:25] PssbleTrngle opened #592 "Common string functions in shoutrrr templates"
**Is your feature request related to a problem? Please describe.**
The current shoutrrr template parsing does not allow basic string functions like lowercase, uppercase or capitalize

**Describe the solution you'd like**
I created a pull request with a possible solution, making the usage of these possible as string pipes

[2020-07-05 12:10] #522 closed, assigned to nobody

[2020-07-05 16:04] m-sedl commented on #570
Hello. Did I understand correctly that to solve the problem it is enough to check the presence of both flags in the `PreRun()` method in `root.go` and display a message to the user using `log.Warn()`?

Should I create a new branch for this task or can I make a pull request to the master?

[2020-07-07 17:49] kje1 opened #595 "Dependent containers are not shutdown or restarted"
**Describe the bug**
I recently commented on https://github.com/containrrr/watchtower/issues/504#issuecomment-653531801 which has now been closed as the suggested fix was to use the com.centurylinklabs.watchtower.depends-on label for dependent containers. I have done this but unfortuantely this is still not working for me. Today my vpn container updated and a service which uses the vpn container f

[2020-07-08 13:50] piksel commented on #595
I think you need to specify the label as:
[code]

[2020-07-08 14:14] #506 closed, assigned to nobody

[2020-07-08 14:15] kje1 commented on #595
Is this really the case? I've got labels specified like that for containers that I proxy via traefik that work as expected using my syntax. The label also appears in portainer as I would expect as well.

![image](https://user-images.githubusercontent.com/61121576/86929211-7e027200-c12d-11ea-877e-c10c2bc20857.png)

[2020-07-08 14:31] piksel commented on #595
Maybe not, but it looked like it might be unintentional, as it would be parsed as an array of strings, rather than a key/value map, but I guess it's smart enough to detect that. Also, I made mistake in the syntax above. There shouldn't be any dashes before map items.

[2020-07-08 16:57] kje1 commented on #595
Hopefully it is just a syntax issue rather than the label not actually working correctly.

I just double checked all of my traefik labels and what I originally said was slightly wrong. It seems some of them have the syntax that you wrote and some have the syntax I wrote, as below. I must admit, I am fairly new to all of this and followed a pretty comprehensive guide when setting up my proxy with l

[2020-07-09 09:07] piksel commented on #595
In this case, `labels` is technically an array of strings, equivalent of the following json:
[code]
compared to the key/value object:
[code]
But I think docker-compose parses them and splits them to key-values, but I couldn't find it in the documentation. I have seen other instance of this in docker-compose files, so both probably work.
But you could try changing the label to:
[code]
and see if it

[2020-07-09 16:56] simonaronsson commented on #595
@Saicheg might be able to verify this, but from a) looking at the code and b) knowing that what it tries to emulate is links, I think this feature works in the opposite direction of what you've set up.

Depends on, from what I can tell, does not include a list of containers that you depend on, but rather a list of containers that depend on you. In your case, if `ombi` is updated, It would also res

[2020-07-10 08:21] kje1 commented on #595
I came to a very similar conclusion yesterday actually. I'll reverse the dependencies and let you know if that solves the problem. Thanks!

[2020-07-10 12:46] markolonius opened #599 "Error response from daemon: No such container"
Getting error:
`time="2020-07-10T03:59:48Z" level=error msg="Error response from daemon: No such container: f74860a8f08a3f10127fd6473ce8ab253431638e2948bc23d95cd2ab3c55fb63"`

Seems intermittent, which is likely why previous bug report #213  for this same issue closed due to inactivity.  This issue looks like may be related to environment variable WATCHTOWER_CLEANUP=true since it looks like it rem

[2020-07-10 13:45] TECHNOFAB11 commented on #591
Wouldnt it be possible to pull the latest image, then check which SHA the old image has/tag it and save it. Then, when the next image should be pulled it could delete the oldest one for example. Or it could go by the date when it was pulled (https://stackoverflow.com/questions/39890137/how-can-i-check-when-was-a-docker-image-pulled), but i dont know if Watchtower has access to that without any vol

[2020-07-10 14:08] zoispag commented on #591
I don't think watchtower should store SHAs. Local state would mean that the list is gone after a restart of the watchtower container. And an actual storage, would mean that users would need to give some persistance to watchtower storage, even if it is a real db, or a named volume.

@simskij any ideas?

[2020-07-11 18:04] kje1 commented on #595
Hi,

I've added the label like this as suggested. Could you confirm that this is the correct syntax please? Unfortunately it's now just a case of waiting for the the vpn to update to see if this works correctly. I guess I could try adding a depends on to another container as a trial...

I think @piksel makes a very good point above. Something in the logs to show what dependencies exist for a parti

[2020-07-12 07:57] sixcorners commented on #542
@tammert The container could have been updated to not have the problematic configuration. watchtower itself could have been updated so it could handle it.
I think the bigger issue is that the container can be dropped and forgotten about. If this could roll back what it did when it failed then I sort-of wouldn't mind if the logic was that the container is ignored forever afterwards.

[2020-07-14 21:22] thelittlefireman commented on #584
hi, i've got the same issue :
[code]

And that's my config :

[code]

[2020-07-15 12:47] piksel commented on #584
`/go/watchtower/pkg/container/container.go:169 +0x4e` would indicate that `c.imageInfo` is nil for some reason. Not sure what to make of that though...

[2020-07-15 13:20] piksel commented on #542
Both of those would be handled if it's based on the image hash (and not persisted when Watchtower is restarted/updated)

[2020-07-15 17:16] simonaronsson commented on #595
I would write it as:

[code]

just to remove any ambiguity regarding how it will be parsed. Other than that, yeah - this should work.

[2020-07-15 17:19] simonaronsson commented on #591
I totally agree. After discussing this with @piksel as well, we've come to the conclusion that this isn't something we'll pursue any time soon. Closing this issue and hoping you find another suitable way to do this. 👍  Labeling it `Status: Idea Bank` for easy discovery later.

[2020-07-15 17:19] #591 closed, assigned to nobody

[2020-07-15 17:19] ghost commented on #591
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-07-15 18:58] piksel commented on #572
Has the issue been resolved and we can close this?

[2020-07-15 19:22] piksel commented on #591
This relies on either watchtower having persistent storage (doubtful that it's going down that route, but who knows?) or that the way it identifies/discovers images changes enough to be able to see multiple versions of the same image (and sort them chronologically).

[2020-07-16 06:08] nicx commented on #224
@fr34kyn01535 have you ever solved this issue? I have the same problems :(

[2020-07-16 10:12] wedi commented on #85
You can solve this by running your own registry and pushing your images to it:

[code]

As [the docs state](https://docs.docker.com/registry/deploying/), this example does not secure the registry, neither login nor tls but it should work in a private setup.

[2020-07-17 08:15] regystro opened #603 "Updated container notifications not working when --run-once is used"
Hi. When using --run-once instead of scheduling mode, the only notification I receive is "Running a one time update.", even when new images are pulled and containers are correctly updated (testing for a week and checking with image and container recreation date/time).

This is my command line:
[code]

**Expected behavior**
When running the same command without the --run-once flag (scheduled mode),

[2020-07-17 13:56] Xeroxxx commented on #572
Yes we can close this.

Thx for asking.

[2020-07-17 13:56] #572 closed, assigned to nobody

[2020-07-17 13:56] ghost commented on #572
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-07-21 11:31] piksel commented on #603
Should be fixed by #564

[2020-07-22 17:55] thelittlefireman commented on #584
Any news ?

[2020-07-22 21:57] hirenshah commented on #584
[code]

[2020-07-25 17:55] prabuvenkat opened #607 "Inspect images without pulling them?"
Use [skopeo](https://github.com/containers/skopeo) maybe? or, something along [these lines](https://ops.tips/blog/inspecting-docker-image-without-pull/)

[2020-07-25 19:15] zoispag commented on #607
@prabuvenkat to what end? What do you want to achieve?

[2020-07-25 19:55] prabuvenkat commented on #607
To pull images only if there are any updates?

I understand from the documentation that the comparison is made _after_ pulling the image, as of now. Or, have i missed something?

I would not want to squander away pricey vps bandwidth and storage with docker images.

[2020-07-28 22:12] thelittlefireman commented on #584
i add some informations :
Docker version 18.09.8, build bfed4f5
docker-compose version 1.24.0, build 0aa59064

[2020-07-30 06:26] zethis commented on #595
Same problem for me, depends_on: works perfectly with docker-compose.
Why not with watchtower ?

Edit:
It appears depends_on: it's only available with docker-compose, not with docker

Edit2:
Issue talking about that here: https://github.com/docker/compose/issues/5608
Not merged, Closed.

So if Watchtower use docker run after update, it's logical 👍

[2020-07-30 10:29] #533 closed, assigned to nobody

[2020-07-31 04:58] xAlstrat commented on #595
I can't make it work. I think I tried all the possible options:

[code]

And the string version:

[code]

I also added the label at build time in Dockerfile for labeling the image:

`LABEL com.centurylinklabs.watchtower.depends-on="python"`

The command `docker inspect ` shows that the label is set correctly (for both image and container), so I think there is no problem with the label format. Here

[2020-08-01 06:58] xAlstrat commented on #595
Well, the code showed Watchtower was getting the container links but was not using them for shutting down/restarting the containers. I managed to make it work with some changes.

Linked containers were stopped using the watchtower image I built but I couldn't watch them restart because of this issue #584.

[2020-08-04 05:54] Dids commented on #376
This is still a bit of a problem, because even if you remove `credsStore` and embed the encoded credentials in the config, Docker for Mac will "reset" the file, removing the encoded credentials.
Then again, it's not like watchtower could access the keychain, so not sure if we just need to wait for a fix to Docker for Mac or what.

[2020-08-04 06:29] piksel commented on #376
@Dids I guess that's the only option right now. You could open a thread in discussions for discussing further alternatives since this issue is closed and will probably not gain much exposure.

[2020-08-07 16:15] piksel commented on #584
The issue is a change in dev that causes the error. Don't use `containrrr/watchtower:latest-dev` unless you want to test the bleeding edge 😁. That being said, it helped us find the bug, so that's appreciated!

Try changing to `containrrr/watchtower:latest`

[2020-08-08 21:23] simonaronsson commented on #376
I'd suggest copying the file to another location, where docker won't overwrite the file and add the credentials as described above.

Locking this issue as it's already closed. As @piksel  mentioned, further conversations would be very well-suited for a thread in the [discussions](https://github.com/containrrr/watchtower/discussions) tab.

[2020-08-15 05:45] vrajashkr commented on #272
Greetings @simskij !

Is this issue open to be worked on? I'd love to have a go at it if available.

Thank you!

[2020-08-15 06:05] simonaronsson commented on #272
For sure, go for it! 🙏🏼

[2020-08-15 08:41] vrajashkr commented on #272
Thank you!

@simskij  I ran into some trouble while trying out the application. Should I mention them here or on Gitter?

[2020-08-15 08:42] simonaronsson commented on #272
Here is better if someone else wants to assist, but Gitter works just as well! 👌

[2020-08-15 15:52] vrajashkr commented on #272
Awesome!

Here is the issue I ran into:
[code]

##### Steps to reproduce:
1. Clone repo
1. build watchtower
1. create test container with test image
1. start watchtower
1. update test image
1. push image to DockerHub

##### Expected:
The container is stopped and restarted with the new version of the base image.

##### What actually happened:
The container is stopped, but the program panics while t

[2020-08-15 22:54] piksel commented on #272
Yeah, this is because of this:
https://github.com/containrrr/watchtower/pull/612

You can base it on that branch to get started, or I will get it merged to master tomorrow!

[2020-08-16 05:18] vrajashkr commented on #272
@piksel Thank you for the information! I'll get started with that branch to test my changes. I can make a PR for the changes once that branch is merged into master.

[2020-08-16 11:10] Morphy99 opened #618 "Home Assistant Notifications"
**Is your feature request related to a problem? Please describe.**
None of the current notification methods are suitable

**Describe the solution you'd like**
Would like to be able to see progress of updates and any updates available when in monitor mode in the Home Assistant GUI.

**Describe alternatives you've considered**
All the current options involve setting up a third party service which I

[2020-08-16 12:36] piksel commented on #618
To get the notifications into Home Assistant, it looks like the `POST /api/events/<event_type>` could be used, and then by creating a custom card that receives and interprets those events you could get them displayed in Lovelace.

If that is something that you think would work we can add it to [containrrr/shoutrrr](https://github.com/containrrr/shoutrrr/) as a notification service.

[2020-08-16 13:09] Morphy99 commented on #618
That sounds like something which would work!

[2020-08-18 08:05] simonaronsson commented on #215
@SoulInfernoDE it will be in `latest` with the next release, which should happen sometime real soon. latest-dev is, as you say, only amd64 at the moment, as it's only supposed to be used during development.

[2020-08-18 08:17] simonaronsson commented on #549
I really think we should add this at some point, but rather than a schedule, I think specifying a maintenance window through labels would make more sense.

[2020-08-18 08:32] mtoensing opened #623 "Synology: WatchTower deletes or does not restore iobroker container after update"
**Describe the bug**
I use many containers like minecraft, iobroker, mysql and so on. I keep them up to date with watchtower. One of this containers disappears after a crash in watchtower every single time. It is https://github.com/buanet/docker-iobroker from @buanet It happend 5 times. I completely reinstalled docker on my nas on a different volume and removed the images. Nothing helps. Since my

[2020-08-18 09:39] zoispag commented on #623
You should be able to selectively include or exclude containers from watchtower automation. See [container-selection](https://containrrr.dev/watchtower/container-selection/). Unless there is something special about Synology that I am not aware off. @simskij might have another suggestion

[2020-08-18 09:42] mtoensing commented on #623
@zoispag I use the Synology GUI and Portainer. I don't see an option to add a "label".

[2020-08-18 09:48] zoispag commented on #623
what about this @mtoensing ?

![image](https://user-images.githubusercontent.com/21138205/90498524-bd6aa800-e148-11ea-8d28-6d4ef3c40c88.png)

[2020-08-18 09:51] mtoensing commented on #623
Ah, only on create? I'll try that

[2020-08-18 09:52] zoispag commented on #623
Labels can be set only on create afaik

[2020-08-18 12:49] simonaronsson commented on #599
You are correct in suspecting that watchtower ignores `depends_on`. Even docker ignores it.

We've added a label to be able to override dependencies between containers, however. See https://containrrr.dev/watchtower/linked-containers/

[2020-08-18 12:51] #570 closed, assigned to nobody

[2020-08-18 12:51] ghost commented on #570
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-08-18 18:52] piksel commented on #623
This seems to be caused by the `containerInfo.Config` having `ExposedPorts` set to nil. This scenario could be handled and skipped in the same manner as #612 (since I am guessing that this container DOES have exposed ports, so restarting without them would be just as bad, right?).

Still unclear why this is happening, but I wonder if the modified `dockerd` is the cause...

[2020-08-18 18:55] #584 closed, assigned to nobody

[2020-08-18 18:55] ghost commented on #584
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-08-21 18:13] #468 closed, assigned to nobody

[2020-08-21 18:13] ghost commented on #468
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-08-21 20:30] simonaronsson commented on #607
We'll have to dig into how skopeo works to have an educated opinion.

At a glance, trying to build something that compares the image hashes without pulling it seems error prone and unlikely to work with all flavors of registries. If that is not the case and the implementation is reasonable enough, I don't see why we couldn't pursue this.

@containrrr/watchtower-contributors any thoughts?

[2020-08-21 20:32] simonaronsson commented on #607
@prabuvenkat
Oh, and as a side note, it would be great if you'd use the issue template for feature requests next time. It's there to give us enough information about the rationale, as well as alternatives considered, from the get-go, without having to ask. Thanks 🙇

[2020-08-21 20:50] simonaronsson opened #625 "Switch around viper and cobra"
Quote from #577:

[2020-08-21 20:57] #581 closed, assigned to nobody

[2020-08-21 20:57] ghost commented on #581
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-08-21 20:59] simonaronsson opened #627 "Dependency update"
It's been a while since we bumped our dependencies. Maybe it's time?
This would also solve #398.

[2020-08-21 21:06] simonaronsson commented on #531
My initial reaction from looking at your log is that there are a lot of non-ascii letters in your overlay name. Just as @sixcorners, I suspect `dockerd` in this case.

[2020-08-22 00:23] PaPaTheGMan commented on #531
Thanks, I'll take a look.

[2020-08-22 01:40] victorcmoura commented on #607
Well, I got interested in contributing to that API feature exactly because of this active behavior that forces Watchtower to make network usage in a fixed interval.

But, even though I see it as an issue, simply inspecting the Docker image without "pulling" it wouldn't be much of an improvement. If the whole image actually got pulled on every interval, it would make complete sense, but as Docker l

[2020-08-23 09:08] balli1187 opened #628 "[Notifications] name instead of ID"
Hi,

First of all: thanks for this software/image. Really makes it easy to keep Container era updated.

I‘m using email notification to be informed if watchtower updates a container.
In the email subject only the Container ID is given, wich I normally don‘t know. I want to ask to use the container name (if specified) or the image name instead.

Thanks, Stephan

[2020-08-24 10:44] dougle03 commented on #618
Did you get this working? Any chance of sharing your approach?
Thanks,

[2020-08-25 17:41] victorcmoura commented on #607
Update: https://github.com/containrrr/watchtower/discussions/631

[2020-08-27 21:29] chander commented on #103
If it makes a difference, I had the *exact* same  issue as the OP here.  I was able to fix it by adding 👍

`"credStore": "ecr-login"`

That one line in config.json fixed it all for me.  Now it works like a champ.

To be more complete, this is a shell function I use to get the helper setup:

[code]

Once that is complete, here is the snippet I use in my docker-compose.yaml file to start it:

[code]

[2020-08-28 20:07] simonaronsson commented on #103
@chander Thank you for that explanation! I'll go ahead and lock this issue to prevent further discussions that might get lost in the ether, but if you don't mind, it'd be really great if you were to provide a PR that adds this to the docs.

[2020-08-29 12:08] m-sedl commented on #628
Hello. As I understand from the code, the subject line contains the hostname of the watchtower, not the updated container. If you want to distinguish between emails from different watchtower instances, then use the _--notification-email-subjecttag_ flag.

I doubt that it will be possible to indicate the name of the changed container in the subject line, because one email can display logs associate

[2020-08-31 08:14] balli1187 commented on #628
Oh... yes seems you are right.

But what is the purpose of showing  the hostename, if i can set the notification-email-subjecttag_ flag to distinguish between different watchtowers?

So far I got a single email for every updated container, so it could be possible to show the Hostnamen here.

Actually I want to inject the mails in my home automation system.
Is it possible to call a script (with con

[2020-08-31 20:08] m-sedl commented on #628
Theoretically, if all log entries in an email contain information about one container, then you can get its name/ID from the log entry and add them to the email subject. But I think there is a better way.

It is possible that this article can help you. https://containrrr.dev/watchtower/lifecycle-hooks/

[2020-09-01 06:51] balli1187 commented on #628
Hm... yes That could do the job but if I understand right, these Skripts are performed within the container.
So i think i have to create an own script for every container. Hoped it could've easier....

[2020-09-02 13:06] jpoggi opened #634 "Found a possible typo on the wiki"
**Describe the bug**
I think I may have found a typo on your wiki.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://containrrr.dev/watchtower/container-selection/'

**Expected behavior**
Environment variable '**WATCTOWER_LABEL_ENABLE**' should be written **'**WATCHTOWER_LABEL_ENABLE**'**

[2020-09-02 13:49] balli1187 commented on #628
So... I played a little with the lifecycle hooks but as assumed I ran into sim problems:

- as the scripts are procesed _inside_ the watched Container it was hardly not possible to create one script running in every container.
- as I want to realize a webhook I had to run a curl or wget cmd. Some images (from docker hub) only understand wget, some curl, other neither nor. Some don't even have a sh

[2020-09-03 16:39] carlsimmons81 opened #636 "Watchtower unable to update containers, skipping to next"
I'm not sure what I'm doing wrong but watchtower fails to update anything.  I'm running watching on QNAP in container station by way of Portainer.

I'm using this for the install.
docker run -d \
    --name watchtower \
    -v /var/run/docker.sock:/var/run/docker.sock \
    containrrr/watchtower --cleanup

I really hope I can resolve this issue.  Thanks!

[2020-09-07 13:08] Mattie112 commented on #595
I also have a issue with the depends-on feature:

[code]
Yes it is correct that both a new nginx and a new php-fpm image are pushed. However I expected other containers to be restarted also. Here is my docker-compose.yml

[code]
(simplified + not present in this file are the 'beta' and 'stable' containers that are exactly the same structure)

Basically I want to restart everything as soon as there

[2020-09-09 11:02] andig opened #639 "Watchtower stops working"
**Describe the bug**
A couple of days ago, watchtower stopped producing log entries while the container is still running:

[code]

No more entries after that line, other containers are no longer updated.

**To Reproduce**
Not able to

**Expected behavior**
I'd expect a deadlock inside watchtower.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
 - Plat

[2020-09-09 12:44] piksel commented on #634
Hello! First of all, I just wont to point out that you can actually make PRs with changes like this one directly from the documentation by clicking the ✏.
If you do that now however you might notice that it's already fixed. Unfortunately, documentation is updated on release (as the current documentation should always reflect the current release), but that also means that typos like this doesn't ge

[2020-09-09 12:55] jpoggi commented on #634
I, already fixed seems a good reason to close this issue.

Even if we have to wait for the next release.

Thx.

[2020-09-09 12:55] #634 closed, assigned to nobody

[2020-09-09 12:55] ghost commented on #634
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-09-10 07:14] andig commented on #639
Closing until I can repro in debug mode.

[2020-09-10 07:14] #639 closed, assigned to nobody

[2020-09-10 07:14] ghost commented on #639
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-09-10 10:54] simonaronsson commented on #639
Thanks! That will definitely make it easier to help you 👍

[2020-09-10 10:56] simonaronsson commented on #590
I think we should keep this open. It is still an issue and something we'd like to implement.

[2020-09-11 12:52] #592 closed, assigned to nobody

[2020-09-11 14:32] mneil opened #640 "Update images that have never been launched as a container"
I have a use case where I want images updated on a machine but I haven't necessarily ran the image yet as a container. In this case, `--include-stopped` takes no effect (a container never ran), and there are no options to look at images only.

Expanded problem:
I have a CI system. The worker instances, when created, pull images that we've approved to run. When a new worker starts up it uses the lo

[2020-09-11 14:51] zoispag commented on #640
Hi there,

I don't see this as something you need watchtower to do. If the image is not running in a container, the procedure is a lot simple imho.

You can try to add a cronjob or a task in your CI pipeline, to run something like this:
[code]

The `docker images` command will return a list like this:

[code]

and `xargs` will feed each line to a `docker pull` command.

Is this something that woul

[2020-09-11 15:43] mneil commented on #640
Yes, that's an alternative that would work. Running it on a cron and updating the image(s).  I'm not opposed to that (I've considered it previously) but it has some negatives:

 - I'm using watchtower already, but now I need to write something else to manage these images
 - I could do this in bash, but it's not very testable / provable like it could be in go
 - Not as extensible / shareable with t

[2020-09-12 23:47] kevindd992002 opened #643 "Stopped/missing containers after daily scheduled run of watchtower"
**Describe the bug**
I'm using your "containrrr/watchtower:latest" image for my docker container and I have it set it to run daily at 6:00AM. For two days (two runs) now, after watchtower tries to update all my containers one of them (specifically the jackett_maine container) comes up stopped. All others are fine including another docker container that uses the same jackett image from LSIO. When I

[2020-09-12 23:50] kevindd992002 commented on #643
Nevermind, it does look like it's a deluge issue wherein it deletes the downloads folder everytime it completes a download. The workaround is to put a dummy file inside the folder so that it doesn't get deleted.

[2020-09-13 11:31] dougle03 commented on #636
None of my containers are updating either, with the same notice.
All mine are hub images. Getting this on a RPi4 running RASP OS

[2020-09-13 13:33] #643 closed, assigned to nobody

[2020-09-13 13:33] ghost commented on #643
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-09-15 17:24] simonaronsson commented on #636
Hey,

Thanks for your reports! Would you mind posting your logs with `--debug` enabled?

Best,
Simme

[2020-09-15 22:14] carlsimmons81 commented on #636
Simme,
Thanks for responding.  I actually removed watch tower for the moment so I can't assist with the logs this time around.  I do thank you for reaching out though!

[2020-09-16 03:06] glc650 commented on #636
I've been having the same issue for at least a week now.

2020-09-15 20:00:04 (info): Unable to update container /watchtower-monitor, err='Error response from daemon: Get https://registry-1.docker.io/v2/containrrr/watchtower/manifests/latest: received unexpected HTTP status: 500 Internal Server Error'. Proceeding to next.

[2020-09-18 08:42] Zixim commented on #636
Same here :
[code]

[2020-09-19 04:47] totti4ever opened #648 "Cannot update private container, credentials missing"
Hi,

from #55 and #68 I figured out, I have to add to my image name, what I did:

[code]

But I still get an error:
[code]

Looking into my config.json, I do find the following:
[code]

Message stays the same when I add the following to the json file:
[code]

latest version of watchdog on Ubuntu 18

P.S.: a manual docker-compose pull works

[2020-09-19 15:21] simonaronsson commented on #636
Well, we can't really do that much about this, as it's a TLS timeout. @Zixim, If the problem remains, but it works when running `docker pull`, feel free to open another issue. Otherwise, it's on the docker hub (or your network) side of things, unfortunately.

[2020-09-19 15:21] #636 closed, assigned to nobody

[2020-09-19 15:21] ghost commented on #636
To avoid important communication to get lost in a closed issues no one monitors, I'll go ahead and lock this issue. If you want to continue the discussion, please open a new issue. Thank you! 🙏🏼

[2020-09-19 15:50] simonaronsson opened #649 "Make watchtower skip update if pre-update lifecycle hook exits with a non-zero exit code"
_Originally posted by @simskij in https://github.com/containrrr/watchtower/discussions/647#discussioncomment-81488_

[2020-09-19 15:51] simonaronsson commented on #648
Hey!

Would you mind posting the command and/or config you use to launch watchtower?

Thanks,
Simme

[2020-09-19 19:56] simonaronsson commented on #649
This should be a small self-contained fix in `pkg/container/client.go` around line 380-383, where we need to add an error return:

[code]

[2020-09-19 21:07] totti4ever commented on #648
[code]

I thought, it might be because of the last line commented out - but actually, if I remove the comment, I get
[code]
for every single image?!

[2020-09-19 21:15] totti4ever commented on #648
But, at least it apparently works for syncthing then?! So, should I care for the error of my last comment? If not, I'm fine! :-)

[2020-09-20 12:44] ShaileshSurya commented on #649
Hi, @simskij Looks like a small change here. What should be the error to return here for exitcode other than 0?

It will be great if you could provide the error string.

Also, What is the timeline around this. This looks like targeted for hactoberfest and the event is still days away.

[2020-09-20 16:56] simonaronsson commented on #649
If you want to do it, feel free. I just thought it would be a good hacktoberfest issue, given the very limited scope. 😅

The current error text, but lowercased and without a trailing dot will do for now. Switching that call to `fmt.Errorf` and then printing that one using the logger should be be sufficient. 👍

[2020-09-22 11:28] yrien30 commented on #649
Is it possible to read message printed from the preupdate script and log that as error when exit code is higher than 0 ? I thought it would be saved to execOutput variable but that is not the case.

When WATCHTOWER_INCLUDE_STOPPED=true is set : then failing to run the script because the docker container is not running should not prevent a update.

[2020-09-22 11:43] yrien30 opened #650 "Updating containers that is rebooting"
Hi,
if we at some point we introduce a problem in a docker container that cause crashing of the container then it will be standing in a reboot loop if --restart always is set on that container. Even if you include WATCHTOWER_INCLUDE_STOPPED=true then it will not update the container when it standing in a reboot loop. I though it would be a good idea to introduce a new setting WATCHTOWER_INCLUDE_RE

[2020-09-23 09:09] simonaronsson commented on #650
Sure! This sounds like a reasonable addition. Feel free to provide a PR and I'll make sure to review it. 👍  🙏

[2020-09-27 13:19] kevdogg opened #653 "Inclusion of docker secrets not working"
I'm originally referencing this closed issue:
https://github.com/containrrr/watchtower/issues/532

It was my understanding the use of docker secrets was merged to next release on Jun 10.  Perhaps it was not.

Briefly I'm trying to pass the WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD as a docker secret and not as plaintext within configuration file.

The following will work:

[code]

However the